﻿<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="PCMS">
    <meta name="author" content="Manuel Schall">

    <title>>@ViewBag.Title - PCMS</title>

    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/bootstrap")*@
    <link href="~/Content/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
  @*  <link href="~/Content/selectize.css" rel="stylesheet" />*@
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/admin2")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")



</head>

<body>
    <style type="text/css">
        #modalLoader {
            display: none;
            position: fixed;
            top: 45%;
            left: 45%;
            width: 100px;
            height: 100px;
            padding: 30px 15px 0px;
            border: 3px solid #ababab;
            box-shadow: 1px 1px 10px #ababab;
            border-radius: 20px;
            background-color: white;
            z-index: 1002;
            text-align: center;
            overflow: auto;
        }
        .modal-lg {
        max-width: 900px;
        width: 900px;
    }
    </style>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="~/Content/img/Logo_02_50mm.jpg" />
                @*<img src="~/Content/img/Logo_01_web.png" />*@
                 <a title="v.16_01_14" class="navbar-brand" href="@Url.Action("Index","Home")"><b>P</b>lant <b>C</b>ontrol <b>M</b>anagement <b>S</b>ystem</a>
                

            </div>

            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a titel="verwalten" class="username" href="@Url.Action("Index","Manage",new { area = "" })"><i class="fa fa-user fa-fw"></i> @User.Identity.Name</a>
                        </li>
                        <li>
                            <a href=""Index","Manage",new { area = "" }"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                             @using (Html.BeginForm("LogOff", "Account",new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                             {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i>Abmelden</a>
                            }
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            @if (PCMS.Helper.Definitions.getFactoryGroup() == 0)
            {
                <div class="nav navbar-right" style="padding-right: 200px;">Laufender Auftrag:<span class="actualOrder"> @(PCMS.Helper.DeliveryNotePrint.getAktualOder() != null ? PCMS.Helper.DeliveryNotePrint.getAktualOder().OrderNumber : "" )</span></div>
            }
            
            <!-- /.navbar-top-links -->
            @Html.Action("MenuPartial", "Menu", new { area = "" })

            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"><h1 class="page-header">@ViewBag.Title</h1></div>
                    <div id="modalLoader">
                        <img id="ajaxLoader" style="" src="/Content/img/ajax-loader.gif" />
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        @RenderSection("featured", required: false)
                        @RenderBody()
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/metisMenu.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pcms.js"></script>
    @*<script type="text/javascript" src="~/Scripts/selectize.min.js"></script>*@
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/de.js"></script>
    @Scripts.Render("~/bundles/admin2Js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var actualOrderThrad;
        var actualOrderThradCount=0;
        var getActualOrderflag = @(PCMS.Helper.Definitions.getFactoryGroup() != 0 ? "false" : "true");
        var getOrderInterval = 1000;
        $(document).bind("ajaxSend", function () {
            $('#ajaxLoader').show();
            $('#modalLoader').show();
        }).bind("ajaxComplete", function () {
            $("#ajaxLoader").hide();
            $("#modalLoader").hide();
        });
        $(document).ready(function () {
            actualOrderThrad = setInterval(getActualOrder, getOrderInterval);
        })
        function getActualOrder() {

            if (getActualOrderflag) {
                getActualOrderflag = false;
                $.ajax({
                    url: "/menu/getActualOrder",
                    type: "POST",
                    //data: JSON.stringify(pg),
                    dataType: "json",
                    global: false,
                    contentType: 'application/json',
                    success: function (data) {
                        actualOrderThradCount=0;
                        getActualOrderflag = true;
                        getOrderInterval = 1500;
                        $(".actualOrder").text(data.OrderNumber);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if(actualOrderThradCount > 20)
                            clearInterval(actualOrderThrad);
                        getOrderInterval = 10000;
                        getActualOrderflag = true;
                        $(".actualOrder").text("keine Verbindung");
                        actualOrderThradCount ++;
                    }
                });
            }

            
        }
    </script>

</body>

</html>