﻿
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-2"><a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-times"></i> Abbrechen</a></div>
    @if (ViewData["Customer"] != null)
    {
        @*<div class="col-md-2"><a class="btn btn-default" href="@Url.Action("VehicleIndex")"><i class="fa fa-truck"></i> Fahrzeuge</a></div>*@
        <div class="col-md-1"><button type="button" url="@ViewData["Customer"]" class="btn btn-default">Fahrzeuge</button></div>
    }
    <div class="col-md-2">  <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    @if (ViewData["Report"] != null)
    {
        <div class="col-md-2"><button id="getReportBtn" type="button" url="@ViewData["Report"]" class="getReportBtn btn btn-default">Report</button></div>
    }

</div>
<hr />
