﻿@model System.Exception

@{
    Layout = null;
}

<h1 class="warning"><p class="text-danger">Hoppla....</p></h1>
<h4 class="warning"><p class="text-primary">...das war so nicht gedacht.</p></h4>

<div class="col-lg-12">
    <div class="div-white">
        @Html.Raw(PCMS.Helper.ExceptionHelper.ExceptionView.RenderExceptionView(Model));
    </div>
</div>