﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_material_Aggregate>
@using PagedList.Mvc
<div class="tableContent" tablename="md_material_Aggregate">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Gesteinskörnung Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseAggregate","md_masterData_Aggregates", new { area = "MasterData" } )" class="table table-hover table-condensed" tablename="md_material_Aggregate">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" onclick="sort(this)" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="Description" onclick="sort(this)" style="">@Html.DisplayNameFor(model => model[0].Description)</th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="Id" tablename="md_material_Aggregate"></th>
                    <th style="" class="head-filter" columnname="Description" tablename="md_material_Aggregate"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseAgg(this)">
                        <td columnname="Id" style="" tablename="md_material_Aggregate">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Description" style="" tablename="md_material_Aggregate">@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>


<script>
    function chooseAgg(e) {
        $("#aggregate_Description").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
        $("#Aggre input").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#Modal").modal("hide");
    }
</script>
