﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Zuschlagstoff anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div id="facId">@Html.HiddenFor(model => model.material.FacilitiesId)</div>
    @*<div id="MatType">@Html.HiddenFor(model => model.material.MaterialTypeId)</div>*@
    <div id="Deliverer">@Html.HiddenFor(model => model.material.DelivererId)</div>


    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ArticleNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ArticleNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.MaterialNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.MaterialNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.MaterialNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Name)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ShortName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ShortName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Density, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Density, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Density)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Unit, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Unit)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment1, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment1)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment2, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment2)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment3, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment3)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment4, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment4)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment5, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment5)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.material.Price, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.material.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Price)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
    }

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.deliverer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.deliverer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deliverer.Name)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Lieferant auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseDeliverer","md_masterData_Material", new { area = "MasterData" })', Title='Lieferant auswählen')" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.facili.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.facili.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facili.Description)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Werk auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseFacilities","md_masterData_Material", new { area = "MasterData" })', Title = 'Werk auswählen')" />
        </div>
    </div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.materialType.Description, "Gesteinsart", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.material.MaterialTypeId, ViewBag.MaterialType as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.materialType.Description)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateMaterialType","md_masterData_Aggregates", new { area = "MasterData" })', Title='Gesteinsart anlegen ')" />
            </div>
            <div class="col-md-1">
                <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteMaterialType()" />
            </div>
        </div>
    }


    // ######################### Details Start #########################

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Details</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.aggregateDetails.Category, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.aggregateDetails.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aggregateDetails.Category)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.aggregateDetails.CECertification, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.aggregateDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aggregateDetails.CECertification)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.aggregateDetails.DateOfIssue, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.aggregateDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aggregateDetails.DateOfIssue)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.aggregateDetails.TerminationDate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.aggregateDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aggregateDetails.TerminationDate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.geo.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.GeologicalSourceId, ViewBag.Geo as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.GeologicalSourceId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateGeological","md_masterData_Aggregates", new { area = "MasterData" })', Title='Geologische Herkunft anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteGeological()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.petrograph.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.PetrographicTypeId, ViewBag.Petro as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.PetrographicTypeId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreatePetrograph","md_masterData_Aggregates", new { area = "MasterData" })', Title='Petrographischen Typ anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeletePetrograph()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.gravelType.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.GravelTypeId, ViewBag.GType as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.GravelTypeId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateGravelType","md_masterData_Aggregates", new { area = "MasterData" })', Title='Kornart anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteGravelType()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.aggregate.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.AggregateId, ViewBag.Aggregate as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.AggregateId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateAggregate","md_masterData_Aggregates", new { area = "MasterData" })', Title='Körnung anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteAggregate()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.gravelGroup.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.GravelGroupId, ViewBag.GGroup as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.GravelGroupId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateGradinGroup","md_masterData_Aggregates", new { area = "MasterData" })', Title='Korngruppe anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteGradinGroup()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.NormId, ViewBag.Norm as SelectList, "--auswählen--" , htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.aggregateDetails.NormId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateStandard","md_masterData_Aggregates", new { area = "MasterData" })', Title='Norm anlegen')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteStandard()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.suitability.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.SuitabilityId, ViewBag.Suitability as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.SuitabilityId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateSuitability","md_masterData_Aggregates", new { area = "MasterData" })', Title='Eignung anlegen')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteSuitability()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.alkali.Class, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.AlkaliGroupId, ViewBag.Alkali as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.AlkaliGroupId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateAlkali","md_masterData_Aggregates", new { area = "MasterData" })', Title='Alkaliklasse anlegen')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteAlkali()" />
        </div>
    </div>
    // Änderungen von Hakan Matzir am 12.04.2016 Start

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.Label("Regelsieblinie", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.aggregateDetails.RuleGradingCurveId, ViewBag.RuleGradingCurve as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aggregateDetails.RuleGradingCurveId)
            </div>
        </div>
    </div>

    // Änderungen von Hakan Matzir am 12.04.2016 Ende
    <div>
        <br />
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}

<script>
    function DeleteStandard() {
        var url = '@Url.Action("DeleteStandard","md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_NormId').val();
        openModal(url, "Norm löschen");
    }

    function DeleteGradinGroup() {
        var url = '@Url.Action("DeleteGradinGroup", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_GravelGroupId').val();
        openModal(url, "Korngruppe löschen");
    }

    function DeleteAggregate() {
        var url = '@Url.Action("DeleteAggregate", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_AggregateId').val();
        openModal(url, "Körnung löschen");
    }

    function DeleteGravelType(){
        var url = '@Url.Action("DeleteGravelType", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_GravelTypeId').val();
        openModal(url, "Kornart löschen");
    }

    function DeletePetrograph() {
        var url = '@Url.Action("DeletePetrograph", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_PetrographicTypeId').val();
        openModal(url, "Petrographischen Typ löschen");
    }

    function DeleteGeological() {
        var url = '@Url.Action("DeleteGeological", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_GeologicalSourceId').val();
        openModal(url, "Geologische Herkunft löschen");
    }

    function DeleteSuitability() {
        var url = '@Url.Action("DeleteSuitability", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_SuitabilityId').val();
        openModal(url, "Eignung löschen");
    }

    function DeleteAlkali() {
        var url = '@Url.Action("DeleteAlkali", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#aggregateDetails_AlkaliGroupId').val();
        openModal(url, "Alkaliklasse löschen");
    }

    function DeleteMaterialType() {
        var url = '@Url.Action("DeleteMaterialType", "md_masterData_Aggregates", new { area = "MasterData" })' + "?id=" + $('#material_MaterialTypeId').val();
        openModal(url, "Gesteinsart löschen");
    }

</script>
