﻿@model PCMS.Areas.MasterData.Models.md_material_AlkaliGroup
@{
    ViewBag.Title = "DeleteSuitability";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Class)
    @Html.HiddenFor(model => model.ContentValue)
    @Html.HiddenFor(model => model.WO)
    @Html.HiddenFor(model => model.WF)
    @Html.HiddenFor(model => model.WA)

    <div>Möchten sie die Alkaliklasse "@Html.DisplayTextFor(model => model.Class)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="closeWindow()" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="button" name="submit" id="submit" value="Löschen" class="btn btn-default" />
    </div>
}
<script>
    $("#submit").click(function () {
        $.post("/MasterData/md_masterData_Aggregates/RemoveAlkali", { id: $('#Id').val(), classDescription: $('#Class').val(), ContentValue: $("#ContentValue").val(), WO: $("#WO").val(), WF: $("#WF").val(), WA: $("#WA").val() }, function (data) {
            if(data == true)
            {
                $("#aggregateDetails_AlkaliGroupId option:selected").remove();
                $("#Modal").modal("hide");
            }
        });
    });

    function closeWindow() {
        $("#Modal").modal("hide");
    }
</script>