﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Aggregates">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Zuschlagstoffe Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <a class="btn btn-default" href="@Url.Action("Create","md_masterData_Aggregates", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neues Zuschlagstoff</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_masterData_Aggregates", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <button class="btn btn-default" onclick="filter('report', '/MasterData/md_masterData_Aggregates/Report')"><i class="fa fa-file-text-o"></i> Report</button>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

    <table class="table table-hover table-condensed" tablename="md_masterData_Aggregates" editUrl="@Url.Action("Edit", "md_masterData_Aggregates", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Aggregates", new { area = "masterData" })">
        <thead>
            <tr class="caption">
                <th onclick="sort(this)" editable="true" colname="ArticleNumber" style="">@Html.DisplayNameFor(model => model[0].ArticleNumber)</th>
                <th onclick="sort(this)" editable="false" colname="MaterialNumber" style="">@Html.DisplayNameFor(model => model[0].MaterialNumber)</th>
                <th onclick="sort(this)" editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                <th onclick="sort(this)" editable="true" colname="ShortName" style="">@Html.DisplayNameFor(model => model[0].ShortName)</th>
            </tr>
            <tr>
                <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Aggregates"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Aggregates"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Aggregates"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Aggregates"><input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Aggregates">@Html.DisplayFor(modelItem => item.ArticleNumber)</td>
                    <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Aggregates">@Html.DisplayFor(modelItem => item.MaterialNumber)</td>
                    <td class="column-value" columnname="Name" style="" tablename="md_masterData_Aggregates">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Aggregates">@Html.DisplayFor(modelItem => item.ShortName)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>