﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Lieferant löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.deliverer.Id)
    @Html.HiddenFor(model => model.deliverer.AddressId)
    @Html.HiddenFor(model => model.deliverer.Name)
    @Html.HiddenFor(model => model.deliverer.DelivererId)
    @Html.HiddenFor(model => model.deliverer.DelivererIdEDV)
    @Html.HiddenFor(model => model.deliverer.ContactId)
    @Html.HiddenFor(model => model.deliverer.IsActive)
    @Html.HiddenFor(model => model.deliverer.IsDeleted)
    @Html.HiddenFor(model => model.deliverer.AddressId)

    <div>Möchten sie den Lieferant "@Html.DisplayTextFor(model => model.deliverer.Name)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}