﻿@model PCMS.Areas.Material.Models.md_sort_Directory
@{
    ViewBag.Title = "Sortenverzeichnis erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml", new ViewDataDictionary { { "Report", "/Material/md_sort_directory/ReportDetail/" }, { "Copy", "/Material/md_sort_directory/ReportDetail/" } })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="col-md-6">
            <div class="form-horizontal">


                @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Identity)
                    @Html.HiddenFor(model => model.FacoryId)
                    @Html.HiddenFor(model => model.Rev)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.IsDeleted)



                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.DescriptionHeaderLeft, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DescriptionHeaderLeft, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescriptionHeaderLeft, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.DescriptionLeft1, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DescriptionLeft1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescriptionLeft1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DescriptionLeft2, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DescriptionLeft2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescriptionLeft2, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DescriptionHeaderright, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DescriptionHeaderright, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionHeaderright, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DescriptionRight1, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DescriptionRight1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionRight1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescriptionRight2, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DescriptionRight2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionRight2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div>
            <table class="table md_sort_DirectoryDetails">
                <thead>
                <tr><th>Zeile</th><th>Sortennr.</th><th>Festigkeitskl.</th><th>Expositionsklasse</th><th>Konsistenskl.</th><th>Festigkeitsent.</th><th>Zement</th><th>w/z (eq)</th><th>Dmax</th><th>Zusatsstoff</th><th>Zusatsstoffmege</th><th>Zusatsmittel</th><th>Gesteinsart</th><th>Zusatsinformation</th><th>löschen</th></tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Md_sort_DirectoryDetails != null)
                    {
                        foreach (var item in Model.Md_sort_DirectoryDetails)
                        {
                            if (item.Type == 0)
                            {
                                <tr><td class="rowNo"><input class="sort" style="max-width:35px" value="@item.Sort" name="Md_sort_DirectoryDetails[].Sort" /><input style="max-width:35px" class="type" type="hidden" value="0" name="Md_sort_DirectoryDetails[].Type" /></td><td colspan="5"><input class="groupName" style="max-width:100%;width:100%" value="@item.GroupName" name="Md_sort_DirectoryDetails[].GroupName" /></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button type="button" onclick="deleteRow(this)">löschen</button></td></tr>
                            }
                            else if (item.Type == 1)
                            {
                                {
                                    string td = "<td class=\"rowNo\"><input class=\"sort\" style=\"max-width:35px\" value=\"" + item.Sort + "\" name=\"Md_sort_DirectoryDetails[].Sort\" /><input type=\"hidden\" class=\"groupName\" name=\"Md_sort_DirectoryDetails[].GroupName\" value=\"" + item.GroupName + "\" /><input style=\"max-width:35px\" class=\"type\" type=\"hidden\" value=\"1\" name=\"Md_sort_DirectoryDetails[].Type\" /></td>";
                                    td += "<td>" + item.SortNo + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].SortNo\" value=\"" + item.SortNo + "\" /></td>";
                                    td += "<td>" + item.Compression + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Compression\" value=\"" + item.Compression + "\" /></td>";
                                    td += "<td>" + item.Exposure + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Exposure\" value=\"" + item.Exposure + "\" /></td>";
                                    td += "<td>" + item.Consistency + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Consistency\" value=\"" + item.Consistency + "\" /></td>";
                                    td += "<td>" + item.Progress + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Progress\" value=\"" + item.Progress + "\" /></td>";
                                    td += "<td>" + item.Cement + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Cement\" value=\"" + item.Cement + "\" /></td>";
                                    td += "<td>" + item.WZValue + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].WZValue\" value=\"" + item.WZValue + "\" /></td>";
                                    td += "<td>" + item.Aggreagete + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Aggreagete\" value=\"" + item.Aggreagete + "\" /></td>";
                                    td += "<td>" + item.Additive + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Additive\" value=\"" + item.Additive + "\" /></td>";
                                    td += "<td>" + item.AdditiveWeight + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].AdditiveWeight\" value=\"" + item.AdditiveWeight + "\" /></td>";
                                    td += "<td>" + item.Admixture + "<input type=\"hidden\" name=\"Md_sort_DirectoryDetails[].Admixture\" value=\"" + item.Admixture + "\" /></td>";
                                    td += "<td><input type=\"text\" name=\"Md_sort_DirectoryDetails[].SortType\" value=\"" + item.SortType + "\"> </td>";
                                    td += "<td><input name=\"Md_sort_DirectoryDetails[].AdditionalInfo\" value=\"" + item.AdditionalInfo + "\" > </td>";
                                    td += "<td><button type=\"button\" onclick=\"deleteRow(this)\" >löschen</button></td>";
                                    td = "<tr>" + td + "</tr>";
                                    @Html.Raw(td);
                                }

                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <button type="button" onclick="addTextRow()">Text Zeile hinzufügen</button>
        <button type="button" onclick="addMaterial('/material/md_sort_directory/choosConcrete')">Sorte hinzufügen</button>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_b.cshtml")
}

<script type="text/javascript">
    function addTextRow() {
        $(".md_sort_DirectoryDetails tbody").append('<tr><td class="rowNo"><input class="sort" style="max-width:35px" name="Md_sort_DirectoryDetails[].Sort" /><input class="type" style="max-width:35px" type="hidden" value="0" name="Md_sort_DirectoryDetails[].Type" /></td><td colspan="5" ><input class="groupName" style="max-width:100%;width:100%" name="Md_sort_DirectoryDetails[].GroupName" /></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button type="button" onclick="deleteRow(this)" >löschen</button></td></tr>');
        coutRows();
    }
    function deleteRow(e) {
        $(e).closest("tr").remove();
        coutRows();
    }
    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
            }
        });

    }
    function ChooseMaterial2(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
    function getMaterialById(e) {
        $("#aggre").modal("hide");
        var number = $(e).closest("tr").attr("id");
        var _url = "/material/md_sort_directory/getConcrete/" + number;
        $.ajax({
            url: _url,
            type: "POST",
            dataType: "Json",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                var td = '<td class="rowNo"><input class="sort" style="max-width:35px" name="Md_sort_DirectoryDetails[].Sort" /><input type="hidden" class="groupName"  name="Md_sort_DirectoryDetails[].GroupName"><input class="type" style="max-width:35px" type="hidden" value="1" name="Md_sort_DirectoryDetails[].Type" /></td>';
                td += '<td>' + data.con.ArticleNumber + '<input type="hidden" name="Md_sort_DirectoryDetails[].SortNo" value="' + data.con.ArticleNumber + '" /></td>';
                td += '<td>' + data.compression + '<input type="hidden" name="Md_sort_DirectoryDetails[].Compression" value="' + data.compression + '" /></td>';
                td += '<td>' + data.exposure + '<input type="hidden" name="Md_sort_DirectoryDetails[].Exposure" value="' + data.exposure + '" /></td>';
                td += '<td>' + data.consistency + '<input type="hidden" name="Md_sort_DirectoryDetails[].Consistency" value="' + data.consistency + '" /></td>';
                td += '<td>' + data.progress + '<input type="hidden" name="Md_sort_DirectoryDetails[].Progress" value="' + data.progress + '" /></td>';
                td += '<td>' + data.cement + '<input type="hidden" name="Md_sort_DirectoryDetails[].Cement" value="' + data.cement + '" /></td>';
                td += '<td>' + data.wz + '<input type="hidden" name="Md_sort_DirectoryDetails[].WZValue" value="' + data.wz + '" /></td>';
                td += '<td>' + data.aggregate + '<input type="hidden" name="Md_sort_DirectoryDetails[].Aggreagete" value="' + data.aggregate + '" /></td>';
                td += '<td>' + data.additive + '<input type="hidden" name="Md_sort_DirectoryDetails[].Additive" value="' + data.additive + '" /></td>';
                td += '<td>' + data.additeveWeight + '<input type="hidden" name="Md_sort_DirectoryDetails[].AdditiveWeight" value="' + data.additeveWeight + '" /></td>';
                td += '<td>' + data.admixture + '<input type="hidden" name="Md_sort_DirectoryDetails[].Admixture" value="' + data.admixture + '" /></td>';
                td += '<td><input type="text" name="Md_sort_DirectoryDetails[].SortType" value=""> </td>';
                td += '<td><input name="Md_sort_DirectoryDetails[].AdditionalInfo"> </td>';
                td += '<td><button type="button" onclick="deleteRow(this)" >löschen</button></td>';




                var tr = '<tr>' + td + '</tr>';
                $(".md_sort_DirectoryDetails tbody").append(tr);
                coutRows();
            }
        });

    }
    function coutRows() {
        var groupName = "";
        $(".md_sort_DirectoryDetails tr").each(function (i, e) {
            if ($(e).find(".type").val() === "0") {
                groupName = $(e).find(".groupName").val();
            }
            else {
                $(e).find(".groupName").val(groupName);
            }
            $(e).find(".rowNo  .sort").val(i);
            $(e).find("input").each(function (u, l) {
                var name = $(l).attr("name");
                if(name != undefined)
                    $(l).attr("name", name.replace(/\[.*?\]/, "[" + (i - 1) + "]"));
            })
        })
        $(".sort").off("change");
        $(".sort").on("change", function (ev) {
            sortI(ev.currentTarget);
        });

    }
    function sortI(e) {
        var line = ($(e).closest("tr").clone());
        var number = $(e).val();
        if ($(e).closest("tbody").find('.sort[value="' + number + '"]').length == 1) {
            $(e).closest("tbody").find('.sort[value="' + number + '"]').closest("tr").before(line);
            $(e).closest("tr").remove();
        }
        else if (number >= $(e).closest("tbody").find('.sort').length) {
            $(e).closest("tbody").find('.sort[value="' + ($(e).closest("tbody").find('.sort').length) + '"]').closest("tr").after(line);
            $(e).closest("tr").remove();
        }
        coutRows();
    }
    $(document).ready(function () {
        coutRows();
    });
    $("#copyModal").on("click", function () {
        CopyRecipe();
    });
    function CopyRecipe(titel, content, arg) {
        var id = $("#Id").val();
        var number = $("#Number").val();
        var description = $("#Description").val();
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">Verzeichnis kopieren:</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<form action="/material/md_sort_directory/copy" method="post">';
        modal += '<div class="row">';
        modal += '<input type="hidden" name="IdCopy" value="' + id + '"/> ';
        modal += '<div class="form-group"><label class="control-label col-md-3" for="NumberCopy">Verzeichnisnummer</label><div class="col-md-9"><input class="form-control text-box single-line" id="Number" name="NumberCopy" type="text" value="' + number + '"><span class="field-validation-valid text-danger" data-valmsg-for="Number" data-valmsg-replace="true"></span></div></div>';
        modal += '<div class="form-group"><label class="control-label col-md-3" for="DescriptionCopy">Verzeichnisname</label><div class="col-md-9"><input class="form-control text-box single-line" id="Description" name="DescriptionCopy" type="text" value="' + description + "-kopie" + '"><span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span></div></div>';
        modal += '<button id="" type="submit" url="" class=" btn btn-default"><i class="fa fa-files-o"></i> Kopieren</button>';
        modal += '</div>';
        modal += '</div>';
        modal += '</form>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }

</script>
