﻿@model PagedList.IPagedList<PCMS.Areas.Material.Models.md_sort_Directory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sorten Verzeichnis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_sort_Directory">
    <a class="btn btn-default" href="@Url.Action("Create","md_sort_directory", new { area = "material" })"><i class="fa fa-plus"></i>Sorten Verzeichnis hinzufügen</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_sort_directory", new { area = "material" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_sort_Directory" editUrl="@Url.Action("Edit", "md_sort_directory", new { area = "material" })" deleteUrl="@Url.Action("Delete", "md_sort_directory", new { area = "material" })" detailsUrl="@Url.Action("Details", "md_sort_Directory", new { area = "material" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@                  
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="md_sort_Directory">
                    </th>*@                    
                    <th style="" class="head-filter" columnName="Description" tableName="md_sort_Directory">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Description" />
                    </th>
                    <th style="" class="head-filter" columnName="Number" tableName="md_sort_Directory">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Number" />
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_sort_Directory">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@                   
                        <td class="column-value" isKey="false" columnName="Description" style="" tableName="md_sort_Directory">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="Number" style="" tableName="md_sort_Directory">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>                       
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    </div>
</div>