﻿
@model PagedList.IPagedList<PCMS.Areas.LIMS.Models.lims_morat_Test>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Ausgangsprüfungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<style>

</style>
<div class="tableContent" tablename="lims_morat_Test">
    <a class="btn btn-default" href="@Url.Action("Create","lims_morat_Test", new { area = "lims" })"><i class="fa fa-plus"></i> Neue Prüfung</a>
    <a class="btn btn-default" href="@Url.Action("Index","lims_morat_Test", new { area = "lims" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div class="form-inline topFilterContainer" columnName="FreshProbDate"> vom: <input class="date-from top-date-filter-value form-control" onchange="topDateFilterChange()" type="date" value="@ViewBag.FreshProbDateFrom" /> bis <input class="date-to top-date-filter-value form-control" onchange="topDateFilterChange()" type="date" value="@ViewBag.FreshProbDateTo" /></div> 
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="lims_morat_Test" editUrl="@Url.Action("Edit", "lims_morat_Test", new { area = "lims" })" deleteUrl="@Url.Action("Delete", "lims_morat_Test", new { area = "lims" })" detailsUrl="@Url.Action("Details", "lims_morat_Test", new { area = "lims" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Identity" style="display:none">
                        @Html.DisplayNameFor(model => model[0].Identity)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MaterilaNumber" style="">
                        @Html.DisplayNameFor(model => model[0].MaterilaNumber)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="StrengthClass" style="">
                        @Html.DisplayNameFor(model => model[0].StrengthClass)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ProbPlace" style="">
                        @Html.DisplayNameFor(model => model[0].ProbPlace)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Customer" style="">
                        @Html.DisplayNameFor(model => model[0].Customer)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ConstruktionSite" style="">
                        @Html.DisplayNameFor(model => model[0].ConstruktionSite)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DeliveryDate" style="">
                        @Html.DisplayNameFor(model => model[0].DeliveryDate)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="OrderNumber" style="">
                        @Html.DisplayNameFor(model => model[0].OrderNumber)
                    </th>
 
                    <th editable="false" onclick="sort(this)" colName="FreshProbDate" style="">
                        @Html.DisplayNameFor(model => model[0].FreshProbDate)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshWatherContent" style="">
                        @Html.DisplayNameFor(model => model[0].FreshWatherContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshSlump" style="">
                        @Html.DisplayNameFor(model => model[0].FreshSlump)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshSlumpFlow" style="">
                        @Html.DisplayNameFor(model => model[0].FreshSlumpFlow)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshMoratDensity" style="">
                        @Html.DisplayNameFor(model => model[0].FreshMoratDensity)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshAirContent" style="">
                        @Html.DisplayNameFor(model => model[0].FreshAirContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshCup250" style="">
                        @Html.DisplayNameFor(model => model[0].FreshCup250)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FreshComment" style="">
                        @Html.DisplayNameFor(model => model[0].FreshComment)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FixedPropDate" style="">
                        @Html.DisplayNameFor(model => model[0].FixedPropDate)
                    </th>
  
                    <th editable="false" onclick="sort(this)" colName="FixedMoratDensityM" style="">
                        @Html.DisplayNameFor(model => model[0].FixedMoratDensityM)
                    </th>
                    

                    <th editable="false" onclick="sort(this)" colName="FixedFlexuralStrengthM" style="">
                        @Html.DisplayNameFor(model => model[0].FixedFlexuralStrengthM)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FixedCompressiveStrengthM" style="">
                        @Html.DisplayNameFor(model => model[0].FixedCompressiveStrengthM)
                    </th>
                    
                    <th editable="false" onclick="sort(this)" colName="FixedMoratDensity24h105C" style="">
                        @Html.DisplayNameFor(model => model[0].FixedMoratDensity24h105C)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TesterName" style="">
                        @Html.DisplayNameFor(model => model[0].TesterName)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="Id" tableName="lims_morat_Test">
                    </th>
                    <th style="display:none" class="head-filter" columnName="Identity" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="MaterilaNumber" tableName="lims_morat_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.MaterilaNumber" />
                    </th>
                    <th style="" class="head-filter" columnName="StrengthClass" tableName="lims_morat_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.StrengthClass" />
                    </th>
                    <th style="" class="head-filter" columnName="ProbPlace" tableName="lims_morat_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.ProbPlace" />
                    </th>
                    <th style="" class="head-filter" columnName="Customer" tableName="lims_morat_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Customer" />
                    </th>
                    <th style="" class="head-filter" columnName="ConstruktionSite" tableName="lims_morat_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.ConstruktionSite" />
                    </th>
                    <th style="" class="head-filter" columnName="DeliveryDate" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="OrderNumber" tableName="lims_morat_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.OrderNumber" />
                    </th>

                    <th style="" class="head-filter" columnName="FreshProbDate" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshWatherContent" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshSlump" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshSlumpFlow" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshMoratDensity" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshAirContent" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshCup250" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FreshComment" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FixedPropDate" tableName="lims_morat_Test">

                    <th style="" class="head-filter" columnName="FixedMoratDensityM" tableName="lims_morat_Test">
                    </th>
                    

                    <th style="" class="head-filter" columnName="FixedFlexuralStrengthM" tableName="lims_morat_Test">
                    <th style="" class="head-filter" columnName="FixedCompressiveStrengthM" tableName="lims_morat_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FixedMoratDensity24h105C" tableName="lims_morat_Test">
<th style="" class="head-filter" columnName="TesterName" tableName="lims_morat_Test">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value" isKey="true" columnName="Id" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value" isKey="false" columnName="Identity" style="display:none" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.Identity)
                        </td>
                        <td class="column-value" isKey="false" columnName="MaterilaNumber" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.MaterilaNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="StrengthClass" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.StrengthClass)
                        </td>
                        <td class="column-value" isKey="false" columnName="ProbPlace" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.ProbPlace)
                        </td>
                        <td class="column-value" isKey="false" columnName="Customer" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td class="column-value" isKey="false" columnName="ConstruktionSite" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.ConstruktionSite)
                        </td>
                        <td class="column-value" isKey="false" columnName="DeliveryDate" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.DeliveryDate)
                        </td>
                        <td class="column-value" isKey="false" columnName="OrderNumber" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshProbDate" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshProbDate)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshWatherContent" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshWatherContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshSlump" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshSlump)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshSlumpFlow" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshSlumpFlow)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshMoratDensity" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshMoratDensity)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshAirContent" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshAirContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshCup250" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshCup250)
                        </td>
                        <td class="column-value" isKey="false" columnName="FreshComment" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FreshComment)
                        </td>
                        <td class="column-value" isKey="false" columnName="FixedPropDate" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FixedPropDate)
                        </td>
                        <td class="column-value" isKey="false" columnName="FixedMoratDensityM" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FixedMoratDensityM)
                        </td>
                        
                        <td class="column-value" isKey="false" columnName="FixedFlexuralStrengthM" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FixedFlexuralStrengthM)
                        </td>
                        <td class="column-value" isKey="false" columnName="FixedCompressiveStrengthM" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FixedCompressiveStrengthM)
                        </td>
                        <td class="column-value" isKey="false" columnName="FixedMoratDensity24h105C" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.FixedMoratDensity24h105C)
                        </td>
                        <td class="column-value" isKey="false" columnName="TesterName" style="" tableName="lims_morat_Test">
                            @Html.DisplayFor(modelItem => item.TesterName)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
       
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>