﻿@model PCMS.Areas.Admin.Models.facilities

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>facilities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseMixingLines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseMixingLines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MixingLines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MixingLines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concrete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concrete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mortar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mortar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
