﻿
@{
    ViewBag.Title = "Verbrauchte/Hergestellte Materialien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="radio">
    <label>
        <input type="radio" onchange="getNewChartData()" name="direction" id="direction1" value="1" checked>
        verbauchtes Material
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" onchange="getNewChartData()" name="direction" id="direction2" value="2">
        produziertes Material
    </label>
</div>
<select onchange="getNewChartData()" id="duration" class="form-control">
    <option value="day">Tag</option>
    <option value="week">Woche</option>
    <option value="month">Monat</option>
    <option value="year">Jahr</option>
</select>

<canvas id="produced" width="400" height="400"></canvas>
<script src="~/Scripts/Chart2_4_0.js"></script>
<script type="text/javascript">
    $(document).on("ready", function () {
        createChart();
    });
    var ctx = document.getElementById("produced");
    var myDoughnutChart;
    var data = {
        labels: [ @Html.Raw(ViewBag.labels)],
        datasets: [
        {
            data: [ @(ViewBag.amount)],
            backgroundColor: [ @Html.Raw(ViewBag.color)]
            }
        ]
    };

    function createChart() {
        //myDoughnutChart.destroy();
        myDoughnutChart = new Chart(ctx,
        {
            type: 'pie',
            data: data
            //options: options
        });
    }

    function getNewChartData() {
        var direction = $('input[name=direction]:checked').val();
        var duration = $('#duration').val();
        $.post("GetChartData",
            { direction: direction, duration: duration },
            function(chartData, textStatus) {
                updateChart(chartData.label,chartData.value,chartData.color)
            },
            "json");
    }

    function updateChart(labels, values, colors) {
        data = {
            labels: labels,
            datasets: [
            {
                data: values,
                backgroundColor: colors
            }]
        }
        myDoughnutChart.destroy();
        myDoughnutChart = new Chart(ctx, {
            type: 'pie',
            data: data
            //options: options
        });
    }
</script>
