﻿@model PCMS.Areas.RecipeM.Models.md_recipe_RecipeM

@{
    ViewBag.Title = "Löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@if (Model.RecipeConcrete.Count() == 0)
{
    <h3>Sicher das Sie das Rezept:"@Model.Description" löschen wollen?</h3>
}
else
{
    <h3>Das Rezept:"@Model.Description" kann nicht gelöcht werden, da es noch verwendet wird:</h3>
    <p>Fabrikate:</p>
    <ul>
        @foreach(var l in Model.RecipeConcrete)
        {
            <li style="color:red">@l.Md_material_Material.Name</li>
        }
        </ul>
}
<div>

    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        

        @*<dt>
            @Html.DisplayNameFor(model => model.RecipeTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsistencySetPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsistencySetPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxWCValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxWCValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualValueTolerance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualValueTolerance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetPointDeviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetPointDeviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MixerFilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MixerFilling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasteWaterFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasteWaterFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchProgram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchProgram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FillMonitoringCement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FillMonitoringCement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FillRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FillRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CementEmptyingDelay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CementEmptyingDelay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterEmptyingDelay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterEmptyingDelay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditiveEmptyingDelay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditiveEmptyingDelay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoamAdditionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoamAdditionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MixingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MixingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmptyingPartlyOpen1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmptyingPartlyOpen1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmptyingPartlyOpen2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmptyingPartlyOpen2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmptyingOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmptyingOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuitabilityGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuitabilityGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConcreteFamilyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcreteFamilyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExposureGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExposureGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirVoidContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirVoidContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentOfCement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentOfCement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolidMaterialrest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolidMaterialrest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aggregate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aggregate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AggregateFixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AggregateFixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceDamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceDamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WetConcreteDensity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WetConcreteDensity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealGrain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealGrain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealFineGrain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealFineGrain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MortarContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MortarContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClementPaste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClementPaste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WZValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WZValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WZValueEq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WZValueEq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.RecipeConcrete.Count() == 0)
            {
                <input type="submit" value="Löschen" class="btn btn-default" /> 
            }
            else
            {
                <input type="submit" disabled value="Löschen" class="btn btn-default" /> 
            }


            | @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
