﻿@model PCMS.Areas.Material.Models.md_material_LocationGroup

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


@if(((List<PCMS.Areas.Material.Models.md_material_Location>)ViewBag.MaterialLocation).Count() != 0)
{
    <h3>Kann nicht gelöscht werden da es noch verwendet wird: </h3>
}
else
{
    <h3> Wollen sie dies sicher löschen</h3>
}

Lagerorte:
<ul style="color:red" >
    @foreach(var u in ((List<PCMS.Areas.Material.Models.md_material_Location>)ViewBag.MaterialLocation))
    {
        <li>@u.Description </li>
    }

</ul>


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (((List<PCMS.Areas.Material.Models.md_material_Location>)ViewBag.MaterialLocation).Count() != 0)
            {
                <input disabled type="submit" value="Löschen" class="btn btn-default" />
            }
            else
            {
                <input type="submit" value="Löschen" class="btn btn-default" />
            }
            
            | @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
