﻿@model PagedList.IPagedList<PCMS.Areas.Material.Models.md_material_LocationGroup>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Lagergruppen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_material_LocationGroup">
    <a class="btn btn-default" href="@Url.Action("Create","md_material_LocationGroup", new { area = "material" })"><i class="fa fa-plus"></i> Lagergruppe hinzufügen</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_material_LocationGroup", new { area = "material" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_material_LocationGroup" editUrl="@Url.Action("Edit", "md_material_LocationGroup", new { area = "material" })" deleteUrl="@Url.Action("Delete", "md_material_LocationGroup", new { area = "material" })" detailsUrl="@Url.Action("Details", "md_material_LocationGroup", new { area = "material" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="md_material_LocationGroup">
                    </th>*@
                    <th style="" class="head-filter" columnName="Description" tableName="md_material_LocationGroup">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Description" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_material_LocationGroup">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Description" style="" tableName="md_material_LocationGroup">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>