﻿@model List<PCMS.Areas.WorkDiary.Models.md_workDiary_workDiary_View>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Werk Tagebuch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@*@Html.Partial("~/Areas/Dashboard/Views/WorkDiary/Index.cshtml",new {date = ((DateTime)ViewBag.Date)  })*@
@*@RenderPage("~/Areas/Dashboard/Views/WorkDiary/Index.cshtml", new { date = ((DateTime)ViewBag.Date) })*@
@*@{Html.RenderAction("~/Areas/Dashboard/Views/WorkDiary/Index.cshtml", new { date = ((DateTime)ViewBag.Date) }); }*@
<div class="row">
    <div class="col-md-7"><a class="btn btn-default" href="@Url.Action(actionName: "Create",controllerName: "md_workDiary_workDiary", routeValues: new { area = "WorkDiary" })"><i class="fa fa-plus"></i> Neuer Eintrag</a></div>

    <div class="col-md-5"><button id="getReportBtn" type="button" url="/WorkDiary/md_workDiary_workDiary/ReportDetail/" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Report</button></div>
   
    <div class="col-md-2"><h2><a href="@Url.Action("Index","md_workDiary_workDiary", new { area = "WorkDiary", date=(((DateTime) ViewBag.Date).AddMonths(-1).ToString("MM.dd.yyyy")) })"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> @ViewBag.Month <a href="@Url.Action("Index","md_workDiary_workDiary", new { area = "WorkDiary", date=(((DateTime) ViewBag.Date).AddMonths(1).ToString("MM.dd.yyyy")) })"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></h2> </div>
</div>
<input type="hidden" id="date" value="@(((DateTime) ViewBag.Date).ToString("MM.dd.yyyy"))"
       />
<div class="tableContent" tablename="md_workDiary_workDiary">
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_workDiary_workDiary" editUrl="@Url.Action("Edit", "md_workDiary_workDiary", new { area = "workDiary" })" deleteUrl="@Url.Action("Delete", "md_workDiary_workDiary", new { area = "workDiary" })" detailsUrl="@Url.Action("Details", "md_workDiary_workDiary", new { area = "workDiary" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="Timestamp" style="">
                        @Html.DisplayNameFor(model => model[0].Timestamp)
                    </th>
                    <th editable="false" title="Manuell(Produktion)" onclick="sort(this)" colName="TempratureMax" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].TemperatureMax)
                    </th>
                    <th editable="false" title="Manuell/Produktion" onclick="sort(this)" colName="TempratureMin" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].TemperatureMin)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TemperatureConcrete" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].TemperatureConcrete)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DensityResyclingWater" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].DensityResyclingWater)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DeliveryCount" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].DeliveryCount)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DeliveryAmount" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].DeliveryAmount)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ScaleTestCount" style="text-align: right;">
                        @Html.DisplayNameFor(model => model[0].ScaleTestCount)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Comment" style="text-align: left;">
                        @Html.DisplayNameFor(model => model[0].Comment)
                    </th>
                </tr>
                <tr>
                   
                    @*<th style="" class="head-filter" columnName="Timestamp" tableName="md_workDiary_ScalTest">
                    </th>
                    <th style="" class="head-filter" columnName="WeightNumber" tableName="md_workDiary_ScalTest">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.WeightNumber" />
                    </th>
                    <th style="" class="head-filter" columnName="Weight" tableName="md_workDiary_ScalTest">
                    </th>
                    <th style="" class="head-filter" columnName="WeightMeasured" tableName="md_workDiary_ScalTest">
                    </th>*@
                   
                </tr>
            </thead>
            <tbody>
                

                @foreach (var item in Model)
                {
                    <tr >
                        <td class="column-valuex" isKey="false" columnName="Timestamp" style="" tableName="md_workDiary_workDiary">
                            @(item.Timestamp.ToString("dd.MM.yyyy"))
                            @*@Html.DisplayFor(modelItem => item.Timestamp)*@
                        </td>
                        <td class="column-valuex" title="Manuell(Produktion)" isKey="false" columnName="TempratureMax" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @(item.TemperatureMaxManual == null ? "" : item.TemperatureMaxManual.ToString())  @(item.TemperatureMax == -111 ? "" : "(" + item.TemperatureMax.ToString() +")")
                            @*@Html.DisplayFor(modelItem => item.TempratureMax)*@
                        </td>
                        <td class="column-valuex" title="Manuell(Produktion)" isKey="false" columnName="TempratureMin" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @(item.TemperatureMinManual == null ? "" : item.TemperatureMinManual.ToString())   @(item.TemperatureMin == -111 ? "" : "(" + item.TemperatureMin.ToString() + ")")
                            @*@Html.DisplayFor(modelItem => item.TempratureMin)*@
                        </td>
                        <td class="column-valuex" isKey="false" columnName="TemperatureConcrete" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @(item.TemperatureConcrete != null ? item.TemperatureConcrete.ToString() : "-" )
                        </td>
                        <td class="column-valuex" isKey="false" columnName="DensityResyclingWater" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @(item.DensityResyclingWater != null ? item.DensityResyclingWater.ToString() : "-" )
                        </td>
                        <td class="column-valuex" isKey="false" columnName="DeliveryCount" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @Html.DisplayFor(modelItem => item.DeliveryCount)
                        </td>
                        <td class="column-valuex" isKey="false" columnName="DeliveryAmount" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @Html.DisplayFor(modelItem => item.DeliveryAmount)
                        </td>
                        <td class="column-valuex" isKey="false" columnName="ScaleTestCount" style="text-align: right;" tableName="md_workDiary_workDiary">
                            @Html.DisplayFor(modelItem => item.ScaleTestCount)
                        </td>
                        <td class="column-valuex" isKey="false" columnName="Comment" title="@Html.DisplayFor(modelItem => item.Comment)" style="text-align: left;max-width: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" tableName="md_workDiary_workDiary">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @*//--------------------------------------------------------------Start Pagging
        *@
        @*@Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)*@
    </div>
    </div>


<script type="text/javascript">
   
</script>