﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Baustelle erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="cId">@Html.HiddenFor(model => model.constructionSite.CustomerId)</div>

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Baustellendaten</h3></div>
    </div>
    <div><br /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.ConstructionSiteId, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.ConstructionSiteId, new { htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.constructionSite.ConstructionSiteId)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.constructionSite.Name)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.constructionSite.DistanceTime, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.constructionSite.DistanceTime, new { htmlAttributes = new { @class = "form-control timepicker-holdOffTime", type = "time", step = 1 } })
                @Html.ValidationMessageFor(model => model.constructionSite.DistanceTime)
            </div>
        </div>
    </div>

    <div class="col-md-12"><hr /></div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <input type="button" class="btn btn-default" value="Kunden auswählen" style="width:240px;" onclick="openModalChild('@Url.Action("ChooseCustomer","md_masterData_ConstructionSite", new { area = "MasterData" } )', Title='Kunde auswählen')" />
        </div>
    </div>
    <div><br /></div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.Name)
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}

<script>
    function openModalChild(url, titel) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            //contentType: 'application/json',
            success: function (data) {
                chooseModalChild(titel, data, ["", ""]);
            }
        });
    }

    function chooseModalChild(titel, content, arg) {
        var modal = "";
        modal += '<div id="ModalChild" class="modal fade">';
        modal += '<div class="modal-dialog">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }

    $("#address_ZipCode").blur(function(){
        $.post("/MasterData/md_masterData_Customer/SearchCity", { zip: $("#address_ZipCode").val() }, function (data) {
            $("#address_City").val(data.City);
        });
    });

    $("#address_City").blur(function(){
        $.post("/MasterData/md_masterData_Customer/SearchZip", { city: $("#address_City").val() }, function (data) {
            $("#address_ZipCode").val(data.Zip);
        });
    });
</script>