﻿
@model PCMS.Areas.LIMS.Models.lims_aggregate_Test

@{
    ViewBag.Title = "Rohstoffeingangsprüfung bearbeiten";
    if (ViewBag.CompanyType == 0)
    {
        ViewBag.Title = "Gesteinskörnungsprüfung";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="/Scripts/Chart.js"></script>*@
@*<script src="/Scripts/Chart2_1_6.min.js"></script>*@
<script src="/Scripts/Chart2_4_0.js"></script>
<script src="~/Scripts/GradingRuelChart.js"></script>

<div id="reportContainer" class="col-lg-12" style="display:none"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        .siveSizeRow th {
            text-align: center;
        }
    </style>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml", new ViewDataDictionary { { "Report", "/LIMS/lims_aggregate_Test/ReportDetail/" }, { "Copy", "/MasterData/md_masterData_Sort/Copy" } })
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <input type="hidden" id="GradingCurvSieveRangeId" value="@ViewBag.GradingCurvSieveRangeId" />
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Prüfung <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TestNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.TestNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TestNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RegistraionDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.RegistraionDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.RegistraionDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TestDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.TestDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.TestDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TestTypeId, "Art der Prüfung", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("TestTypeId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TestTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderClient, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.OrderClient, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderClient, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaterialId, "Material", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("MaterialId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "materialChange()" })
                                @Html.ValidationMessageFor(model => model.MaterialId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StateId, "Status", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("StateId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Outliner, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @*@Html.EditorFor(model => model.Outliner)
                                        @Html.ValidationMessageFor(model => model.Outliner, "", new { @class = "text-danger" })*@
                                    @Html.CheckBox("Outliner", (Model.Outliner ?? false), new { style = "width:30px;height:30px" })
                                    @Html.ValidationMessageFor(model => model.Outliner, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*----------------------------------------------------------------Panel  Anlieferung*@
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Anlieferung <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DeliverQuantity, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.DeliverQuantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeliverQuantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DeliveryNoteNo, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.DeliveryNoteNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeliveryNoteNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.SupplierId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                @*----------------------------------------------------------------Panel  Entnahme*@
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Entnahme <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "in kg" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbTakingDatetime, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @*@Html.EditorFor(model => model.ProbTakingDatetime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })*@
                                <input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Probenahme&quot; muss eine Datumsangabe sein." id="ProbTakingDatetime" name="ProbTakingDatetime" type="datetime-local" value="@(Model.ProbTakingDatetime.HasValue == true ? Model.ProbTakingDatetime.Value.ToString("yyyy-MM-ddThh:mm:ss") : "")">
                                @Html.ValidationMessageFor(model => model.ProbTakingDatetime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbEnteringDatetime, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @*@Html.EditorFor(model => model.ProbEnteringDatetime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })*@
                                <input class="form-control text-box single-line" data-val="true" data-val-date="Das Feld &quot;Probeneingang&quot; muss eine Datumsangabe sein." id="ProbEnteringDatetime" name="ProbEnteringDatetime" type="datetime-local" value="@(Model.ProbEnteringDatetime.HasValue == true ? Model.ProbEnteringDatetime.Value.ToString("yyyy-MM-ddThh:mm:ss") : "")">
                                @Html.ValidationMessageFor(model => model.ProbEnteringDatetime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbTypeId, "Art der Probe", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("ProbTypeId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProbTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbPlaceId, "Entnahmeort", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("ProbPlaceId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProbPlaceId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbPlaceDetail, "Stelle", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("ProbPlaceDetail", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProbPlaceDetail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.FactoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.FactoryId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FactoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @*@Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("UserId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 26 })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProbUserId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @*@Html.EditorFor(model => model.ProbUserId, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("ProbUserId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 26 })
                                @Html.ValidationMessageFor(model => model.ProbUserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*----------------------------------------------------------------Panel allg. Eigenschaften*@
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">allg. Eigenschaften <i style="float:right" class="fa fa-chevron-down"></i></h3>
                    </div>
                    @*----------------------------------------------------------------Panel allg. Eigenschaften/Eigenfeuchte*@
                    <div style="display:none" class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading" onclick="togglePanalBody(this)">
                                <h3 class="panel-title">Eigenfeuchte<i style="float:right" class="fa fa-chevron-down"></i></h3>
                            </div>
                            <div style="display:none" class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaterialWet, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.MaterialWet, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaterialWet, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaterialDry, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.MaterialDry, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MaterialDry, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.WaterContent, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.WaterContent, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.WaterContent, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IntrinsicMoisture, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.IntrinsicMoisture, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IntrinsicMoisture, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*----------------------------------------------------------------Panel allg. Eigenschaften/Kernfeuchte*@
                        <div class="panel panel-default">
                            <div class="panel-heading" onclick="togglePanalBody(this)">
                                <h3 class="panel-title">Kernfeuchte<i style="float:right" class="fa fa-chevron-down"></i></h3>
                            </div>
                            <div style="display:none" class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CoreMaterialWet, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.CoreMaterialWet, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CoreMaterialWet, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CoreMaterialDry, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.CoreMaterialDry, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CoreMaterialDry, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CoreMoisture, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.CoreMoisture, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CoreMoisture, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @*----------------------------------------------------------------Panel spez. Eigenschaften/Kernfeuchte*@
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">spez. Eigenschaften <i style="float:right" class="fa fa-chevron-down"></i></h3>
                    </div>
                    <div style="display:none" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FactoryId, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.FactoryId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FactoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Siebung<i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>

                    <div style="" class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KindOfSieving, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("KindOfSieving", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KindOfSieving, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SievSetId, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("SievSetId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SievSetId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NormId, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("NormId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NormId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InputType, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.DropDownList("InputType", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.InputType, "", new { @class = "text-danger" })
                                    </div>
                                    @*@Html.LabelFor(model => model.TryCount, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("TryCount", null, htmlAttributes: new { @class = "form-control", @onchange = "tryCountChange()" })
                                            @Html.ValidationMessageFor(model => model.TryCount, "", new { @class = "text-danger" })
                                        </div>*@
                                </div>
                                <hr />
                            </div>

                            <div class="col-md-4">
                                <table class="table totalWeight">
                                    <thead>
                                        <tr>
                                            <th>
                                                P
                                            </th>
                                            <th>
                                                M1
                                            </th>
                                            <th>
                                                M2
                                            </th>
                                            <th>
                                                Sch.
                                            </th>
                                            <th>
                                                Verl.
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr row="0">
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.M1, new { htmlAttributes = new { @class = "form-control", @col = "0", @style = "width:60px" } })
                                                @Html.ValidationMessageFor(model => model.M1, "", new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                <input col="1" class="form-control" style="width:60px" type="number" readonly="readonly" />
                                            </td>
                                            <td>
                                                <input col="2" class="form-control" style="width:60px" type="number" />
                                            </td>
                                            <td>
                                                <input col="3" class="form-control" style="width:60px" type="number" readonly="readonly" />
                                            </td>
                                        </tr>
                                        <tr row="1">
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                <input style="width:60px" type="number" />
                                            </td>
                                            <td>
                                                <input style="width:60px" type="number" />
                                            </td>
                                            <td>
                                                <input style="width:60px" type="number" />
                                            </td>
                                            <td>
                                                <input style="width:60px" type="number" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <tr>
                                        <td style="float: right;padding-bottom: 15px;">Rückst - %</td>
                                    </tr>
                                    <tr>
                                        <td style="float: right;">Durchg - %</td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-8" style="overflow-x: auto;">
                                <div>
                                    <table class="table singleWeight">
                                        <thead>
                                            <tr class="siveSizeRow">
                                                <th>
                                                    0,063
                                                </th>
                                                <th>
                                                    0,125
                                                </th>
                                                <th>
                                                    0,25
                                                </th>
                                                <th>
                                                    0,5
                                                </th>
                                                <th>
                                                    1
                                                </th>
                                                <th>
                                                    1,4
                                                </th>
                                                <th>
                                                    2
                                                </th>
                                                <th>
                                                    2,8
                                                </th>
                                                <th>
                                                    4
                                                </th>
                                                <th>
                                                    5,6
                                                </th>
                                                <th>
                                                    8
                                                </th>
                                                <th>
                                                    11,2
                                                </th>
                                                <th>
                                                    16
                                                </th>
                                                <th>
                                                    22,4
                                                </th>
                                                <th>
                                                    31,5
                                                </th>
                                                <th>
                                                    45
                                                </th>
                                                <th>
                                                    63
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr row="0">
                                                <td>
                                                    @Html.EditorFor(model => model.S0_063, new { htmlAttributes = new { @class = "form-control", @colname = "C0_063", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S0_063, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S0_125, new { htmlAttributes = new { @class = "form-control", @colname = "C0_125", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S0_125, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S0_25, new { htmlAttributes = new { @class = "form-control", @colname = "C0_25", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S0_25, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S0_5, new { htmlAttributes = new { @class = "form-control", @colname = "C0_5", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S0_5, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S1, new { htmlAttributes = new { @class = "form-control", @colname = "C1", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S1, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S1_4, new { htmlAttributes = new { @class = "form-control", @colname = "C1_4", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S1_4, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S2, new { htmlAttributes = new { @class = "form-control", @colname = "C2", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S2, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S2_8, new { htmlAttributes = new { @class = "form-control", @colname = "C2_8", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S2_8, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S4, new { htmlAttributes = new { @class = "form-control", @colname = "C4", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S4, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S5_6, new { htmlAttributes = new { @class = "form-control", @colname = "C5_6", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S5_6, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S8, new { htmlAttributes = new { @class = "form-control", @colname = "C8", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S8, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S11_2, new { htmlAttributes = new { @class = "form-control", @colname = "C11_2", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S11_2, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S16, new { htmlAttributes = new { @class = "form-control", @colname = "C16", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S16, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S22_4, new { htmlAttributes = new { @class = "form-control", @colname = "C22_4", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S22_4, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S31_5, new { htmlAttributes = new { @class = "form-control", @colname = "C31_5", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S31_5, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S45, new { htmlAttributes = new { @class = "form-control", @colname = "C45", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S45, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.S63, new { htmlAttributes = new { @class = "form-control", @colname = "C63", @style = "width:80px" } })
                                                    @Html.ValidationMessageFor(model => model.S63, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr row="1">
                                                <td>
                                                    <input colname="C0_063" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C0_125" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C0_25" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C0_5" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C1" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C1_4" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C2" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C2_8" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C4" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C5_6" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C8" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C11_2" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C16" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C22_4" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C31_5" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C45" style="width:80px" type="number" />
                                                </td>
                                                <td>
                                                    <input colname="C63" style="width:80px" type="number" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <table class="table calculation">
                                        <tr row="0">
                                            <td>
                                                <input colname="C0_063" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C0_125" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C0_25" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C0_5" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C1" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C1_4" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C2" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C2_8" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C4" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C5_6" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C8" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C11_2" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C16" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C22_4" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C31_5" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C45" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C63" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                        </tr>
                                        <tr row="1">
                                            <td>
                                                <input colname="C0_063" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C0_125" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C0_25" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C0_5" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C1" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C1_4" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C2" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C2_8" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C4" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C5_6" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C8" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C11_2" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C16" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C22_4" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C31_5" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C45" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                            <td>
                                                <input colname="C63" disabled="disabled" style="width:80px" type="text" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-11 form-group form-inline">
                                <label class="control-label col-md-1">k-Ziffer-Ist </label><input class="form-control col-md-1" name="kValue" type="text" readonly="readonly" id="kValue" /><label class="control-label col-md-1"> D-Summe</label> <input class="form-control col-md-1" name="DValue" type="text" readonly="readonly" id="DSumm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Diagramm<i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>

                    <div style="" class="panel-body">
                        <canvas id="GradingRuleChart" width="450" height="350" style="max-width:600px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Eigenschaften/Prüfungen<i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-offset-6 col-md-2">Grenzwert</div>
                        <div class="col-md-2">erfüllt</div>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Flakiness, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Flakiness, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Flakiness, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-md-1" for="">max</label>
                            <div class="col-md-2">
                                <input class="form-control text-box single-line" type="text" />
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBox("FlakinessCheck", (Model.FlakinessCheck ?? false), new { style = "width:30px;height:30px" })
                                @Html.ValidationMessageFor(model => model.FlakinessCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Conform, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Conform, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Conform, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-md-1" for="">max</label>
                            <div class="col-md-2">
                                <input class="form-control text-box single-line" type="text" />
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBox("ConformCheck", (Model.ConformCheck ?? false), new { style = "width:30px;height:30px" })
                                @Html.ValidationMessageFor(model => model.ConformCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Water, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Water, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Water, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-md-1" for="">max</label>
                            <div class="col-md-2">
                                <input class="form-control text-box single-line" type="text" />
                            </div>
                            <div class="col-md-2">
                                @*<input name="WaterCheck" style="width:30px;height:30px" value="@Model.WaterCheck" type="checkbox">*@
                                @Html.CheckBox("WaterCheck", (Model.WaterCheck ?? false), new { style = "width:30px;height:30px" })
                                @Html.ValidationMessageFor(model => model.WaterCheck, "", new { @class = "text-danger" })

                            </div>


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-offset-6 col-md-2">Grenzwert</div>
                        <div class="col-md-2">erfüllt</div>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.FineShare, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FineShare, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FineShare, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-md-1" for="">max</label>
                            <div class="col-md-2">
                                <input class="form-control text-box single-line" type="text" />
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBox("FineShareCheck", (Model.FineShareCheck ?? false), new { style = "width:30px;height:30px" })
                                @Html.ValidationMessageFor(model => model.FineShareCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RatingFineShare, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.RatingFineShare, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.RatingFineShare, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-md-1" for="">max</label>
                            <div class="col-md-2">
                                <input class="form-control text-box single-line" type="text" />
                            </div>
                            <div class="col-md-2">
                                @Html.CheckBox("RatingFineShareCheck", (Model.RatingFineShareCheck ?? false), new { style = "width:30px;height:30px" })
                                @Html.ValidationMessageFor(model => model.RatingFineShareCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GraingrossDensity, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.GraingrossDensity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GraingrossDensity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div style="" class="panel-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}


<script type="text/javascript">
    var massWightTariert = 0;
    $(document).ready(function () {
        $("#copyModal").on("click", function () {
            CopyTest();
        });

        $('.totalWeight tr[row="1"]').hide();
        $('.singleWeight tr[row="1"]').hide();

        $('.singleWeight tbody tr[row="0"] input').each(function (i, e) {
            calcColum(e);
        });
        calcKandD();

        $(".totalWeight td input").each(function (i, e) {
            // $(e).val("0");
        })
        $(".singleWeight td input").each(function (i, e) {
            //$(e).val("0");
        })
        $(".calculation td input").each(function (i, e) {
            //$(e).val("0.00");
        })
        $(".singleWeight td input").on("change", function (sw) {
            massWightTariert = 0;
            $('.singleWeight tbody tr[row="0"] input').each(function (i, e) {
                calcColum(e);
            });
            calcKandD();
            //var col = $(this).attr("colname");
            //var row = $(this).closest("tr").attr("row");
            //var val = $(this).val();
            //var mass = $('.totalWeight tr[row="' + row + '"] input[col="0"]').val();
            //var erg = ((parseFloat(val) / (parseFloat(mass)/100)));
            //('.calculation tr[row="0"] input[colname="' + col + '"]').val((erg).toFixed(2));
            //('.calculation tr[row="1"] input[colname="' + col + '"]').val((100 - erg).toFixed(2));

            //var kSum = parseFloat($('.calculation tr[row="0"] input[colname="C0_25"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C0_5"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C1"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C2"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C4"').val());
            //kSum += parseFloat($('.calculation tr[row="0"] input[colname="C8"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C16"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C31_5"').val());
            //kSum += parseFloat($('.calculation tr[row="0"] input[colname="C63"').val());

            //$("#kValue").val((kSum / 100).toFixed(3));
            //$("#DSumm").val((900 - kSum ).toFixed(3));


        });
        $(".totalWeight td input").on("change", function (sw) {
            var mass = $('.totalWeight tr[row="0"] input[col="0"]').val();
            $('.totalWeight tr[row="0"] input[col="1"]').val(mass);
            $('.totalWeight tr[row="0"] input[col="3"]').val(mass);
            massWightTariert = 0;
            $('.singleWeight tbody tr[row="0"] input').each(function (i, e) {
                calcColum(e);
            });
            calcKandD();
        })
        var $eventSelectTmp = $(".select2").select2({
            tags: true,
            //allowClear:true,
            //placeholder: "---Bitte wählen---"
        })
        $eventSelectTmp.on("select2:select", function (e) { createRole(e); });
        $eventSelectTmp.on("select2:unselect", function (e) { deleteRole(e); });

        loadSieveRange();
    });
    function createRole(e) {
        var tagName = e.params.data.text;
        var isNew = $(e.currentTarget).find('[data-select2-tag="true"]');
        var menuId = $(e.currentTarget).attr("menuid");
        if (isNew.length) {
            $.ajax({
                url: '@Url.Action("CreateTag","lims_concrete_test", new { area="Lims" })',
                type: "POST",
                dataType: "text",
                dataType: "json",
                //contentType: 'application/json',
                data: { tagName: tagName, menuId: menuId },
                success: function (data) {
                    isNew.replaceWith('<option selected value="' + data.value + '" >' + isNew.val() + '</option>');
                    $("select[menuid='" + menuId + "']").append('<option selected value="' + data.value + '" >' + isNew.val() + '</option>');
                }
            });
        }

    }
    function tryCountChange(as) {
        if ($("#TryCount").val() === "0") {
            $('.totalWeight tr[row="1"]').hide();
            $('.singleWeight tr[row="1"]').hide();
        }
        else if ($("#TryCount").val() === "1") {
            $('.totalWeight tr[row="1"]').show();
            $('.singleWeight tr[row="1"]').show();
        }

    }
    function calcColum(cole) {
        var col = $(cole).attr("colname");
        var row = $(cole).closest("tr").attr("row");
        var val = $(cole).val();
        var mass = $('.totalWeight tr[row="' + row + '"] input[col="0"]').val();
        if ($("#InputType").val() === "0") {
            var erg = ((parseFloat(val) / (parseFloat(mass) / 100)));
            $('.calculation tr[row="0"] input[colname="' + col + '"]').val((erg).toFixed(2));
            $('.calculation tr[row="1"] input[colname="' + col + '"]').val((100 - erg).toFixed(2));
        }
        else if ($("#InputType").val() === "1") {
            if (massWightTariert == 0) {
                $('.calculation tr[row="0"] input[colname="' + col + '"]').val("100.00");
                $('.calculation tr[row="1"] input[colname="' + col + '"]').val("0");
            }
            massWightTariert += parseFloat(val);
            var erg = (((parseFloat(mass) - (parseFloat(massWightTariert))) / (parseFloat(mass) / 100)));
            $('.calculation tr[row="0"] input[colname="' + col + '"]').parent().next().find("input").val((erg).toFixed(2));
            $('.calculation tr[row="1"] input[colname="' + col + '"]').parent().next().find("input").val((100 - erg).toFixed(2));
        }
        else if ($("#InputType").val() === "2") {
            var erg = (parseFloat(val));
            $('.calculation tr[row="1"] input[colname="' + col + '"]').val((erg).toFixed(2));
            $('.calculation tr[row="0"] input[colname="' + col + '"]').val((100 - erg).toFixed(2));
        } else if ($("#InputType").val() === "3") {
            var erg = (parseFloat(val));
            $('.calculation tr[row="0"] input[colname="' + col + '"]').val((erg).toFixed(2));
            $('.calculation tr[row="1"] input[colname="' + col + '"]').val((100 - erg).toFixed(2));
        }
    }
    function calcKandD() {
        var kSum = parseFloat($('.calculation tr[row="0"] input[colname="C0_25"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C0_5"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C1"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C2"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C4"').val());
        kSum += parseFloat($('.calculation tr[row="0"] input[colname="C8"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C16"').val()) + parseFloat($('.calculation tr[row="0"] input[colname="C31_5"').val());
        kSum += parseFloat($('.calculation tr[row="0"] input[colname="C63"').val());

        $("#kValue").val((kSum / 100).toFixed(3).replace('.', ','));
        $("#DSumm").val((900 - kSum).toFixed(3).replace('.', ','));
        updateChart();
    }
    function togglePanalBody(e) {
        if ($(e).parent().find("i").hasClass("fa-chevron-down")) {
            $(e).parent().find("i").removeClass("fa-chevron-down");
            $(e).parent().find("i").addClass("fa-chevron-up")
            $(e).parent().find(".panel-body").show();
        }
        else {
            $(e).parent().find("i").addClass("fa-chevron-down");
            $(e).parent().find("i").removeClass("fa-chevron-up")
            $(e).parent().find(".panel-body").hide();
        }
    }
    var labelS;
    function updateChart() {
        var label = [];
        $(".siveSizeRow th").each(function (i, e) {
            label.push( parseFloat($(e).text().trim().replace(",", ".")));
            //Für log>=1
            //label.push(1000 * parseFloat($(e).text().trim().replace(",", ".")));
        })
        labelS = label;

        var ProbValues = [];

        $('.calculation tr[row="1"] td input').each(function (i, e) {
            if (!$(e).val()) {
                ProbValues.push(null);
            }

            else if ($(e).val()) {
                ProbValues.push(parseFloat($(e).val().replace(/,/g, '.')));
            }

        })
        var data = {
            labels: label,
            datasets: [
                {
                    label: "A",
                    lineTension: 0,
                    borderColor: "rgb(6, 0, 255)",
                    strokeColor: "rgb(4, 42, 239)",
                    pointColor: "rgb(4, 42, 239)",
                    pointStrokeColor: "rgba(220,220,220,0.2)",
                    //pointHighlightFill: "rgba(220,220,220,0.2)",
                    //pointHighlightStroke: "rgb(4, 42, 239)",
                    fill:false,
                    data: generateXY(ProbValues)
                },
                {
                    label: "Max",
                    lineTension: 0,
                    borderColor: "rgb(236, 16, 16)",
                    strokeColor: "rgba(151,187,205,0.5)",
                    pointColor: "rgba(151,187,205,0.5)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,0.5)",
                    fill: false,
                    data: generateXY(A),
                    spanGaps: true
                },
                {
                    label: "Min",
                    lineTension: 0,
                    borderColor: "rgb(236, 16, 16)",

                    strokeColor: "rgba(215, 40, 40, 0.5)",
                    pointColor: "rgba(215, 40, 40, 0.5)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(215, 40, 40, 0.5)",
                    fill: false,
                    data: generateXY(B),
                    spanGaps: true
                }
                //,
                //{
                //    label: "C",
                //    lineTension: 0,
                //    fillColor: "rgba(151,187,205,0.2)",
                //    strokeColor: "rgba(106, 255, 66, 0.5)",
                //    pointColor: "rgba(106, 255, 66, 0.5)",
                //    pointStrokeColor: "#fff",
                //    pointHighlightFill: "#fff",
                //    pointHighlightStroke: "rgba(106, 255, 66, 0.5)",
                //    fill: false,
                //    data: C
                //    //data: [null, null, 3, 8, null, 30, 30, 30, 100]
                //}
            ]
        };

        var data2 = {
             //labels: ["0,063","","0,125","adfas","adfas","afas","adasd","asdf","asda"],
            labels: label,
            datasets: [
                {
                    label: "A",
                    lineTension: 0,
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgb(4, 42, 239)",
                    pointColor: "rgb(4, 42, 239)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(4, 42, 239)",
                    fill: false,
                    //data: [{ x: 63, y: 0.24 }, { x: 125, y: 1.91 }, { x: 250, y: 16.47 }, { x: 500, y: 44.39 }, { x: 1000, y: 55.37 }, { x: 1400, y: 63.48 }, { x: 2000, y: 75.18 }, { x: 2800, y: 83.05 }, { x: 4000, y: 94.75 }, { x: 5600, y: 100 }, { x: 8000, y: 100 }, { x: 11200, y: 100 }, { x: 16000, y: 100 }, { x: 22400, y: 100 }, { x: 31500, y: 100 }, { x: 45000, y: 100 }, { x: 63000, y: 100 }]
                    //data: [{ x: 0.063, y: 0 }, { x: 0.125, y: 0 }, { x: 0.25, y: 0 }, { x: 0.5, y: 0 }, { x: 1, y: 0 }, { x: 1.4, y: 0 }, { x: 2, y: 0 }, { x: 2.8, y: 0 }, { x: 4, y: 100 }, { x: 63, y: 100 }]
                    data: generateXY(ProbValues)
                    //data : [0,0,2,3,454,1212,1243,123,12]
                }]
        }

        //$("#GradingRuleChart").children().remove();
        if (GradingRuleChart)
            GradingRuleChart.destroy();
        var ctx = $("#GradingRuleChart").get(0).getContext("2d");
        //var GradingRuleChart = new Chart(ctx).Line(data, config);
        var GradingRuleChart = new Chart(ctx, {
            type: 'line',

            data: data,
            options: {

                    scales: {
                        xAxes: [{
                            type: 'logarithmic',
                            position: 'bottom',

                            ticks: {
                                stepSize: 10,
                                userCallback: function (tick) {
                                    // return String(tick / 1000).replace(".", ",");
                                    return String(tick).replace(".", ",");
                                },
                                //min: 0.063,
                                //max: 5
                            }
                        }]
                    }

            }
        })
    }
    function generateXY(da) {
        if (labelS) {
            var ret = new Array();
            $(da).each(function (i, e) {
                if(e!=null)
                ret.push({ x: labelS[i], y: e });
            });
            return ret;
        }

    }
    function materialChange() {
        var _url = "@Url.Action("GetSieveId", "lims_aggregate_Test", new { Area = "LIMS" })";
        var data = { id: $("#MaterialId").val().trim() };
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: data,
            success: function (data) {
                $("#GradingCurvSieveRangeId").val(data);
                loadSieveRange()
            }
        });
    }
    var A = [];
    var B = [];
    var C = [];
    var U = [];
    function loadSieveRange(url) {
        var data = { id: $("#GradingCurvSieveRangeId").val().trim() };
        //var data = { id: 9 };
        var _url = "@Url.Action("loadSieveData", "lims_gradingCurv_GradingCurv", new { Area = "LIMS" })"
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: data,
            success: function (data) {
                A = data.A;
                B = data.B;
                C = data.C;
                U = data.U;
                updateChart();
            }
        });
    }

    function CopyTest(titel, content, arg) {
        var id = $("#Id").val();
        var number = $("#TestNumber").val();
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">Gesteinskörnungsprüfung kopieren:</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<form action="/LIMS/lims_aggregate_Test/copy" method="post">';
        modal += '<div class="row">';
        modal += '<input type="hidden" name="IdCopy" value="' + id + '"/> ';
        modal += '<div class="form-group"><label class="control-label col-md-3" for="NumberCopy">Prüfungsnummer</label><div class="col-md-9"><input class="form-control text-box single-line" id="Number" name="NumberCopy" type="text" value="' + number + '-kopie"><span class="field-validation-valid text-danger" data-valmsg-for="Number" data-valmsg-replace="true"></span></div></div>';
        //modal += '<div class="form-group"><label class="control-label col-md-3" for="DescriptionCopy">Bezeichnung</label><div class="col-md-9"><input class="form-control text-box single-line" id="Description" name="DescriptionCopy" type="text" value="' + description + "-kopie" + '"><span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span></div></div>';
        modal += '<button id="" type="submit" url="" class=" btn btn-default"><i class="fa fa-files-o"></i> Kopieren</button>';
        modal += '</div>';
        modal += '</div>';
        modal += '</form>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
</script>
