﻿
@model PagedList.IPagedList<PCMS.Areas.LIMS.Models.lims_aggregate_Test>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Rohstoffeingangsprüfung";
    if (ViewBag.CompanyType == 0)
    {
        ViewBag.Title = "Gesteinskörnungsprüfung";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="lims_aggregate_Test">
    <a class="btn btn-default" href="@Url.Action("Create","lims_aggregate_Test", new { area = "LIMS" })"><i class="fa fa-plus"></i> Neue Prüfung</a>
    <a class="btn btn-default" href="@Url.Action("Index","lims_aggregate_Test", new { area = "LIMS" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <button class="btn btn-default" onclick="filter('report', '/LIMS/lims_aggregate_Test/Report')"><i class="fa fa-file-text-o"></i> Report</button>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div class="form-inline topFilterContainer" columnName="ProbTakingDatetime" > vom: <input class="date-from top-date-filter-value form-control" onchange="topDateFilterChange()" type="date" value="@ViewBag.ProbTakingDatetimeFrom"/> bis <input class="date-to top-date-filter-value form-control" onchange="topDateFilterChange()" type="date" value="@ViewBag.ProbTakingDatetimeTo"/></div>    
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="lims_aggregate_Test" editUrl="@Url.Action("Edit", "lims_aggregate_Test", new { area = "LIMS" })" deleteUrl="@Url.Action("Delete", "lims_aggregate_Test", new { area = "LIMS" })" detailsUrl="@Url.Action("Details", "lims_aggregate_Test", new { area = "LIMS" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="TestNumber" style="">
                        @Html.DisplayNameFor(model => model[0].TestNumber)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="RegistraionDate" style="">
                        @Html.DisplayNameFor(model => model[0].RegistraionDate)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TestDate" style="">
                        @Html.DisplayNameFor(model => model[0].TestDate)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="TestTypeId" style="">
                        @Html.DisplayNameFor(model => model[0].TestTypeId)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="OrderNumber" style="">
                        @Html.DisplayNameFor(model => model[0].OrderNumber)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="OrderClient" style="">
                        @Html.DisplayNameFor(model => model[0].OrderClient)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="MaterialId" style="">
                        @Html.DisplayNameFor(model => model[0].MaterialId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="StateId" style="">
                        @Html.DisplayNameFor(model => model[0].StateId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Outliner" style="">
                        @Html.DisplayNameFor(model => model[0].Outliner)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="Rating" style="">
                        @Html.DisplayNameFor(model => model[0].Rating)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DeliverQuantity" style="">
                        @Html.DisplayNameFor(model => model[0].DeliverQuantity)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DeliveryNoteNo" style="">
                        @Html.DisplayNameFor(model => model[0].DeliveryNoteNo)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="SupplierId" style="">
                        @Html.DisplayNameFor(model => model[0].SupplierId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Quantity" style="">
                        @Html.DisplayNameFor(model => model[0].Quantity)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="ProbTakingDatetime" style="">
                        @Html.DisplayNameFor(model => model[0].ProbTakingDatetime)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ProbEnteringDatetime" style="">
                        @Html.DisplayNameFor(model => model[0].ProbEnteringDatetime)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ProbTypeId" style="">
                        @Html.DisplayNameFor(model => model[0].ProbTypeId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ProbPlaceId" style="">
                        @Html.DisplayNameFor(model => model[0].ProbPlaceId)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="ProbPlaceDetail" style="">
                        @Html.DisplayNameFor(model => model[0].ProbPlaceDetail)
                    </th>*@
                    @*<th editable="false" onclick="sort(this)" colName="MaterialWet" style="">
                        @Html.DisplayNameFor(model => model[0].MaterialWet)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MaterialDry" style="">
                        @Html.DisplayNameFor(model => model[0].MaterialDry)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WaterContent" style="">
                        @Html.DisplayNameFor(model => model[0].WaterContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="IntrinsicMoisture" style="">
                        @Html.DisplayNameFor(model => model[0].IntrinsicMoisture)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="CoreMaterialWet" style="">
                        @Html.DisplayNameFor(model => model[0].CoreMaterialWet)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="CoreMaterialDry" style="">
                        @Html.DisplayNameFor(model => model[0].CoreMaterialDry)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="CoreMoisture" style="">
                        @Html.DisplayNameFor(model => model[0].CoreMoisture)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="KindOfSieving" style="">
                        @Html.DisplayNameFor(model => model[0].KindOfSieving)
                    </th>*@
                    @*<th editable="false" onclick="sort(this)" colName="NormId" style="">
                        @Html.DisplayNameFor(model => model[0].NormId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SievSetId" style="">
                        @Html.DisplayNameFor(model => model[0].SievSetId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="InputType" style="">
                        @Html.DisplayNameFor(model => model[0].InputType)
                    </th>*@
                    @*<th editable="false" onclick="sort(this)" colName="TryCount" style="">
                        @Html.DisplayNameFor(model => model[0].TryCount)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="M1" style="">
                        @Html.DisplayNameFor(model => model[0].M1)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S0_063" style="">
                        @Html.DisplayNameFor(model => model[0].S0_063)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S0_125" style="">
                        @Html.DisplayNameFor(model => model[0].S0_125)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S0_25" style="">
                        @Html.DisplayNameFor(model => model[0].S0_25)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S0_5" style="">
                        @Html.DisplayNameFor(model => model[0].S0_5)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S1" style="">
                        @Html.DisplayNameFor(model => model[0].S1)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S1_4" style="">
                        @Html.DisplayNameFor(model => model[0].S1_4)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S2" style="">
                        @Html.DisplayNameFor(model => model[0].S2)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S2_8" style="">
                        @Html.DisplayNameFor(model => model[0].S2_8)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S4" style="">
                        @Html.DisplayNameFor(model => model[0].S4)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S5_6" style="">
                        @Html.DisplayNameFor(model => model[0].S5_6)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S8" style="">
                        @Html.DisplayNameFor(model => model[0].S8)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S11_2" style="">
                        @Html.DisplayNameFor(model => model[0].S11_2)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S16" style="">
                        @Html.DisplayNameFor(model => model[0].S16)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S22_4" style="">
                        @Html.DisplayNameFor(model => model[0].S22_4)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S31_5" style="">
                        @Html.DisplayNameFor(model => model[0].S31_5)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S45" style="">
                        @Html.DisplayNameFor(model => model[0].S45)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="S63" style="">
                        @Html.DisplayNameFor(model => model[0].S63)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="KValue" style="">
                        @Html.DisplayNameFor(model => model[0].KValue)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="FactoryId" style="">
                        @Html.DisplayNameFor(model => model[0].FactoryId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="DValue" style="">
                        @Html.DisplayNameFor(model => model[0].DValue)
                    </th>*@
                    @*<th editable="false" onclick="sort(this)" colName="UserId" style="">
                        @Html.DisplayNameFor(model => model[0].UserId)
                    </th>*@
                    @*<th editable="false" onclick="sort(this)" colName="Flakiness" style="">
                        @Html.DisplayNameFor(model => model[0].Flakiness)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FlakinessCheck" style="">
                        @Html.DisplayNameFor(model => model[0].FlakinessCheck)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Conform" style="">
                        @Html.DisplayNameFor(model => model[0].Conform)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ConformCheck" style="">
                        @Html.DisplayNameFor(model => model[0].ConformCheck)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Water" style="">
                        @Html.DisplayNameFor(model => model[0].Water)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WaterCheck" style="">
                        @Html.DisplayNameFor(model => model[0].WaterCheck)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FineShare" style="">
                        @Html.DisplayNameFor(model => model[0].FineShare)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FineShareCheck" style="">
                        @Html.DisplayNameFor(model => model[0].FineShareCheck)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="RatingFineShare" style="">
                        @Html.DisplayNameFor(model => model[0].RatingFineShare)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="RatingFineChareCheck" style="">
                        @Html.DisplayNameFor(model => model[0].RatingFineShareCheck)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="GraingrossDensity" style="">
                        @Html.DisplayNameFor(model => model[0].GraingrossDensity)
                    </th>*@
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="lims_aggregate_Test">
                    </th>*@
                    <th  class="head-filter" columnName="TestNumber" tableName="lims_aggregate_Test">
                        <input style="max-width: 120px;" class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.TestNumber" />
                    </th>
                    @*<th style="" class="head-filter" columnName="RegistraionDate" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="TestDate" tableName="lims_aggregate_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="TestTypeId" tableName="lims_aggregate_Test">
                        <input style="width: 173px;" class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.TestTypeId" />
                    </th>
                    @*<th style="" class="head-filter" columnName="OrderNumber" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="OrderClient" tableName="lims_aggregate_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="MaterialId" tableName="lims_aggregate_Test">
                        <input style="width: 200px;" class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.MaterialId" />
                    </th>
                    <th style="" class="head-filter" columnName="StateId" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="Outliner" tableName="lims_aggregate_Test">
                    </th>
                    @*<th style="" class="head-filter" columnName="Rating" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="DeliverQuantity" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="DeliveryNoteNo" tableName="lims_aggregate_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="SupplierId" tableName="lims_aggregate_Test">
                        <input style="max-width: 120px;" class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.SupplierId" />
                    </th>
                    <th style="" class="head-filter" columnName="Quantity" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="ProbTakingDatetime" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="ProbEnteringDatetime" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="ProbTypeId" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="ProbPlaceId" tableName="lims_aggregate_Test">
                    </th>
                    @*<th style="" class="head-filter" columnName="ProbPlaceDetail" tableName="lims_aggregate_Test">
                    </th>*@
                    @*<th style="" class="head-filter" columnName="MaterialWet" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="MaterialDry" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="WaterContent" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="IntrinsicMoisture" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="CoreMaterialWet" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="CoreMaterialDry" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="CoreMoisture" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="KindOfSieving" tableName="lims_aggregate_Test">
                    </th>*@
                    @*<th style="" class="head-filter" columnName="NormId" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="SievSetId" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="InputType" tableName="lims_aggregate_Test">
                    </th>*@
                    @*<th style="" class="head-filter" columnName="TryCount" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="M1" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S0_063" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S0_125" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S0_25" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S0_5" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S1" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S1_4" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S2" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S2_8" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S4" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S5_6" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S8" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S11_2" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S16" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S22_4" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S31_5" tableName="lims_aggregate_Test">S
                    </th>
                    <th style="" class="head-filter" columnName="S45" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="S63" tableName="lims_aggregate_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="KValue" tableName="lims_aggregate_Test">
                    </th>
                    @*<th style="" class="head-filter" columnName="FactoryId" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="DValue" tableName="lims_aggregate_Test">
                    </th>*@
                    @*<th style="" class="head-filter" columnName="UserId" tableName="lims_aggregate_Test">
                    </th>*@
                    @*<th style="" class="head-filter" columnName="Flakiness" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FlakinessCheck" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="Conform" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="ConformCheck" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="Water" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="WaterCheck" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FineShare" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FineShareCheck" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="RatingFineShare" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="RatingFineChareCheck" tableName="lims_aggregate_Test">
                    </th>
                    <th style="" class="head-filter" columnName="GraingrossDensity" tableName="lims_aggregate_Test">
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="TestNumber" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.TestNumber)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="RegistraionDate" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.RegistraionDate)
                        </td>
                        <td class="column-value" isKey="false" columnName="TestDate" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.TestDate)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="TestTypeId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Lims_aggregate_TestType.Description)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="OrderNumber" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="OrderClient" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.OrderClient)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="MaterialId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Md_material_Material.Name)
                        </td>
                        <td class="column-value" isKey="false" columnName="StateId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Lims_aggregate_TestStateGroup.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="Outliner" style="text-align: center;" tableName="lims_aggregate_Test">
                            @*@Html.DisplayFor(modelItem => item.Outliner ?? false)*@
                            <input type="checkbox" @((item.Outliner == true) ? "checked" : "") />
                        </td>
                        @*<td class="column-value" isKey="false" columnName="Rating" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td class="column-value" isKey="false" columnName="DeliverQuantity" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.DeliverQuantity)
                        </td>
                        <td class="column-value" isKey="false" columnName="DeliveryNoteNo" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.DeliveryNoteNo)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="SupplierId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.SupplierId)
                        </td>
                        <td class="column-value" isKey="false" columnName="Quantity" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td class="column-value" isKey="false" columnName="ProbTakingDatetime" style="" tableName="lims_aggregate_Test">
                            @(item.ProbTakingDatetime != null ? item.ProbTakingDatetime.Value.ToString("dd.MM.yyyy HH:mm") : "")
                            @*@Html.DisplayFor(modelItem => item.ProbTakingDatetime)*@
                        </td>
                        <td class="column-value" isKey="false" columnName="ProbEnteringDatetime" style="" tableName="lims_aggregate_Test">
                            @(item.ProbEnteringDatetime != null ? item.ProbEnteringDatetime.Value.ToString("dd.MM.yyyy HH:mm") : "")
                            @*@Html.DisplayFor(modelItem => item.ProbEnteringDatetime)*@
                        </td>
                        <td class="column-value" isKey="false" columnName="ProbTypeId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Lims_aggregate_ProbType.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="ProbPlaceId" style="text-align: center;" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Lims_aggregate_ProbPlaceGroup.Description)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="ProbPlaceDetail" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.ProbPlaceDetail)
                        </td>*@
                        @*<td class="column-value" isKey="false" columnName="MaterialWet" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.MaterialWet)
                        </td>
                        <td class="column-value" isKey="false" columnName="MaterialDry" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.MaterialDry)
                        </td>
                        <td class="column-value" isKey="false" columnName="WaterContent" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.WaterContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="IntrinsicMoisture" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.IntrinsicMoisture)
                        </td>
                        <td class="column-value" isKey="false" columnName="CoreMaterialWet" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.CoreMaterialWet)
                        </td>
                        <td class="column-value" isKey="false" columnName="CoreMaterialDry" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.CoreMaterialDry)
                        </td>
                        <td class="column-value" isKey="false" columnName="CoreMoisture" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.CoreMoisture)
                        </td>
                        <td class="column-value" isKey="false" columnName="KindOfSieving" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.KindOfSieving)
                        </td>*@
                        @*<td class="column-value" isKey="false" columnName="NormId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Lims_aggregate_TestNorm.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="SievSetId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.SievSetId)
                        </td>
                        <td class="column-value" isKey="false" columnName="InputType" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.InputType)
                        </td>*@
                        @*<td class="column-value" isKey="false" columnName="TryCount" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.TryCount)
                        </td>
                        <td class="column-value" isKey="false" columnName="M1" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.M1)
                        </td>
                        <td class="column-value" isKey="false" columnName="S0_063" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S0_063)
                        </td>
                        <td class="column-value" isKey="false" columnName="S0_125" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S0_125)
                        </td>
                        <td class="column-value" isKey="false" columnName="S0_25" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S0_25)
                        </td>
                        <td class="column-value" isKey="false" columnName="S0_5" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S0_5)
                        </td>
                        <td class="column-value" isKey="false" columnName="S1" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S1)
                        </td>
                        <td class="column-value" isKey="false" columnName="S1_4" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S1_4)
                        </td>
                        <td class="column-value" isKey="false" columnName="S2" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S2)
                        </td>
                        <td class="column-value" isKey="false" columnName="S2_8" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S2_8)
                        </td>
                        <td class="column-value" isKey="false" columnName="S4" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S4)
                        </td>
                        <td class="column-value" isKey="false" columnName="S5_6" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S5_6)
                        </td>
                        <td class="column-value" isKey="false" columnName="S8" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S8)
                        </td>
                        <td class="column-value" isKey="false" columnName="S11_2" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S11_2)
                        </td>
                        <td class="column-value" isKey="false" columnName="S16" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S16)
                        </td>
                        <td class="column-value" isKey="false" columnName="S22_4" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S22_4)
                        </td>
                        <td class="column-value" isKey="false" columnName="S31_5" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S31_5)
                        </td>
                        <td class="column-value" isKey="false" columnName="S45" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S45)
                        </td>
                        <td class="column-value" isKey="false" columnName="S63" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.S63)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="KValue" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.KValue)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="FactoryId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.FactoryId)
                        </td>
                        <td class="column-value" isKey="false" columnName="DValue" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.DValue)
                        </td>*@
                        @*<td class="column-value" isKey="false" columnName="UserId" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>*@
                        @*<td class="column-value" isKey="false" columnName="Flakiness" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Flakiness)
                        </td>
                        <td class="column-value" isKey="false" columnName="FlakinessCheck" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.FlakinessCheck)
                        </td>
                        <td class="column-value" isKey="false" columnName="Conform" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Conform)
                        </td>
                        <td class="column-value" isKey="false" columnName="ConformCheck" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.ConformCheck)
                        </td>
                        <td class="column-value" isKey="false" columnName="Water" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.Water)
                        </td>
                        <td class="column-value" isKey="false" columnName="WaterCheck" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.WaterCheck)
                        </td>
                        <td class="column-value" isKey="false" columnName="FineShare" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.FineShare)
                        </td>
                        <td class="column-value" isKey="false" columnName="FineShareCheck" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.FineShareCheck)
                        </td>
                        <td class="column-value" isKey="false" columnName="RatingFineShare" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.RatingFineShare)
                        </td>
                        <td class="column-value" isKey="false" columnName="RatingFineChareCheck" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.RatingFineShareCheck)
                        </td>
                        <td class="column-value" isKey="false" columnName="GraingrossDensity" style="" tableName="lims_aggregate_Test">
                            @Html.DisplayFor(modelItem => item.GraingrossDensity)
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>      
    </div>
    <a class="btn btn-default" href="@Url.Action("Create","lims_aggregate_Test", new { area = "LIMS" })"><i class="fa fa-plus"></i> Neue Prüfung</a>
    <a class="btn btn-default" href="@Url.Action("Index","lims_aggregate_Test", new { area = "LIMS" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <button class="btn btn-default" onclick="filter('report', '/LIMS/lims_aggregate_Test/Report')"><i class="fa fa-file-text-o"></i> Report</button>
    @*<a class="btn btn-default" href="@Url.Action("Index","lims_aggregate_Test", new { area = "LIMS" })"><i class="fa fa-refresh"></i> Report</a>*@
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
