﻿
@model IEnumerable<PCMS.Areas.LIMS.Controllers.ConformityFamDetailModel>

@{
    ViewBag.Title = "Konfirmitätsnachweis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div style="overflow-x: auto;" class="familyDetailsDiv">
    <div ><h3 onclick="showOrHide(this)"><i class="fa fa-plus-square-o family"></i> Aufgeschlüsselt nach Sorten</h3></div>
    <table class="table table-hover table-condensed familyDetailsTable" style="display: none;" id="familyDetailsTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrenghtClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpositionClass)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.KonsistenceClass)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MaxGraiCorn)
            </th>*@
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProbsDone)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.StrengthAfter2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter56)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter90)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeTestRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountTestRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InitialProduction)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit","md_masterData_Sort",new {area="MasterData" , id= item.SortId})"> @Html.DisplayFor(modelItem => item.Description)</a>
                 </td>
                <td style="text-align:left">
                    @Html.DisplayFor(modelItem => item.StrenghtClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpositionClass)
                </td>
               
                <td style="text-align:left">
                    @Html.DisplayFor(modelItem => item.KonsistenceClass)
                </td>
                @*<td style="text-align:left">
                    @Html.DisplayFor(modelItem => item.MaxGraiCorn)
                </td>*@
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ProbsDone)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter7)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter28)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter56)
                    </td>
                    <td>s
                        @Html.DisplayFor(modelItem => item.StrengthAfter90)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeTestRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountTestRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitialProduction)
                    </td>*@
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
            </tr>
        }

    </table>
</div>
    <script type="text/javascript">
        
    </script>
