﻿@model PCMS.Areas.MasterData.Models.md_material_CompressionStrenghtGroup
@{
    ViewBag.Title = "Festigkeitsklasse anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Min, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.Min, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Min)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Max, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.Max, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Max)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8"><a class="btn btn-default" onclick="closeWindow()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1">  <button type="button" onclick="SubmitButton()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    </div>
}
<script>
    function closeWindow(){
        $("#Modal").modal("hide");
    }

    function SubmitButton() {
        $.post("/MasterData/md_masterData_Brand/SaveCompression", { description: $("#Description").val(), min: $("#Min").val(), max: $("#Max").val(), compClass: $("#Class").val(), }, function (data) {
            $('#brand_CompressionClassId').append($("<option></option>").attr("value", data.id).text($("#Class").val()));
            $('#brand_CompressionClassId').val(data.id);
            $("#Modal").modal("hide");
        });
    }
</script>