﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Fabrikat bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div id="Deliverer">@Html.HiddenFor(model => model.material.DelivererId)</div>
    <div id="facId">@Html.HiddenFor(model => model.material.FacilitiesId)</div>
    @Html.HiddenFor(model => model.material.Id)
    @Html.HiddenFor(model => model.brand.Id)
    @Html.HiddenFor(model => model.material.MaterialGroupId)
    @Html.HiddenFor(model => model.material.BrandId)

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ArticleNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ArticleNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.MaterialNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.MaterialNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.MaterialNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Name)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ShortName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ShortName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Density, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Density, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Density)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Unit, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Unit)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment1, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment1)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment2, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment2)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment3, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment3)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment4, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment4)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment5, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment5)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.deliverer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.deliverer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deliverer.Name)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Lieferant auswählen" class="btn btn-default" onclick="openDeliverer('@Url.Action("ChooseDeliverer","md_masterData_Material", new { area = "MasterData" })')" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.facili.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.facili.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facili.Description)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Werk auswählen" class="btn btn-default" onclick="openFacilities('@Url.Action("ChooseFacilities","md_masterData_Material", new { area = "MasterData" })')" />
        </div>
    </div>
    

    // ######################### Details Start #########################

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Details</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.brand.Norm, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.brand.Norm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brand.Norm)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.brand.Aggregate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.brand.Aggregate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brand.Aggregate)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.brand.Ability, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.brand.Ability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brand.Ability)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.brand.BrandType, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.brand.BrandType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brand.BrandType)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.compression.Class, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.brand.CompressionClassId, ViewBag.Compression as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.brand.CompressionClassId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateCompression","md_masterData_Brand", new { area = "MasterData" })', Title='Festigkeitsklasse anlegen')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteCompression()" />
        </div>
    </div>

    // ######################### Details Ende #########################
    <div><br /></div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}

<script>
    function DeleteCompression() {
        var url = '@Url.Action("DeleteCompression", "md_masterData_Brand", new { area = "MasterData" })' + "?id=" + $('#brand_CompressionClassId').val();
        openModal(url, "Festigkeitsklasse löschen");
    }
</script>

