﻿@model List<PCMS.Areas.MasterData.Models.md_material_ExposureKombi>
@using PagedList.Mvc

<div class="tableContent" tablename="md_material_ExposureKombi">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Expositionsklasse Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_material_ExposureKombi">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].ShortDescription)</td>
                    <td editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].ShortText)</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseExpo(this)">
                        <td columnname="Id" style="" tablename="md_material_ExposureKombi">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Name" style="" tablename="md_material_ExposureKombi">@Html.DisplayFor(modelItem => item.ShortDescription)</td>
                        <td columnname="Name" style="" tablename="md_material_ExposureKombi">@Html.DisplayFor(modelItem => item.ShortText)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
