﻿@model List<PCMS.Areas.MasterData.Models.md_material_MaterialType>
@using PagedList.Mvc

<div class="tableContent" tablename="md_material_MaterialType">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Art Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x:auto">
        <table class="table table-hover table-condensed" tablename="md_material_MaterialType">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="false" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseMatTyp(this)">
                        <td columnname="Id" style="display:none" tablename="md_material_MaterialType">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Description" style="" tablename="md_material_MaterialType">@Html.DisplayFor(modelItem => item.Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>