﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbWet

@{
    Layout = null;
}


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" onclick="togglePanalBody(this)">
                <h3 class="panel-title">Frischbeton-Probedaten<i style="float:right" class="fa fa-chevron-up"></i></h3>
            </div>
            <div style="" class="panel-body">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Id&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Id&quot; ist erforderlich." id="Id_" name="Id" type="hidden" value="@Model.Id">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Id&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Id&quot; ist erforderlich." id="Identity_" name="Identity" type="hidden" value="@Model.Identity">
                
                <div class="form-group">
                    @Html.LabelFor(model => model.ProbNumber, htmlAttributes: new { @class = "control-label col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProbNumber, new { htmlAttributes = new { @class = "form-control", @onchange="changeHeader(this)"} })
                        @Html.ValidationMessageFor(model => model.ProbNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeliveryNoteNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DeliveryNoteNo, new { htmlAttributes = new { @class = "form-control", @onchange = "changeHeader(this)" } })
                        @Html.ValidationMessageFor(model => model.DeliveryNoteNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <button onclick="getDeliveryNumber()" class="form-control" type="button">Suchen</button>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProbPlaceId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("ProbPlaceId",null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId=1 ,@dropDownSel = @Model.ProbPlaceId, @onchange = "changeHeader(this)" })
                        @*@Html.EditorFor(model => model.ProbPlaceId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @*@Html.DropDownListFor(model => model.ProbPlaceId , new SelectList((List<PCMS.Areas.LIMS.Models.lims_concrete_SelectMenu>) ViewData["ProbPlaceId"],"Id","Description",Model.ProbPlaceId  ), "--bitte wählen--",  new { @class = "form-control select2", @MenuId = 1 } )*@

                        @Html.ValidationMessageFor(model => model.ProbPlaceId , "", new { @class = "text-danger" })
                        
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProbUserName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.ProbUserName, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("ProbUserName", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 26, @dropDownSel = @Model.ProbUserName })
                        @Html.ValidationMessageFor(model => model.ProbUserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfManufacture, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.DateOfManufacture, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input onchange="changeHeader(this)" class = "form-control" type="datetime-local" id="DateOfManufacture" name="DateOfManufacture" value="@Model.DateOfManufacture.ToString("yyyy-MM-ddTHH:mm:ss")" />
                        @Html.ValidationMessageFor(model => model.DateOfManufacture, "", new { @class = "text-danger" })

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" onclick="togglePanalBody(this)">
                <h3 class="panel-title">Verwendung<i style="float:right" class="fa fa-chevron-up"></i></h3>
            </div>
            <div style="" class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.AirContentId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.AirContentId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("AirContentId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 2, @dropDownSel = @Model.AirContentId })
                        @Html.ValidationMessageFor(model => model.AirContentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WetConcreteDensity, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.WetConcreteDensity, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("WetConcreteDensity", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 3, @dropDownSel = @Model.WetConcreteDensity })
                        @Html.ValidationMessageFor(model => model.WetConcreteDensity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConsistencyId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.ConsistencyId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("ConsistencyId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 4, @dropDownSel = @Model.ConsistencyId })
                        @Html.ValidationMessageFor(model => model.ConsistencyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WaterContentId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.WaterContentId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("WaterContentId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 5, @dropDownSel = @Model.WaterContentId })
                        @Html.ValidationMessageFor(model => model.WaterContentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                -
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentOfCement, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.ContentOfCement, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("ContentOfCement", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 6, @dropDownSel = @Model.ContentOfCement })
                        @Html.ValidationMessageFor(model => model.ContentOfCement, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WashOutTry, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.WashOutTry, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("WashOutTry", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 7, @dropDownSel = @Model.WashOutTry })
                        @*@Html.DropDownListFor( m=>m.WashOutTry, new SelectList(ViewBag.WashOutTry,Model.WashOutTry) , "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 7 })*@
                        @Html.ValidationMessageFor(model => model.WashOutTry, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" onclick="togglePanalBody(this)">
                <h3 class="panel-title">Frischbeton-Prüfnormen<i style="float:right" class="fa fa-chevron-up"></i></h3>
            </div>
            <div style="" class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @onchange = "changeHeader(this)" } })
                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConstructionSiteId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConstructionSiteId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConstructionSiteId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConstructionSiteName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConstructionSiteName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConstructionSiteName, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.ComponentId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.ComponentId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("ComponentId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 8, @dropDownSel = @Model.ComponentId })
                        @Html.ValidationMessageFor(model => model.ComponentId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@*@Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Identity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })
        </div>
    </div>*@

<script type="text/javascript">
    
    

    function changeHeader(e) {
        var id = $(e).attr("id");
        var probNumber = $(e).closest(".panelConcreteWet").attr("probnumber");
        //hProbNumber        
        $("#WetPronHeadTable tr[probnumber='" + probNumber + "'] .h" + id).text($(e).val());
    }
    function choosLoding(e) {
        var orderNumber = $(e).closest("tr").find('td[columnname="OrderId"]').text();
        var probNumber = $("#WetPronHeadTable .active").attr("probNumber");
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find("#DeliveryNoteNo").val(orderNumber);
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find("#DeliveryNoteNo").trigger("onchange");
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find("#IsDeliveryNoteNo").val(orderNumber);
        getMaterialMoving(orderNumber);
        $("#aggre").modal('hide');
        
    }
    function convertToDateTimeLocal(rd) {
        //return rd.getFullYear() + "-" + ((rd.getMonth() + 1) < 10 ? "0" + (rd.getMonth() + 1) : (rd.getMonth() + 1)) + "-" + (rd.getDate() < 10 ? "0" + rd.getDate() : rd.getDate()) + "T" + (rd.getHours() < 10 ? "0" + rd.getHours() : rd.getHours()) + ":" + (rd.getMinutes() < 10 ? "0" + rd.getMinutes() : rd.getMinutes()) + ":" + (rd.getSeconds() < 10 ? "0" + rd.getSeconds() : rd.getSeconds());
        return rd.getFullYear() + "-" + ((rd.getMonth() + 1) < 10 ? "0" + (rd.getMonth() + 1) : (rd.getMonth() + 1)) + "-" + (rd.getDate() < 10 ? "0" + rd.getDate() : rd.getDate()) + "T" + (rd.getHours() < 10 ? "0" + rd.getHours() : rd.getHours()) + ":" + (rd.getMinutes() < 10 ? "0" + rd.getMinutes() : rd.getMinutes()) + ":" + "00";
    }
    function getMaterialMoving(orderNumber) {
        var _url = "@Url.Action("getMaterialMoving", "reports", new { area = "material" })";
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "JSON",
            data: { oderNumber: orderNumber },
            global: true,
            //contentType: 'application/json',
            
            success: function (data) {
                var probNumber = $("#WetPronHeadTable .active").attr("probNumber");
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".CustomerName").val(data.loadinOrder.CustomerName);
                
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".CustomerId").val(data.loadinOrder.CustomerNumber);
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".CustomerId").trigger("onchange");
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".ConstructionSiteName").val(data.loadinOrder.ConstructionSiteDescription);
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".ConstructionSiteId").val(data.loadinOrder.ConstructionSiteNumber);
                $("#SortName").val(data.loadinOrder.MaterialNumber + ', ' + data.loadinOrder.MaterialDescription);
                $("#SortId").val(data.loadinOrder.MaterialId);
                $("#RecipeId").val(data.loadinOrder.RecipeId);
                $("#RecipeName").val(data.loadinOrder.RecipeNumber + ', ' + data.loadinOrder.RecipeDescription);

                var rd = new Date(parseInt(data.loadinOrder.RegistrationDate.replace("/Date(", "").replace(")/", "",10)
                    ));
                
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".DateOfManufacture").val(convertToDateTimeLocal(rd));
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".DateOfManufacture").trigger("onchange");
                //is
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsProducionDate").val(convertToDateTimeLocal(rd).split('T')[0]);
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsMixingTime").val(data.loadinOrder.MixTime);
                $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsDeliveryQuantity").val(String(data.loadinOrder.OrderedQuantity).replace('.', ','));
                var DeliveryQuantity = parseFloat(data.loadinOrder.OrderedQuantity);
                var mixingWeight = 0;
                var aggreagate = 0;
                var aggreagateWater = 0;
                var cem = 0;
                var additive = 0;
                var additivek = 0;
                var water = 0;
                var Admixture = new Object();
                var AdmixtureArray = new Array();
                var aggreagateO = new Object();
                var aggreagateA = new Array();
                var aggreagateAW = new Array();
                var additiveO = new Object();
                var additiveA = new Array();
                var additiveAKValue = new Array();
                

                $(data.materialMoving).each(function (i, e) {
                    mixingWeight += parseFloat(e.QuantityIs) * -1;
                    if (e.LotNoExtern == "1") {
                        //Eigentlich trockener Wert
                        if (typeof aggreagateO[e.ArticleNo] === "undefined") {
                            aggreagateO[e.ArticleNo] = 0;
                            aggreagateA.push(e.ArticleNo);
                            aggreagateAW.push(e.Wet);
                        }

                        aggreagateO[e.ArticleNo] += parseFloat(e.QuantityIs) * -1;
                        aggreagateWater += (parseFloat(e.QuantityIs) * -1) * ((parseFloat(e.Wet)) / 100);
                        aggreagate += parseFloat(e.QuantityIs) * -1;
                    }                        
                    else if (e.LotNoExtern == "2") {
                        cem += parseFloat(e.QuantityIs) * -1;
                    }
                    else if (e.LotNoExtern == "3") {
                        if (typeof Admixture[e.ArticleNo] === "undefined") {
                            Admixture[e.ArticleNo] = 0;
                            AdmixtureArray.push(e.ArticleNo);
                        }                            
                        Admixture[String(e.ArticleNo)] += parseFloat(e.QuantityIs) * -1;
                    }
                    else if (e.LotNoExtern == "6") {
                        if (typeof additiveO[e.ArticleNo] === "undefined") {
                            additiveO[e.ArticleNo] = 0;
                            additiveA.push(e.ArticleNo);
                            additiveAKValue.push(e.Wet);
                        }
                        additiveO[String(e.ArticleNo)] += parseFloat(e.QuantityIs) * -1;
                        additive += parseFloat(e.QuantityIs) * -1;
                        additivek += parseFloat(e.QuantityIs) * -1 * parseFloat(e.Wet);
                    }

                    if (e.ArticleNo == "301" || e.ArticleNo == "302" || e.ArticleNo == "303" || e.ArticleNo == "304" || e.ArticleNo == "305") {
                        water += parseFloat(e.QuantityIs) * -1;
                    }

                });
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsMixtureWeight").val(mixingWeight.toFixed(0));

                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsCementKg").val(cem.toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsCementKgM").val((cem / DeliveryQuantity).toFixed(0));
                //Errechnete trockenwerte !!
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditiveKg").val(additive.toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditveKgM").val((additive / DeliveryQuantity).toFixed(0));
                //Wassergehalt im Gestein !!
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsOtherBindersKg").val((additivek + cem).toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsOtherBindersKgM").val(((additivek + cem) / DeliveryQuantity).toFixed(0));
                //Zusatzmittel 1    
                if (AdmixtureArray.length > 0) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdmixture1Kg").val(Admixture[Object.keys(Admixture)[0]].toFixed(2).replace('.', ','));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdmixture1KgM").val((Admixture[Object.keys(Admixture)[0]] / DeliveryQuantity).toFixed(2).replace('.', ','));
                }                
                //Zusatzmittel 2
                if (AdmixtureArray.length > 1) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdmixture2Kg").val(Admixture[Object.keys(Admixture)[1]].toFixed(2).replace('.',','));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdmixture2KgM").val((Admixture[Object.keys(Admixture)[1]] / DeliveryQuantity).toFixed(2).replace('.', ','));
                }

                //ohne trocken
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggreagateDryKg").val((aggreagate - aggreagateWater).toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggreagateDryKgM").val(((aggreagate - aggreagateWater) / DeliveryQuantity).toFixed(0));
                //Gesteins Wasser
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggreagateWaterKg").val(aggreagateWater.toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggreagateWaterKgM").val((aggreagateWater / DeliveryQuantity).toFixed(0));
                 //Gestein:alle Ist Werte
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggreagateWetKg").val(aggreagate.toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggreagateWetKgM").val((aggreagate / DeliveryQuantity).toFixed(0));
                //Gestein:Wasser + Spühlwasser + Wassernachdosieren
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditionWaterKg").val(water.toFixed(0));
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditionWaterKgM").val((water / DeliveryQuantity).toFixed(0));
                //Gestein:Wasser + Spühlwasser + Wassernachdosieren + Wassergehalt im Gestein + Korrekturwasser
                //$(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsWaterChargeKg").val(aggreagate.toFixed(0));
                //$(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsWaterChargeKgM").val((aggreagate / DeliveryQuantity).toFixed(0));

                //Zusatzstoff Trockenwert | Trocken/ m³ | K-Wert  | max anzurchnender 
                if (additiveA.length > 0) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Kg").attr("title", additiveA[0]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Kg").val(additiveO[additiveA[0]].toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1KgM").val((additiveO[additiveA[0]] / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1K").val(String(additiveAKValue[0]).replace('.', ','));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Max").val("33,0");
                }
                else if (additiveA.length > 1) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Kg").attr("title", additiveA[1]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Kg").val(additiveO[additiveA[1]].toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1KgM").val((additiveO[additiveA[1]] / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1K").val(String(additiveAKValue[1]).replace('.', ','));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Max").val("33,0");
                }
                else if (additiveA.length > 2) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Kg").attr("title", additiveA[2]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Kg").val(additiveO[additiveA[2]].toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1KgM").val((additiveO[additiveA[2]] / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1K").val(String(additiveAKValue[2]).replace('.', ','));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAdditive1Max").val("33,0");
                }

                




                //Gesteinskörnung1 Trockenwert | Trocken/ m³ | Feuchte
                if (aggreagateA.length > 0) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat1Kg").attr("title", aggreagateA[0]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat1Kg").val((aggreagateO[aggreagateA[0]] * ((100 - parseFloat(aggreagateAW[0])) / 100)).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat1KgM").val((aggreagateO[aggreagateA[0]] * ((100 - parseFloat(aggreagateAW[0])) / 100) / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat1Wet").val(String(aggreagateAW[0]).replace('.', ','));
                }
                //Gesteinskörnung2 Trockenwert | Trocken/ m³ | Feuchte
                if (aggreagateA.length > 1) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat2Kg").attr("title", aggreagateA[1]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat2Kg").val((aggreagateO[aggreagateA[1]] * ((100 - parseFloat(aggreagateAW[1])) / 100)).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat2KgM").val((aggreagateO[aggreagateA[1]] * ((100 - parseFloat(aggreagateAW[0])) / 100) / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat2Wet").val(String(aggreagateAW[1]).replace('.', ','));
                }
                //Gesteinskörnung3 Trockenwert | Trocken/ m³ | Feuchte
                if (aggreagateA.length > 2) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat3Kg").attr("title", aggreagateA[2]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat3Kg").val((aggreagateO[aggreagateA[2]] * ((100 - parseFloat(aggreagateAW[2])) / 100)).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat3KgM").val((aggreagateO[aggreagateA[0]] * ((100 - parseFloat(aggreagateAW[2])) / 100) / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat3Wet").val(String(aggreagateAW[2]).replace('.', ','));
                }
                //Gesteinskörnung4 Trockenwert | Trocken/ m³ | Feuchte
                if (aggreagateA.length > 3) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat4Kg").attr("title", aggreagateA[3]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat4Kg").val((aggreagateO[aggreagateA[3]] * ((100 - parseFloat(aggreagateAW[3])) / 100)).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat4KgM").val((aggreagateO[aggreagateA[3]] * ((100 - parseFloat(aggreagateAW[0])) / 100) / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat4Wet").val(String(aggreagateAW[3]).replace('.', ','));
                }
                //Gesteinskörnung5 Trockenwert | Trocken/ m³ | Feuchte
                if (aggreagateA.length > 4) {
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat5Kg").attr("title", aggreagateA[4]);
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat5Kg").val((aggreagateO[aggreagateA[4]] * ((100 - parseFloat(aggreagateAW[4])) / 100)).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat5KgM").val((aggreagateO[aggreagateA[4]] * ((100 - parseFloat(aggreagateAW[0])) / 100) / DeliveryQuantity).toFixed(0));
                    $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsAggregat5Wet").val(String(aggreagateAW[4]).replace('.', ','));
                }
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".Cement").val($(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsCementKgM").val());
                $(".panelConcreteWet[probnumber='" + probNumber + "']").find(".OtherBinders").val($(".panelConcreteWet[probnumber='" + probNumber + "']").find(".IsOtherBindersKgM").val());
                
                
            }
        });
    }
    function getDeliveryNumber(url) {       
        var _url = "@Url.Action("choosLoadingOrder", "lims_concrete_test", new { area = "lims" })";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                openDeliverNumberModal("Aufträge", data, ["", ""]);
            }
        });

    }

    function openDeliverNumberModal(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
</script>





