﻿@model PCMS.Areas.LIMS.Models.lims_concrete_Test

@{
    Layout = null;
}
<button onclick="newWetProb()" class="btn btn-default" type="button">Neue Probe</button>@*<button type="button">Kopieren</button>*@<button onclick="deleteWetProb()" class="btn btn-default" type="button">Entfernen</button>
<table id="WetPronHeadTable" class="table">
    <thead>
        <tr>
            <th>Probe-Nr</th>
            <th>Lieferschein-Nr</th>
            <th>Kunde</th>
            <th>Entnahmeort</th>
            <th>Herstellerdatum</th>
            <th>Anzahl. Pk</th>
           
        </tr>
    </thead>
    @{
        int count = 0;
    }
    <tbody>
        @foreach(var i in Model.Lims_concrete_ProbWets)
        {
            <tr probNumber="@count" probId="@i.Id" onclick="changeProbWetView(this)" class="probWetHeader @(count == 0 ? "active" : "")" ><td class="hProbNumber" >@i.ProbNumber</td><td class="hDeliveryNoteNo" >@i.DeliveryNoteNo</td><td class="hCustomerId" >@i.CustomerId</td><td class="hProbPlaceId" >@i.ProbPlaceId</td><td class="hDateOfManufacture" >@i.DateOfManufacture.ToShortDateString()</td><td class="hCount" >@Model.Lims_concrete_ProbDrys.Where(a=>a.ProbNumber==i.ProbNumber).Count()</td></tr>
                        
                count++;
            
                }
    </tbody>
</table>



@{
    count = 0;
}


<div id="probWetContainer">
    @foreach (var i in Model.Lims_concrete_ProbWets)
    {
        <div style="" id="PanelConcreteWet" probNumber="@count" probId="@i.Id" class="panelConcreteWet panel with-nav-tabs panel-default">

            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#PropNorm_@count" data-toggle="tab">Probe/Prüfnormen</a></li>
                    <li><a href="#propResults_@count" data-toggle="tab">Prüfergebnise</a></li>
                    <li><a href="#paramters_@count" data-toggle="tab">Kenngrößen</a></li>
                    <li><a href="#actualValue_@count" data-toggle="tab">Istwerte</a></li>
                </ul>
            </div>

            <div style="" class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="PropNorm_@count">
                        @*-------Probe/Prüfnormen -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_ProbNorm", i)
                    </div>
                    <div class="tab-pane fade in " id="propResults_@count">
                        @*-------Prüfergebnise -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_ProbResults", i)
                    </div>
                    <div class="tab-pane fade in " id="paramters_@count">
                        @*-------Kenngrößen -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_Parameters", i)
                    </div>
                    <div class="tab-pane fade in " id="actualValue_@count">
                        @*-------Istwerte -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_ActualValue", i)
                    </div>
                </div>

            </div>
            @{
                count++;
            }
        </div>

                }
</div>
<div style="display:none" id="probWetContainerEmpty">
    @{
        //var u = Model.Lims_concrete_ProbWets.FirstOrDefault();
        var u = new PCMS.Areas.LIMS.Models.lims_concrete_ProbWet();
        u.Lims_concrete_ProbWet_Consistency = new List<PCMS.Areas.LIMS.Models.lims_concrete_ProbWet_Consistency>();
        u.Lims_concrete_ProbWet_Consistency.Add(new PCMS.Areas.LIMS.Models.lims_concrete_ProbWet_Consistency());
        u.Lims_concrete_ProbWet_Consistency.Add(new PCMS.Areas.LIMS.Models.lims_concrete_ProbWet_Consistency());
        u.Lims_concrete_ProbWet_Consistency.Add(new PCMS.Areas.LIMS.Models.lims_concrete_ProbWet_Consistency());
        u.Lims_concrete_ProbWet_Consistency.Add(new PCMS.Areas.LIMS.Models.lims_concrete_ProbWet_Consistency());
    } 
    
        <div  id="PanelConcreteWet" probNumber="-1" probId="@u.Id" class="panelConcreteWet panel with-nav-tabs panel-default">

            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#PropNorm_" data-toggle="tab">Probe/Prüfnormen</a></li>
                    <li><a href="#propResults_" data-toggle="tab">Prüfergebnise</a></li>
                    <li><a href="#paramters_" data-toggle="tab">Kenngrößen</a></li>
                    <li><a href="#actualValue_" data-toggle="tab">Istwerte</a></li>
                </ul>
            </div>

            <div style="" class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="PropNorm_">
                        @*-------Probe/Prüfnormen -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_ProbNorm", u)
                    </div>
                    <div class="tab-pane fade in " id="propResults_">
                        @*-------Prüfergebnise -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_ProbResults", u)
                    </div>
                    <div class="tab-pane fade in " id="paramters_">
                        @*-------Kenngrößen -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_Parameters", u)
                    </div>
                    <div class="tab-pane fade in " id="actualValue_">
                        @*-------Istwerte -------*@
                        @Html.Partial("Edit_Prop_TapPanel_WetConcrete_ActualValue", u)
                    </div>
                </div>

            </div>
            @{
                count++;
            }
        </div>

                }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select").each(function (i, e) {
            $(e).val($(e).attr("dropdownsel"));
        })

        var $eventSelect = $(".panelConcreteWet[probnumber!=-1] .select2").select2({
            tags: true,
            //allowClear:true,
            //placeholder: "---Bitte wählen---"

        })
        //$eventSelect.on("select2:select", createRole(this));
        $eventSelect.off("select2:select", function (e) { createRole(e); });
        $eventSelect.off("select2:unselect", function (e) { deleteRole(e); });
        $eventSelect.on("select2:select", function (e) { createRole(e); });
        $eventSelect.on("select2:unselect", function (e) { deleteRole(e); });
        $eventSelect.on("select2:createTag", function (e) { alert("new") });

    })
    function createRole(e) {
        var tagName = e.params.data.text;
        var isNew = $(e.currentTarget).find('[data-select2-tag="true"]');
        var menuId = $(e.currentTarget).attr("menuid");
        if (isNew.length) {
            $.ajax({
                url: '@Url.Action("CreateTag","lims_concrete_test", new { area="Lims" })',
                type: "POST",
                dataType: "text",
                dataType: "json",
                //contentType: 'application/json',
                data: { tagName: tagName, menuId: menuId },
                success: function (data) {
                    isNew.replaceWith('<option selected value="' + data.value + '" >' + isNew.val() + '</option>');
                }
            });
        }

    }





    function changeProbWetView(e) {
        var number = $(e).attr("probNumber");
        $(".probWetHeader").css("background-color", "");
        $(".probWetHeader").removeClass("active");
        $(".probWetHeader[probNumber='" + number + "']").css("background-color", "grey")
        $(".probWetHeader[probNumber='" + number + "']").addClass("active");
        $("#probWetContainer .panelConcreteWet").css("display", "none");
        $("#probWetContainer .panelConcreteWet[probNumber='" + number + "']").css("display", "");

    }
    function newWetProb() {
        var number = 111;
        var u = $("#probWetContainerEmpty .panelConcreteWet[probnumber=-1]").clone();
        $(u).find("input, select").each(function (i,e) {
            var name = $(e).attr("name");
            $(e).attr("name", name.replace(/\[.*?\]/, "[" + number + "]"));
        })
        $(u).find("input[type!='date'], select").each(function (i, e) {
            var name = $(e).attr("name");
            $(e).attr("name", name.replace(/\[.*?\]/, "[" + number + "]"));
        })       
        $("#probWetContainer").append(u);

        var hWetProb = '<tr probnumber="' + number + '" probid="0" onclick="changeProbWetView(this)" class="probWetHeader"><td class="hProbNumber"></td><td class="hDeliveryNoteNo"></td><td class="hCustomerId"></td><td class="hProbPlaceId"></td><td class="hDateOfManufacture"></td><td class="hCount">0</td></tr>'
        $("#WetPronHeadTable tbody").append(hWetProb);


        //-select2
        $(".panelConcreteWet[probnumber=-1]").find("select").each(function (i, e) {
            $(e).val($(e).attr("dropdownsel"));
        })
        //$(".panelConcreteWet[probnumber=-1]").find(".select2").select2("destroy");
        var $eventSelectTmp = $(u).find(".select2").select2({
            tags: true,
            //allowClear:true,
            //placeholder: "---Bitte wählen---"
        })
        $eventSelectTmp.off("select2:select", function (e) { createRole(e); });
        $eventSelectTmp.off("select2:unselect", function (e) { deleteRole(e); });
        $eventSelectTmp.on("select2:select", function (e) { createRole(e); });
        $eventSelectTmp.on("select2:unselect", function (e) { deleteRole(e); });
        $eventSelectTmp.on("select2:createTag", function (e) { alert("new") });
        //--endSlect2
        $("#probWetContainer a[data-toggle='tab']").each(function (i, e) {
            $(e).attr("href", $(e).attr("href") + number);
        })
        $("#probWetContainer .tab-pane").each(function (i, e) {
            $(e).attr("id", $(e).attr("id") + number);
        })
        $("#probWetContainer .panelConcreteWet[probnumber=-1]").attr("probnumber", number);
        $("#probWetContainer .panelConcreteWet").css("display", "none");
        $(".panelConcreteWet[probNumber='" + number + "']").css("display", "");
        reCalcProbNumbers();
        bindPropWet_Probresults();
        changeProbWetView($(".probWetHeader").last());
        var orderNumber = $(".panelConcreteWet[probnumber='0'] .DeliveryNoteNo").val();

        var probNumber = $("#WetPronHeadTable .active").attr("probNumber");
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".DeliveryNoteNo").val(orderNumber);
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".DeliveryNoteNo").trigger("onchange");
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsDeliveryNoteNo").val(orderNumber);
        if(orderNumber!="")
            getMaterialMoving(orderNumber);


    }
    function deleteWetProb() {
        var probNumber = $("#WetPronHeadTable tbody .active").attr("probnumber");
        $("#probWetContainer .panelConcreteWet[probnumber='" + probNumber + "']").remove();
        $("#WetPronHeadTable tbody .active").remove();
        reCalcProbNumbers();
    }
</script>