﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbWet

@{
    Layout = null;
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" onclick="togglePanalBody(this)">
            <h3 class="panel-title">Allgemein<i style="float:right" class="fa fa-chevron-up"></i></h3>
        </div>
        <div style="" class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.AirTemp, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.AirTemp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AirTemp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConcreteTemp, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.ConcreteTemp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConcreteTemp, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AirContent, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.AirContent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AirContent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CompressionModeId, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @*@Html.EditorFor(model => model.CompressionModeId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("CompressionModeId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 9, @dropDownSel = @Model.CompressionModeId })
                        @Html.ValidationMessageFor(model => model.CompressionModeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContributionId, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @*@Html.EditorFor(model => model.ContributionId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("ContributionId", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 10, @dropDownSel = @Model.ContributionId })
                        @Html.ValidationMessageFor(model => model.ContributionId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProbUserId2, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @*@Html.EditorFor(model => model.ProbUserId2, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("ProbUserId2", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 26, @dropDownSel = @Model.ProbUserId2 })
                        @Html.ValidationMessageFor(model => model.ProbUserId2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Weather, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @*@Html.EditorFor(model => model.Weather, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("Weather", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 11, @dropDownSel = @Model.Weather })
                        @Html.ValidationMessageFor(model => model.Weather, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" onclick="togglePanalBody(this)">
                <h3 class="panel-title">Rohdichte<i style="float:right" class="fa fa-chevron-up"></i></h3>
            </div>
            <div style="" class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConcreteShape, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.ConcreteShape, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConcreteShape, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShapeWeight, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.ShapeWeight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShapeWeight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConcreteWeight, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.ConcreteWeight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConcreteWeight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Volume, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.DropDownList("Volume", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control ", @MenuId = 32, @dropDownSel = @Model.Volume.ToString().Replace('.',',')  })
                        @Html.EditorFor(model => model.Volume, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Volume, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Density, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Density, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Density, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading" onclick="togglePanalBody(this)">
                <h3 class="panel-title">w/z-,w/z(eq) - Wert<i style="float:right" class="fa fa-chevron-up"></i></h3>
            </div>
            <div style="" class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tara, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Tara, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tara, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Wet, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Wet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Wet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Dry, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Dry, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Dry, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CoreMoisture, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.CoreMoisture, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CoreMoisture, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RealWaterContent, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.RealWaterContent, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                            @Html.ValidationMessageFor(model => model.RealWaterContent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cement, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Cement, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cement, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OtherBinders, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.OtherBinders, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OtherBinders, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    -
                    <div class="form-group">
                        @Html.LabelFor(model => model.WZValue, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.WZValue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WZValue, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.WZEQValue, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.WZEQValue, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WZEQValue, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" onclick="togglePanalBody(this)">
            <h3 class="panel-title">Konsitenzmessung<i style="float:right" class="fa fa-chevron-up"></i></h3>
        </div>
        <div style="" class="panel-body">
            @{ int count = 0;}

            @foreach (var co in Model.Lims_concrete_ProbWet_Consistency)
            {
                <div class="row">
                    <div class="col-lg-2"><input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Beton+Form&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Beton+Form&quot; ist erforderlich." id="ConcreteShape" name="Lims_concrete_ProbWet_Consistency[@count].ConsistencyValue" type="text" value="@co.ConsistencyValue"></div>
                    <div class="col-lg-2"><select dropDownSel="@co.Measure" class="form-control  single-line" name="Lims_concrete_ProbWet_Consistency[@count].measure"><option>Ausbreitmaß</option><option>Setzmaß</option><option>Setzzeit</option><option>Verdichtungsmaß</option></select></div>
                    <div class="col-lg-2"><select dropDownSel="@co.ConsistencyType" class="form-control text-box single-line" name="Lims_concrete_ProbWet_Consistency[@count].ConsistencyType"><option></option><option>Ausgangskonsistenz</option><option>Übergabekonsistenz</option></select></div>
                    <div class="col-lg-1">nach[min]</div>
                    <div class="col-lg-1"><input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Beton+Form&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Beton+Form&quot; ist erforderlich." id="ConcreteShape" name="Lims_concrete_ProbWet_Consistency[@count].time" type="text" value="@co.Time"></div>
                    <div class="col-lg-1">+FM</div>
                    <div class="col-lg-1"><div class="check-box"> <input class="form-control check-box single-line" name="Lims_concrete_ProbWet_Consistency[@count].fm_" type="checkbox" @(co.Fm ? "checked" : "") /><input name="Lims_concrete_ProbWet_Consistency[@count].fm" type="hidden" value="@(co.Fm ? "true" : "false")"></div></div>
                    <div class="col-lg-1">LP[%]</div>
                    <div class="col-lg-1"><input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Beton+Form&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Beton+Form&quot; ist erforderlich." id="ConcreteShape" name="Lims_concrete_ProbWet_Consistency[@count].lp" type="text" value="@co.Lp"></div>
                    <input name="Lims_concrete_ProbWet_Consistency[@count].Id" type="hidden" value="@co.Id" />
                    <input name="Lims_concrete_ProbWet_Consistency[@count].ProbWetId" type="hidden" value="@co.ProbWetId" />
                    <input name="Lims_concrete_ProbWet_Consistency[@count].Identity" type="hidden" value="@co.Identity" />

                    
                </div>
                count++;

            }
        </div>
    </div>
</div>
<script type="text/javascript">

    function bindPropWet_Probresults() {
        $(".panelConcreteWet .ConcreteWeight, .panelConcreteWet .Volume").off("change");
        $(".panelConcreteWet .ConcreteWeight, .panelConcreteWet .Volume").on("change", function (e) {
            //alert($(e.currentTarget).closest(".panelConcreteWet").attr("probnumber"));
            calcDensity(e.currentTarget);
            calcRealWaterContent(e.currentTarget);
            calcWz(e.currentTarget);
            calcProductive();
        })
        $(".panelConcreteWet .Wet, .panelConcreteWet .Dry, .panelConcreteWet .Density, .panelConcreteWet .CoreMoisture").off("change");
        $(".panelConcreteWet .Wet, .panelConcreteWet .Dry, .panelConcreteWet .Density, .panelConcreteWet .CoreMoisture").on("change", function (e) {
            calcRealWaterContent(e.currentTarget);
            calcWz(e.currentTarget);
            calcProductive();
            
        })
        $(".panelConcreteWet .Cement, .panelConcreteWet .OtherBinders, .panelConcreteWet .RealWaterContent").off("change");
        $(".panelConcreteWet .Cement, .panelConcreteWet .OtherBinders, .panelConcreteWet .RealWaterContent").on("change", function (e) {
            calcWz(e.currentTarget);
        })
        $(".panelConcreteWet input[type='checkbox']").off("click");
        $(".panelConcreteWet input[type='checkbox']").on("click", function (e) {
            var uis = $(e.currentTarget).is(":checked");
            if (uis)
                $(e.currentTarget).closest("div").find("input[type='hidden']").val("true");
            else
                $(e.currentTarget).closest("div").find("input[type='hidden']").val("false");
        });


    }
    function calcProductive() {
        var probNumber = $("#WetPronHeadTable .active").attr("probNumber");

        
        var quanti = toF($(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsDeliveryQuantity").val());
        var weight = toF($(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsMixtureWeight").val());
        var densit = toF($(".panelConcreteWet[probNumber='" + probNumber + "']").find(".Density").val());

        var produ = weight / quanti;
        produ = (produ / densit).toFixed(2);
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsProductiveness1").val(produ.replace('.',','));
        $(".panelConcreteWet[probNumber='" + probNumber + "']").find(".IsProductiveness2").val(produ.replace('.', ','));
        debugger;
        
    }

    function calcDensity(e) {
        var cWeight = parseFloat($(e).closest(".panelConcreteWet").find("#ConcreteWeight").val().replace(',', '.'));
        var vol = parseFloat($(e).closest(".panelConcreteWet").find("#Volume").val().replace(',', '.'));
        if (vol == 0)
            return;
        $(e).closest(".panelConcreteWet").find("#Density").val((cWeight / vol * 1000).toFixed(0));
        $(e).closest(".panelConcreteWet").find("#IsRawDensity").val((cWeight / vol * 1000).toFixed(0));
    }
    function calcRealWaterContent(e) {
        var density = toF($(e).closest(".panelConcreteWet").find("#Density").val());
        var wet = toF($(e).closest(".panelConcreteWet").find("#Wet").val());
        var dry = toF($(e).closest(".panelConcreteWet").find("#Dry").val());
        var coreMoisture = toF($(e).closest(".panelConcreteWet").find("#CoreMoisture").val());
        $(e).closest(".panelConcreteWet").find("#RealWaterContent").val(((density * (((dry / wet) - 1) * -1) - coreMoisture)).toFixed(0));
    }
    function calcWz(e) {
        var realWaterContent = toF($(e).closest(".panelConcreteWet").find("#RealWaterContent").val());
        var cement = toF($(e).closest(".panelConcreteWet").find("#Cement").val());
        var otherBinders = toF($(e).closest(".panelConcreteWet").find("#OtherBinders").val());
        if (cement != 0 && realWaterContent !=0)
            $(e).closest(".panelConcreteWet").find("#WZValue").val(String((realWaterContent / cement).toFixed(2)).replace('.', ','));
        if (otherBinders != 0 && realWaterContent != 0)
            $(e).closest(".panelConcreteWet").find("#WZEQValue").val(String((realWaterContent / otherBinders).toFixed(2)).replace('.', ','));

    }
    function toF(a) {
        return parseFloat(a.replace(',', '.'));
    }


</script>
