﻿@model PagedList.IPagedList<PCMS.Areas.LIMS.Models.lims_concrete_Test>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Betonprüfungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="lims_concrete_Test">
    <a class="btn btn-default" href="@Url.Action("Create","lims_concrete_Test", new { area = "lims" })"><i class="fa fa-plus"></i> Neue Prüfung</a>
    <a class="btn btn-default" href="@Url.Action("Index","lims_concrete_Test", new { area = "lims" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="lims_concrete_Test" editUrl="@Url.Action("Edit", "lims_concrete_Test", new { area = "lims" })" deleteUrl="@Url.Action("Delete", "lims_concrete_Test", new { area = "lims" })" detailsUrl="@Url.Action("Details", "lims_concrete_Test", new { area = "lims" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    @*<th editable="false" onclick="sort(this)" colName="Identity" style="">
                        @Html.DisplayNameFor(model => model[0].Identity)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="TestNumber" style="">
                        @Html.DisplayNameFor(model => model[0].TestNumber)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TestDate" style="">
                        @Html.DisplayNameFor(model => model[0].TestDate)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="TestType" style="">
                        @Html.DisplayNameFor(model => model[0].TestType)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="OrderNumber" style="">
                        @Html.DisplayNameFor(model => model[0].OrderNumber)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="OrderClient" style="">
                        @Html.DisplayNameFor(model => model[0].OrderClient)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="SortName" style="">
                        @Html.DisplayNameFor(model => model[0].SortName)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="RecipeId" style="">
                        @Html.DisplayNameFor(model => model[0].RecipeId)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Stauts" style="">
                        @Html.DisplayNameFor(model => model[0].Stauts)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="Probprofil" style="">
                        @Html.DisplayNameFor(model => model[0].Probprofil)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="IsDeleted" style="">
                        @Html.DisplayNameFor(model => model[0].IsDeleted)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="IsActive" style="">
                        @Html.DisplayNameFor(model => model[0].IsActive)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Rev" style="">
                        @Html.DisplayNameFor(model => model[0].Rev)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FactoryId" style="">
                        @Html.DisplayNameFor(model => model[0].FactoryId)
                    </th>*@
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="lims_concrete_Test">
                    </th>*@
                    @*<th style="" class="head-filter" columnName="Identity" tableName="lims_concrete_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="TestNumber" tableName="lims_concrete_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.TestNumber" />
                    </th>
                    <th style="" class="head-filter" columnName="TestDate" tableName="lims_concrete_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.TestDate" />
                    </th>
                    <th style="" class="head-filter" columnName="TestType" tableName="lims_concrete_Test">
                        @*<input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.TestType" />*@
                        @*<input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="" />*@
                        @Html.DropDownList("TestType", null, "---Bitte wählen---", htmlAttributes: new { @class = "head-filter-value form-control", @onchange = "headFilterChange(this)" })
                    </th>
                    <th style="" class="head-filter" columnName="OrderNumber" tableName="lims_concrete_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.OrderNumber" />
                    </th>
                    @*<th style="" class="head-filter" columnName="OrderClient" tableName="lims_concrete_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="SortName" tableName="lims_concrete_Test">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.SortName" />
                    </th>
                    @*<th style="" class="head-filter" columnName="RecipeId" tableName="lims_concrete_Test">
                    </th>*@
                    <th style="" class="head-filter" columnName="Stauts" tableName="lims_concrete_Test">
                        @*<input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Stauts" />*@
                        @Html.DropDownList("Stauts", null, "---Bitte wählen---", htmlAttributes: new { @class = "head-filter-value form-control", @onchange = "headFilterChange(this)" })
                    </th>
                    @*<th style="" class="head-filter" columnName="Probprofil" tableName="lims_concrete_Test">
                    </th>
                    <th style="" class="head-filter" columnName="IsDeleted" tableName="lims_concrete_Test">
                    </th>
                    <th style="" class="head-filter" columnName="IsActive" tableName="lims_concrete_Test">
                    </th>
                    <th style="" class="head-filter" columnName="Rev" tableName="lims_concrete_Test">
                    </th>
                    <th style="" class="head-filter" columnName="FactoryId" tableName="lims_concrete_Test">
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        @*<td class="column-value" isKey="false" columnName="Identity" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.Identity)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="TestNumber" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.TestNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="TestDate" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.TestDate)
                        </td>
                        <td class="column-value" isKey="false" columnName="TestType" style="" tableName="lims_concrete_Test">
                            @*@Html.DisplayFor(modelItem => item.TestType)*@
                            @(((List<SelectListItem>)ViewBag.TestType).Where(a => a.Value == Convert.ToString(item.TestType)).Select(a => a.Text).FirstOrDefault() )
                        </td>
                        <td class="column-value" isKey="false" columnName="OrderNumber" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="OrderClient" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.OrderClient)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="SortName" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.SortName)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="RecipeId" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.RecipeId)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Stauts" style="" tableName="lims_concrete_Test">
                            @*@Html.DisplayFor(modelItem => item.Stauts)*@
                            @(((List<SelectListItem>)ViewBag.Stauts).Where(a=>a.Value == Convert.ToString( item.Stauts)).Select(a=>a.Text).FirstOrDefault() )
                        </td>
                        @*<td class="column-value" isKey="false" columnName="Probprofil" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.Probprofil)
                        </td>
                        <td class="column-value" isKey="false" columnName="IsDeleted" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td class="column-value" isKey="false" columnName="IsActive" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td class="column-value" isKey="false" columnName="Rev" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.Rev)
                        </td>
                        <td class="column-value" isKey="false" columnName="FactoryId" style="" tableName="lims_concrete_Test">
                            @Html.DisplayFor(modelItem => item.FactoryId)
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
       @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    </div>
</div>