﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Expositionsklasse anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.Label("Expositionsklassen") 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("WO")
                @Html.CheckBox("WO",false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("WF")
                @Html.CheckBox("WF", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("WA")
                @Html.CheckBox("WA", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("WS")
                @Html.CheckBox("WS", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("X0")
                @Html.CheckBox("X0", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XC1")
                @Html.CheckBox("XC1", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XC2")
                @Html.CheckBox("XC2", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XC3")
                @Html.CheckBox("XC3", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XC4")
                @Html.CheckBox("XC4", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XD1")
                @Html.CheckBox("XD1", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XD2")
                @Html.CheckBox("XD2", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XD3")
                @Html.CheckBox("XD3", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XS1")
                @Html.CheckBox("XS1", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XS2")
                @Html.CheckBox("XS2", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XS3")
                @Html.CheckBox("XS3", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XF1")
                @Html.CheckBox("XF1", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XF2")
                @Html.CheckBox("XF2", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XF3")
                @Html.CheckBox("XF3", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XF4")
                @Html.CheckBox("XF4", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XA1")
                @Html.CheckBox("XA1", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XA2")
                @Html.CheckBox("XA2", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XA3")
                @Html.CheckBox("XA3", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XM1")
                @Html.CheckBox("XM1", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XM2")
                @Html.CheckBox("XM2", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("XM3")
                @Html.CheckBox("XM3", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("FD")
                @Html.CheckBox("FD", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.Label("WU")
                @Html.CheckBox("WU", false, new { htmlAttributes = new { @class = "form-control", @value = "test" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.Label("Klassen")
            </div>
        </div>
        <div class="col-md-5">
            <div class="editor-field">
                @Html.EditorFor(model => model.exposure.ShortText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.exposure.ShortText)
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.Label("Bezeichnung")
            </div>
        </div>
        <div class="col-md-5">
            <div class="editor-field">
                @Html.EditorFor(model => model.exposure.LongText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.exposure.LongText)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8"><a class="btn btn-default" onclick="closeWindow()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1">  <button type="button" onclick="SubmitButton()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    </div>
}
<script>
    function closeWindow() {
        $("#Modal").modal("hide");
    }

    function SubmitButton() {
        $.post("/MasterData/md_masterData_Sort/SaveExpo", { shortText: $("#exposure_ShortText").val(), longText: $("#exposure_LongText").val() }, function (data) {
            $('#sortDetails_ExposureKombiId').append($("<option></option>").attr("value", data.id).text($("#exposure_ShortText").val()));
            $('#sortDetails_ExposureKombiId').val(data.id);
            $("#Modal").modal("hide");
        });
    }

    $("#X0").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#X0").prop('checked')) {
            $("#exposure_ShortText").val(text + "X0,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('X0,', ''));
        }
    });
    $("#WO").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#WO").prop('checked')) {
            $("#exposure_ShortText").val(text + "WO,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('WO,', ''));
        }
    });
    $("#WF").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#WF").prop('checked')) {
            $("#exposure_ShortText").val(text + "WF,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('WF,', ''));
        }
    });
    $("#WA").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#WA").prop('checked')) {
            $("#exposure_ShortText").val(text + "WA,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('WA,', ''));
        }
    });
    $("#WS").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#WS").prop('checked')) {
            $("#exposure_ShortText").val(text + "WS,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('WS,', ''));
        }
    });

    $("#XC1").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XC1").prop('checked')) {
            $("#exposure_ShortText").val(text + "XC1,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XC1,', ''));
        }
    });
    $("#XC2").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XC2").prop('checked')) {
            $("#exposure_ShortText").val(text + "XC2,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XC2,', ''));
        }
    });
    $("#XC3").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XC3").prop('checked')) {
            $("#exposure_ShortText").val(text + "XC3,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XC3,', ''));
        }
    });
    $("#XC4").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XC4").prop('checked')) {
            $("#exposure_ShortText").val(text + "XC4,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XC4,', ''));
        }
    });

    $("#XD1").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XD1").prop('checked')) {
            $("#exposure_ShortText").val(text + "XD1,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XD1,', ''));
        }
    });
    $("#XD2").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XD2").prop('checked')) {
            $("#exposure_ShortText").val(text + "XD2,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XD2,', ''));
        }
    });
    $("#XD3").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XD3").prop('checked')) {
            $("#exposure_ShortText").val(text + "XD3,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XD3,', ''));
        }
    });

    $("#XS1").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XS1").prop('checked')) {
            $("#exposure_ShortText").val(text + "XS1,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XS1,', ''));
        }
    });
    $("#XS2").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XS2").prop('checked')) {
            $("#exposure_ShortText").val(text + "XS2,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XS2,', ''));
        }
    });
    $("#XS3").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XS3").prop('checked')) {
            $("#exposure_ShortText").val(text + "XS3,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XS3,', ''));
        }
    });

    $("#XF1").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XF1").prop('checked')) {
            $("#exposure_ShortText").val(text + "XF1,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XF1,', ''));
        }
    });
    $("#XF2").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XF2").prop('checked')) {
            $("#exposure_ShortText").val(text + "XF2,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XF2,', ''));
        }
    });
    $("#XF3").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XF3").prop('checked')) {
            $("#exposure_ShortText").val(text + "XF3,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XF3,', ''));
        }
    });
    $("#XF4").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XF4").prop('checked')) {
            $("#exposure_ShortText").val(text + "XF4,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XF4,', ''));
        }
    });

    $("#XA1").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XA1").prop('checked')) {
            $("#exposure_ShortText").val(text + "XA1,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XA1,', ''));
        }
    });
    $("#XA2").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XA2").prop('checked')) {
            $("#exposure_ShortText").val(text + "XA2,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XA2,', ''));
        }
    });
    $("#XA3").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XA3").prop('checked')) {
            $("#exposure_ShortText").val(text + "XA3,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XA3,', ''));
        }
    });

    $("#XM1").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XM1").prop('checked')) {
            $("#exposure_ShortText").val(text + "XM1,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XM1,', ''));
        }
    });
    $("#XM2").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XM2").prop('checked')) {
            $("#exposure_ShortText").val(text + "XM2,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XM2,', ''));
        }
    });
    $("#XM3").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#XM3").prop('checked')) {
            $("#exposure_ShortText").val(text + "XM3,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('XM3,', ''));
        }
    });
    $("#WU").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#WU").prop('checked')) {
            $("#exposure_ShortText").val(text + "WU,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('WU,', ''));
        }
    });
    $("#FD").change(function () {
        var text = $("#exposure_ShortText").val();
        if ($("#FD").prop('checked')) {
            $("#exposure_ShortText").val(text + "FD,");
        }
        else {
            $("#exposure_ShortText").val(text.replace('FD,', ''));
        }
    });
</script>
