﻿@model PCMS.Areas.MasterData.Models.md_material_ConsistencyGroup
@{
    ViewBag.Title = "Konsistenzklasse anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.ValueMin, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.ValueMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValueMin)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.ValueMax, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.ValueMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValueMax)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.CompactingClass, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.CompactingClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompactingClass)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.CompactingValueMin, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.CompactingValueMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompactingValueMin)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                @Html.LabelFor(model => model.CompactingValueMax, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.CompactingValueMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompactingValueMax)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8"><a class="btn btn-default" onclick="closeWindow()"><i class="fa fa-times"></i> Abbrechen</a></div>
        <div class="col-md-1">  <button type="button" onclick="SubmitButton()" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>
    </div>
}

<script>
    function closeWindow(){
        $("#Modal").modal("hide");
    }

    function SubmitButton() {
        $.post("/MasterData/md_masterData_Sort/SaveConsistency", { description: $("#Description").val(), Class: $("#Class").val(), ValueMin: $("#ValueMin").val(), ValueMax: $("#ValueMax").val(), CompactClass: $("#CompactingClass").val(), CompactValueMin: $("#CompactingValueMin").val(), CompactValueMax: $("#CompactingValueMax").val() }, function (data) {
            $('#sortDetails_ConsistencyId').append($("<option></option>").attr("value", data.id).text($("#Class").val()));
            $('#sortDetails_ConsistencyId').val(data.id);
            $("#Modal").modal("hide");
        });
    }
</script>

