﻿@model PCMS.Areas.MasterData.Models.md_masterData_Standard
@{
    ViewBag.Title = "DeleteStandard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.ShortName)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.Comment)
    @Html.HiddenFor(model => model.MaterialTypeId)

    <div>Möchten sie die Norm "@Html.DisplayTextFor(model => model.Name)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="closeWindow()" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="button" name="submit" id="submit" value="Löschen" class="btn btn-default" />
    </div>
}
<script>
    $("#submit").click(function () {
        $.post("/MasterData/md_masterData_Sort/RemoveStandard", { id: $('#Id').val() }, function (data) {
            if(data == true)
            {
                $("#sortDetails_NormId option:selected").remove();
                $("#Modal").modal("hide");
            }
        });
    });

    function closeWindow() {
        $("#Modal").modal("hide");
    }
</script>
