﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Fahrer löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.driver.Id)
    @Html.HiddenFor(model => model.driver.DriverNumber)
    @Html.HiddenFor(model => model.driver.RFID)
    @Html.HiddenFor(model => model.driver.ContactId)
    @Html.HiddenFor(model => model.driver.IsActive)
    @Html.HiddenFor(model => model.driver.IsDeleted)
    @Html.HiddenFor(model => model.driver.AddressId)

    <div>Möchten sie den Fahrer "@Html.DisplayTextFor(model => model.contact.LastName)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}