﻿@model PCMS.Areas.MasterData.Models.md_material_ConcreteFamilyGroup
@{
    ViewBag.Title = "Betonfamilie anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Prüfintervall Erstherstellung</h3></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.InitialProduction_0_Count, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.InitialProduction_0_Count, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-1" for="MaterialWet">Probe(n) pro</label>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.InitialProduction_0_Val, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.InitialProduction_0_Val, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-1" for="MaterialWet">m³</label>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.InitialProduction_1_Count, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.InitialProduction_1_Count, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-1" for="MaterialWet">Probe(n) pro</label>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.InitialProduction_1_Val, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.InitialProduction_1_Val, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-2" for="MaterialWet">Prod. Tage</label>

    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.InitialProduction, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.InitialProduction, new { @class = "form-control", @style = "width=35px;height=35px" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Prüfintervall stetige Herstellung</h3></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.SteadyProduction_0_Count, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.SteadyProduction_0_Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <label class="control-label col-md-1" for="MaterialWet">Probe(n) pro</label>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.SteadyProduction_0_val, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.SteadyProduction_0_val, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-1" for="MaterialWet">m³</label>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.SteadyProduction_1_Count, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.SteadyProduction_1_Count, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-1" for="MaterialWet">Probe(n) pro</label>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.SteadyProduction_1_Val, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.SteadyProduction_1_Val, "", new { @class = "text-danger" })
            </div>
        </div>
        <label class="control-label col-md-2" for="MaterialWet">Prod. Tage</label>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Festigkeit nach [N/mm²]:</h3></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.StrengthAfter2, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.StrengthAfter2, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.StrengthAfter2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.StrengthAfter7, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.StrengthAfter7, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.StrengthAfter7, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.StrengthAfter28, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.StrengthAfter28, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.StrengthAfter28, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.StrengthAfter56, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.StrengthAfter56, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.StrengthAfter56, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.StrengthAfter90, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.StrengthAfter90, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.StrengthAfter90, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.ReferenceSort, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.md_material_Material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReferenceSort)
                @Html.HiddenFor(model => model.ReferenceSort, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.md_material_Material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Sorte auswählen" class="btn btn-default" onclick="openModal('@Url.Action("SelectReferenceSort","md_masterData_ConcreteFamily", new { area = "MasterData" })', Title = 'Sorte auswählen')" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.proceed, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>

        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.proceed, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = "1" } })
                @Html.ValidationMessageFor(model => model.proceed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <br />


        @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")

}