﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc
<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Betonsorten Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Material" url="/MasterData/md_masterData_ConcreteFamily/SelectReferenceSort" >
            <thead>
                <tr class="caption">
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="MaterialNumber" style="">@Html.DisplayNameFor(model => model[0].MaterialNumber)</th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">@Html.DisplayNameFor(model => model[0].ArticleNumber)</th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="choose(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="MaterialNumber" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.MaterialNumber)</td>
                        <td columnname="ArticleNumber" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.ArticleNumber)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
        <br />
    </div>
</div>
<script>
    function choose(e) {
        $("#md_material_Material_ArticleNumber").val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
        $("#md_material_Material_ArticleNumber").val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
        $("#ReferenceSort").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#Modal").modal("hide");
    }
</script>
