﻿
@{
    ViewBag.Title = "Berichte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="padding-bottom: 12px;" class="form-inline topFilterContainer" columnName="ProbTakingDatetime"> vom: <input class="date-from top-date-filter-value form-control" onchange="topDateFilterChangeR()" type="date" value="@ViewBag.ProbTakingDatetimeFrom" /> bis: <input class="date-to top-date-filter-value form-control" onchange="topDateFilterChangeR()" type="date" value="@ViewBag.ProbTakingDatetimeTo" /></div> 
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Charge<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="Number">Auftragsnummer</label>
                <div class="col-md-4">
                    <input class="" id="OrderNumber" placeholder="Auftragsnummer" onkeyup="headFilterKeyDown(this);LotCheck()" name="Number" type="text" value="">
                    <input class="" id="OrderNumberReport" name="Number" onclick="getLoadingOrder('@Url.Action("choosLoadingOrder", "Reports", new { area = "Material" })')" type="Button" value="Suchen">
                    
                </div>
                <div class="col-md-2">
                    <input disabled id="getReportBtn"  url="/Material/md_material_MaterialMoving/ReportLot" class="getReportBtn form-control head-filter-value text-box single-line"  name="Number" eType="pdf" type="button" value="Bericht">
                </div>
                <div class="col-md-2">
                    <input disabled id="getSumReportBtn" onclick="loadLotSumReport()" url="/Material/md_material_MaterialMoving/ReportLot" class="getSumReportBtn form-control head-filter-value text-box single-line" name="Number" eType="pdf" type="button" value="Summen">
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-3" for="Number">Alle</label>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" type="text" value="705">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" type="button" value="Bericht">
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Materialbewegung<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="Number">Artikelnummer</label>
                <div class="col-md-4">
                    <input class="" id="MNumber" placeholder="Materialnummer" name="Number" type="text" value="">
                    <input class="" id="Number" name="Number" type="Button" onclick="addMaterial('@Url.Action("choosMaterial", "md_recipe_RecipeM", new { area = "RecipeM" })')" value="Suchen">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" type="button" onclick="loadMaterialReport()" value="Bericht">
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-3" for="Number">Alle</label>
                <div class="col-md-4">
                    @*<input class="form-control text-box single-line" id="Number" name="Number" type="text" value="705">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" type="button" value="Bericht">
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Produktion<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="Number">Fabrikatnummer</label>
                <div class="col-md-4">
                    <input class="" id="FNumber" placeholder="Fabrikatnummer" name="Number" type="text" value="">
                    <input class="" id="Number" name="Number" type="Button" onclick="addMaterial('/RecipeM/md_recipe_RecipeM/choosConcrete')" value="Suchen">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" onclick="loadfabrikatReport()"  type="button" value="Bericht">
                </div>
            </div>
            @*<div class="form-group">
                <label class="control-label col-md-3" for="Number">Alle</label>
                <div class="col-md-4">
                    @*<input class="form-control text-box single-line" id="Number" name="Number" type="text" value="705">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" type="button" value="Bericht">
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Fahrer<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3" for="Number">Fahrernummer</label>
                <div class="col-md-4">
                    <input class="" id="DNumber" placeholder="Fahrernummer" name="Number" type="text" value="">
                    <input class="" id="Number" name="Number" type="Button" onclick="addMaterial('@Url.Action("chooseDriver", "Reports", new { area = "Material" })')" value="Suchen">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" onclick="loadDriverReport()" type="button" value="Bericht">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Kunde/Baustelle<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-1" for="Number">Kundennr.</label>
                <div class="col-md-3">
                    <input class="" id="KNumber" placeholder="Kundennummer" name="Number" type="text" value="">
                    <input class="" id="KId" placeholder="Kundennummer" name="Number" type="hidden" value="">
                    <input class="" id="Number" name="Number" type="Button" onclick="addMaterial('@Url.Action("ChooseCustomer", "Reports", new { area = "Material" })')" value="Suchen">
                </div>
                <label class="control-label col-md-1" for="Number">Baustellennr.</label>
                <div class="col-md-3">
                    <input class="" id="BNumber" placeholder="Baustellennummer" name="Number" type="text" value="">
                    <input class="" id="Number" name="Number" type="Button" onclick="searchConstruction()" value="Suchen">
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" onclick="loadCustomerReport()" type="button"  value="Bericht">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Zuschlagstoff Lieferungen<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-7" for="Number"></label>
                
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Number" name="Number" onclick="aggregateReport()" type="button" value="Bericht">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >
    $(document).ready(function(){
        $("input[type='datetime-local']").val(getDateTimeLocal());
        $("input[type='date']").val(getDateTimeLocal("date"));
    })

    function searchConstruction() {
        addMaterial('@Url.Action("ChooseConstructionSite", "Reports", new { area = "Material" })?id=' + $("#KNumber").val());
    }
    function loadCustomerReport() {
        var number = $("#KNumber").val();
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        var constructionSite = $("#BNumber").val();
        var object = "<iframe src=\"@Url.Action("reportCustomer", "Reports", new { area = "material" } )" + "?number=" + number + "&from=" + from + "&to=" + to + "&conNumber=" + constructionSite + "\" type=\"application/pdf\" width=\"830\" height=\"800\" ><p>nicht</p></iframe>";
        pdfModal("Material", object, [""]);
    }

    function loadMaterialReport(){
        var number = $("#MNumber").val();
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        var object = "<embed src=\"@Url.Action("reportMaterial","Reports", new { area = "material" } )" + "?number=" + number + "&from=" + from + "&to=" + to + "\" type=\"application/pdf\" width=\"830\" height=\"800\" ></object>";
        pdfModal("Material", object, [""]);
        //reportDetails("report", "@Url.Action("reportMaterial","Reports", new { area = "material" } )",number,from,to )
    }
    function loadfabrikatReport(){
        var number = $("#FNumber").val();
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        var object = "<embed src=\"@Url.Action("reportFabrikat", "Reports", new { area = "material" } )" + "?number=" + number + "&from=" + from + "&to=" + to + "\" type=\"application/pdf\" width=\"830\" height=\"800\" ></object>";
        pdfModal("Material", object, [""]);
        //reportDetails("report", "@Url.Action("reportFabrikat","Reports", new { area = "material" } )",number,from,to )
    }
    function aggregateReport(){
        var number = $("#ANumber").val();
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        var object = "<embed src=\"@Url.Action("reportAggregate", "Reports", new { area = "material" } )" + "?number=" + number + "&from=" + from + "&to=" + to + "\" type=\"application/pdf\" width=\"830\" height=\"800\" ></object>";
        pdfModal("Material", object, [""]);

    }
    function loadDriverReport(){
        var number = $("#DNumber").val();
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        var object = "<embed src=\"@Url.Action("reportDriver", "Reports", new { area = "material" } )" + "?number=" + number + "&from=" + from + "&to=" + to + "\" type=\"application/pdf\" width=\"830\" height=\"800\" ></object>";
        pdfModal("Material", object, [""]);

    }
    function loadLotSumReport() {
        var number = $("#OrderNumber").val();
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        var object = "<embed src=\"@Url.Action("ReportSumLot", "md_material_MaterialMoving", new { area = "material" } )" + "?OrderNumber=" + number + "&from=" + from + "&to=" + to + "\" type=\"application/pdf\" width=\"830\" height=\"800\" ></object>";
        pdfModal("Material", object, [""]);

    }
    





    function LotCheck() {
        var OrderNo = $("#OrderNumber").val();
        $.getJSON("@Url.Action("checkOrderNumber","md_material_MaterialMoving", new { area="Material" })", { OrderNumber: OrderNo }, function (data) {
            if (data == true) {
                $("#getReportBtn").prop("disabled", false);
                $("#getSumReportBtn").prop("disabled", false);
            }
            else {
                $("#getReportBtn").prop("disabled", true);
                $("#getSumReportBtn").prop("disabled", true);
            }
        });


    }
    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
            }
        });

    }
    function chooseConstr(e) {
        $("#aggre").modal("hide");
        var number = $(e).closest("tr").find("td[columnname='ConstructionSiteId']").text().trim();
        $("#BNumber").val(number);
    }

    function chooseCusto(e){
        $("#aggre").modal("hide");
        var number = $(e).closest("tr").find("td[columnname='CustomerId']").text().trim();
        $("#KNumber").val(number);
    }

    function driverSlect(driverNumber){
        $("#aggre").modal("hide");
        $("#DNumber").val(driverNumber);
    }

    function getMaterialById(e) {
        $("#aggre").modal("hide");
        //var data = { id: $(e).closest("tr").find("td[columnname='Id']").text().trim() };
        var number = $(e).closest("tr").find("td[columnname='Street']").text().trim();
        if ($(e).closest("tr").attr("materialtypett") == "5") {
            $("#FNumber").val(number);
        }
        else {
            $("#MNumber").val(number);
        }

    }
    function ChooseMaterial2(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
    function topDateFilterChangeR() {
        var from = $(".date-from").val();
        var to = $(".date-to").val();
        if (from != "" && to == "") {
            $(".date-to").val(from);
        }
        if (from == "" && to != "") {
            $(".date-from").val(to);
        }
    }

    function getLoadingOrder(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "POST",
            dataType: "text",
            data: { dateFrom : $(".date-from").val(), dateTo : $(".date-to").val() },
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                choosLodingOrder("Material", data, ["", ""]);
            }
        });
    }

    function choosLodingOrder(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
    function choosLoding(e) {
        $("#aggre").modal("hide");
        $("#OrderNumber").val($(e).closest("tr").find("td[columnname='OrderId']").text());
        $("#getReportBtn").prop("disabled", false);
        $("#getSumReportBtn").prop("disabled", false);

    }
    function pdfModal(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
    }
</script>