﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Address>
@using PagedList.Mvc

<div class="tableContent" tablename="md_order_Address">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Adressen Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }


    <p>
        <i onclick="location.href='@Url.Action("Create", "md_masterData_Address", new { area = "MasterData" })'" class="fa fa-plus"></i>
    </p>
    <i style="color:green" onclick="refresh()" class="fa fa-refresh"></i>
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_order_Address" editUrl="@Url.Action("Edit", "md_masterData_Address", new { area = "Order" })" deleteUrl="@Url.Action("Delete", "md_masterData_Address", new { area = "Order" })">
            <thead>
                <tr class="caption">
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Country" style="">
                        @Html.DisplayNameFor(model => model[0].Country)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="City" style="">
                        @Html.DisplayNameFor(model => model[0].City)
                    </th>
                    <th editable="true" onclick="sort(this)" colname="ZipCode" style="">
                        @Html.DisplayNameFor(model => model[0].ZipCode)
                    </th>
                    <th editable="true" colname="State" style="display:none">
                        @Html.DisplayNameFor(model => model[0].State)
                    </th>
                    <th editable="true" colname="Street" style="">
                        @Html.DisplayNameFor(model => model[0].Street)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="Id" tablename="md_order_Address">
                    </th>
                    <th style="" class="head-filter" columnname="Country" tablename="md_order_Address">
                    </th>
                    <th style="" class="head-filter" columnname="City" tablename="md_order_Address">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.FilterCity" />
                    </th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_order_Address">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.FilterZipCode" />
                    </th>
                    <th style="display:none" class="head-filter" columnname="State" tablename="md_order_Address">
                    </th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_order_Address">
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value"  columnname="Id" style="" tablename="md_order_Address">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value" columnname="Country" style="" tablename="md_order_Address">
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td class="column-value" columnname="City" style="" tablename="md_order_Address">
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td class="column-value" columnname="ZipCode" style="" tablename="md_order_Address">
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </td>
                        <td class="column-value" columnname="State" style="display:none;" tablename="md_order_Address">
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td class="column-value" columnname="Street" style="" tablename="md_order_Address">
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <div>
            
            @*@Html.PagedListPager(Model, page => Url.Action("#",*@
    @*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@


            <div class="pagination-container">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li>
                            <a href="#" aria-label="Previous" pg="1">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @if (Model.PageCount > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                        }
                    }

                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li>
                            <a href="#" aria-label="Next">@Model.PageCount
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div>
                <select onchange="filter()" class="pagesize form-control" style="width:75px">
                    @{
                        List<int> pageSize = new List<int>() { 5, 10, 50, 100 };
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }

                </select>
            </div>
        </div>

    </div>

</div>
