﻿@model PCMS.Areas.Material.Models.md_material_Location

@{
    ViewBag.Title = "Lagerort Hinzufügen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_t.cshtml")
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading" onclick="togglePanalBody(this)">
                        <h3 class="panel-title">Lager <i style="float:right" class="fa fa-chevron-up"></i></h3>
                    </div>
                    <div style="" class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("GroupId", null,"---Bitte wählen---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.MaterialId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaterialId, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-2">
                                @*@Html.EditorFor(model => model.MaterialId, new { htmlAttributes = new { @class = "form-control", @readonly="readonly"} })*@
                                @*@Html.ValidationMessageFor(model => model.MaterialId, "", new { @class = "text-danger" })*@
                                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Material&quot; muss eine Zahl sein." id="MaterialNumber" name="_MaterialNumber" readonly="readonly" type="text" value="">
                            </div>
                            <div class="col-md-3">
                                <span id="materialName"></span>
                            </div>
                            <div class="col-md-4">
                                <button type="button" onclick="addMaterial('@Url.Action("choosMaterial", "md_material_Location", new { area = "Material" })')"><i style="color:green" class="fa fa-plus"></i>Material auswählen</button>
                                <button type="button" onclick="removeMaterial()"><i style="color:red" class="fa fa-minus"></i>Löschen</button>
                            </div>
                        </div>

                        <div style="display:none" class="form-group">
                            @Html.LabelFor(model => model.FacilityId, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FacilityId, new { htmlAttributes = new { @class = "form-control" ,@value="1" } })
                                @Html.ValidationMessageFor(model => model.FacilityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Number , htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Max, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Max, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Max, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Min, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Min, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Min, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Active1, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Active1)
                                    @Html.ValidationMessageFor(model => model.Active1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Active2, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Active2)
                                    @Html.ValidationMessageFor(model => model.Active2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*@Html.HiddenFor(model => model.Active3)*@
                        <input class="input-validation-error" data-val="true" data-val-required="Das Feld &quot;Aktiv3&quot; ist erforderlich." id="Active3" name="Active3" type="hidden" value="false">
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Active3, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-9">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Active3)
                                    @Html.ValidationMessageFor(model => model.Active3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_b.cshtml")
}

<script type="text/javascript">
function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
            }
        });

}
function ChooseMaterial2(titel, content, arg) {
    var modal = "";
    modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
    modal += '<div class="modal-dialog modal-lg">';
    modal += '<div class="modal-content">';
    modal += '<div class="modal-header">';
    modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
    modal += '<h4 class="modal-title">' + titel + '</h4>';
    modal += '</div>';
    modal += '<div class="modal-body">';
    modal += '<p>' + content + '</p>';
    modal += '</div>';
    modal += '</div>';
    modal += '</div>';
    modal += '</div>';
    modal += '</div>';
    var dModal = $(modal);
    dModal.modal('show');

    $(dModal).on('hidden.bs.modal', function (e) {
        $(this).remove();
    })
}
function getMaterialById(e) {
    $("#aggre").modal("hide");
    var id = $(e).closest("tr").find("td[columnname='Id']").text().trim();
    //var number = $(e).closest("tr").find("td[columnname='Number']").text().trim();
    var name = $(e).closest("tr").find("td[columnname='Lastname']").text().trim();
    var number = $(e).closest("tr").find("td[columnname='Street']").text().trim();
    $("#MaterialId").val(id);
    $("#MaterialNumber").val(number);   
    $("#materialName").text(name);
    //var newTd = '<tr id="' + id + '" type="2" class="materialRow"><td class="rowNumber"></td><td class="materialArticleNumber">' + number + '</td><td>' + name + '</td><td>---</td><td><input class="materialId" name="materialId" type="hidden" value="' + id + '" ><input class="materialPercent" style="width: 60px;" type="number" value="0" /></td><td>Equipment</td><td><a href="#"><i onclick="moveMaUp(this)" style="" class="fa fa-arrow-up"></i></a><a href="#"><i onclick="moveMaUp(this)" style="" class="fa fa-arrow-down"></i></a>  </td><td>  <a href="#"><i onclick="removeMaterial(this)" style="color:red" class="fa fa-minus"></i></a></td></tr>';
    //$(newTd).insertBefore("#gradingCurvMaterialTable .addTr");
    //writeRowNumbers();
}
function removeMaterial() {
    $("#MaterialId").val("");
    $("#materialName").text("");
    $("#MaterialNumber").val("");
}

</script>