﻿<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-6" for="MasterUnit">Berechnung für</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Berechnung für&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Berechnung für&quot; ist erforderlich." id="WMasterUnit" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="MasterUnit" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="AirVoidContent">Luftporengehalt</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Luftporengehalt&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Luftporengehalt&quot; ist erforderlich." id="WAirVoidContent" name="" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="AirVoidContent" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="WaterContent">Wassergehalt</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Wassergehalt&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Wassergehalt&quot; ist erforderlich." id="WWaterContent" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="WaterContent" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="ContentOfCement">Zementgehalt</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Zementgehalt&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Zementgehalt&quot; ist erforderlich." id="WContentOfCement" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="ContentOfCement" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="Additive">Zusatzmittel</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Zusatzmittel&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Zusatzmittel&quot; ist erforderlich." id="WAdditive" name="" readonly="readonly" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="Additive" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="SolidMaterialrest">Festst. im Restw.</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Festst. im Restw.&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Festst. im Restw.&quot; ist erforderlich." id="WSolidMaterialrest" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="SolidMaterialrest" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-6" for="Aggregate">Gesteinskörnung</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Gesteinskörnung&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Gesteinskörnung&quot; ist erforderlich." id="WAggregate" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="Aggregate" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="AggregateFixed">Gesteink. fest</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Gesteink. fest&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Gesteink. fest&quot; ist erforderlich." id="WAggregateFixed" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="AggregateFixed" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="SurfaceDamp">Oberflächenfeuchte</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Oberflächenfeuchte&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Oberflächenfeuchte&quot; ist erforderlich." id="WSurfaceDamp" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="SurfaceDamp" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="AdditionWater">Zugabewasser</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Zugabewasser&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Zugabewasser&quot; ist erforderlich." id="WAdditionWater" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="AdditionWater" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="WetConcreteDensity">Frischbetondichte</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Frischbetondichte&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Frischbetondichte&quot; ist erforderlich." id="WWetConcreteDensity" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="WetConcreteDensity" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-6" for="MealGrain">Mehlkorn</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Mehlkorn&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Mehlkorn&quot; ist erforderlich." id="WMealGrain" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="MealGrain" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="MealFineGrain">Mehl-/Feinstkorn</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Mehl-/Feinstkorn&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Mehl-/Feinstkorn&quot; ist erforderlich." id="WMealFineGrain" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="MealFineGrain" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="MortarContent">Mörtegehalt</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Mörtegehalt&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Mörtegehalt&quot; ist erforderlich." id="WMortarContent" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="MortarContent" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="ClementPaste">Zementleim</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Zementleim&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;Zementleim&quot; ist erforderlich." id="WClementPaste" name="" readonly="readonly" type="number" value="">
                <span class="field-validation-valid" data-valmsg-for="ClementPaste" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="WZValue">w/z-Wert</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;w/z-Wert&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;w/z-Wert&quot; ist erforderlich." id="WWZValue" name="" readonly="readonly" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="WZValue" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6" for="WZValueEq">w/z(eq)</label>
            <div class="col-md-5">
                <input class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;w/z(eq)&quot; muss eine Zahl sein." data-val-required="Das Feld &quot;w/z(eq)&quot; ist erforderlich." id="WWZValueEq" name="" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="WZValueEq" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-condensed" id="WRecipeCalcDensityTable" style="margin-top: 50px; position: relative; top: 0px; left: 0px;">
        <thead>
            <tr>
                <th>k-Wert</th>
                <th>Dichte kg/dm³</th>
                <th>Volumen dm³</th>
                <th>Gehalt kg/dm³</th>
                <th>Feuchte %</th>
                <th>Wasser kg/m³</th>
                <th>Feste kg/m³</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>