﻿@model PCMS.Areas.Order.Models.md_order_Advertising
@{
    ViewBag.Title = "Erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("~/Views/Shared/Partial_Cancel_Create_t.cshtml")
    <fieldset>
        @*<div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Id)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.UId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UId)
            </div>
        </div>*@
        
        <div class="form-group">
            @Html.LabelFor(model => model.ShortText, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ShortText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortText, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <br
        <div class="form-group">
            @Html.LabelFor(model => model.Default, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Default, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Default, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @*<div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.IsActiv)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsActiv, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActiv)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.IsDeleted)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsDeleted, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsDeleted)
            </div>
        </div>*@
       
    </fieldset>
}@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
