﻿@model PCMS.Areas.Order.Models.md_order_Advertising
@{
    ViewBag.Title = "Erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")
    <fieldset>
        @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
        @Html.HiddenFor(model => model.UId, new { @class = "form-control" })
        @Html.HiddenFor(model => model.IsActiv, new { @class = "form-control" })
        @Html.HiddenFor(model => model.IsDeleted, new { @class = "form-control" })
        <div class="form-group">
            @Html.LabelFor(model => model.ShortText, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.ShortText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortText, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <br
        <div class="form-group">
            @Html.LabelFor(model => model.Default, htmlAttributes: new { @class = "col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Default, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Default, "", new { @class = "text-danger" })
            </div>
        </div>

    </fieldset>
}@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
