﻿@model PagedList.IPagedList<PCMS.Areas.Order.Models.md_order_Advertising>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Werbetext";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_order_Advertising">
    <a class="btn btn-default" href="@Url.Action("Create","md_order_Advertising", new { area = "Order" })"><i class="fa fa-plus"></i> Neuer Text</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_order_Advertising", new { area = "Order" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_order_Advertising" editUrl="@Url.Action("Edit", "md_order_Advertising", new {area = "Order"})" deleteUrl="@Url.Action("Delete", "md_order_Advertising", new {area = "Order"})" detailsUrl="@Url.Action("Details", "md_order_Advertising", new {area = "Order"})">
            <thead>
            <tr class="caption">
                <th editable="false" onclick="sort(this)" colName="ShortText" style="">
                    @Html.DisplayNameFor(model => model[0].ShortText)
                </th>
                <th editable="false" onclick="sort(this)" colName="Text" style="">
                    @Html.DisplayNameFor(model => model[0].Text)
                </th>
                <th editable="false" onclick="sort(this)" colName="Default" style="">
                    @Html.DisplayNameFor(model => model[0].Default)
                </th>
            </tr>
            @*<tr>
                <th style="" class="head-filter" columnName="ShortText" tableName="md_order_Advertising">
                </th>
                <th style="" class="head-filter" columnName="Text" tableName="md_order_Advertising">
                </th>
                <th style="" class="head-filter" columnName="Default" tableName="md_order_Advertising">
                </th>
            </tr>*@
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td class="column-value" isKey="false" columnName="ShortText" style="" tableName="md_order_Advertising">
                        @Html.DisplayFor(modelItem => item.ShortText)
                    </td>
                    <td class="column-value" isKey="false" columnName="Text" style="" tableName="md_order_Advertising">
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td class="column-value" isKey="false" columnName="Default" style="" tableName="md_order_Advertising">
                        @Html.DisplayFor(modelItem => item.Default)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <br>
        @*//--------------------------------------------------------------Start Pagging
        *@
        <div class="TableNaviFrame">
            <div class="TableNaviStats">
                Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @Model.PageCount<br>
                Eintrag @Model.FirstItemOnPage bis @Model.LastItemOnPage von @Model.TotalItemCount
            </div>
            <div class="pagination-container TableNaviSite">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li><a pn="1" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    }
                    @if (Model.Count > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                        }
                    }
                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li><a pn="@Model.PageCount" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    }
                </ul>
            </div>
            <div class="TableNaviCount">
                <select onchange="filter()" class="pagesize form-control" style="">
                    @{
                        List<int> pageSize = new List<int>() {5, 10, 50, 100};
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*--------------------------------------------------------------End Pagging
        *@
    </div>
</div>