﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Fahrzeug erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.vehicle.VehicleTypeId)*@
    @Html.HiddenFor(model => model.vehicle.DriverId)
    @Html.HiddenFor(model=>model.vehicle.CustomerId)
    @Html.HiddenFor(model => model.vehicle.FacilitiesId)

    <div class="row">
        @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.PlateNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.PlateNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.PlateNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.TareWeight, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.TareWeight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.TareWeight, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.VehicleNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.VehicleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.VehicleNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.EmptyingProgram, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.EmptyingProgram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.EmptyingProgram, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.MaxTotal, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.MaxTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.MaxTotal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.LastDateTareWeighing, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.LastDateTareWeighing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.LastDateTareWeighing, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.Capacity, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicleType.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.vehicle.VehicleTypeId, ViewBag.VehicleTypeId as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vehicleType.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.RFID, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.vehicle.RFID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.RFID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.Rental, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.vehicle.Rental, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.Rental, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.vehicle.Collector, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.vehicle.Collector, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicle.Collector, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.driver.DriverNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.driver.DriverNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.driver.DriverNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <input type="button" style="width:200px;" value="Fahrer zuweisen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseDriver","md_masterData_Vehicle", new { area = "MasterData" })', Title='Fahrer auswählen')" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.facili.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.facili.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facili.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <input type="button" style="width:200px;" value="Hauptwerk auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseFacilities","md_masterData_Vehicle", new { area = "MasterData" })', Title = 'Werk auswählen')" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.customer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customer.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <input type="button" style="width:200px;" value="Kunden zuweisen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseCustomer","md_masterData_Vehicle", new { area = "MasterData" })', Title = 'Kunde auswählen')" />
        </div>
    </div>
    <div class="row">
        @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
    </div>
}
@*<script>
    //$(document).on("keydown","input",function(e){
    $('input').keydown(function (e) {
        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        if (key == 13) {
            e.preventDefault();
            var inputs = $(this).closest('form').find(':input:visible');
            inputs.eq(inputs.index(this) + 1).focus();
        }
    });
</script>*@