﻿@model PCMS.Areas.MasterData.Models.md_masterData_Vehicle
@{
    ViewBag.Title = "Fahrzeug löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PlateNumber)
    @Html.HiddenFor(model => model.Capacity)
    @Html.HiddenFor(model => model.VehicleTypeId)
    @Html.HiddenFor(model => model.DriverId)
    @Html.HiddenFor(model => model.FacilitiesId)
    @Html.HiddenFor(model => model.EmptyingProgram)
    @Html.HiddenFor(model => model.RFID)
    @Html.HiddenFor(model => model.TareWeight)
    @Html.HiddenFor(model => model.MaxTotal)
    @Html.HiddenFor(model => model.LastDateTareWeighing)
    @Html.HiddenFor(model => model.Collector)
    @Html.HiddenFor(model => model.Rental)

    <div>Möchten sie das Fahrzeug "@Html.DisplayTextFor(model => model.PlateNumber)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}