﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Vehicle>
@using PagedList.Mvc;

<div class="tableContent" tablename="md_masterData_Vehicle">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Fahrzeug Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <a class="btn btn-default" href="@Url.Action("Create","md_masterData_Vehicle", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neues Fahrzeug</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_masterData_Vehicle", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Vehicle" editUrl="@Url.Action("Edit", "md_masterData_Vehicle", new { area = "MasterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Vehicle", new { area = "MasterData" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="VehicleNumber" style="">
                        @Html.DisplayNameFor(model => model[0].VehicleNumber)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="NumberPlate" style="">
                        @Html.DisplayNameFor(model => model[0].PlateNumber)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Capacity" style="">
                        @Html.DisplayNameFor(model => model[0].Capacity)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Name" style="">
                        @Html.DisplayNameFor(model => model[0].Md_Customer.Name)
                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="VehicleNumber" tableName="md_masterData_Vehicle">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnName="PlateNumber" tableName="md_masterData_Vehicle">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnName="Capacity" tableName="md_masterData_Vehicle">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                    <th style="" class="head-filter" columnName="Name" tableName="md_masterData_Vehicle">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value" isKey="true" columnName="VehicleNumber" style="" tableName="md_masterData_Vehicle">
                            @Html.DisplayFor(modelItem => item.VehicleNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="PlateNumber" style="" tableName="md_masterData_Vehicle">
                            @Html.DisplayFor(modelItem => item.PlateNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="Capacity" style="" tableName="md_masterData_Vehicle">
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td class="column-value" isKey="false" columnName="Name" style="" tableName="md_masterData_Vehicle">
                            @Html.DisplayFor(modelItem => item.Md_Customer.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    </div>
</div>