﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Trader>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Trader">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Händler Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }


    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)

    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseTrader","md_order_Order", new { area = "Order" } )" class="table table-hover table-condensed" tablename="md_masterData_Trader">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="TraderId" style="">@Html.DisplayNameFor(model => model[0].TraderId)</th>
                    <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                    <th editable="true" colname="Street" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.Street)</th>
                    <th editable="true" colname="ZipCode" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.ZipCode)</th>
                    <th editable="true" colname="City" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.City)</th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="TraderId" tablename="md_masterData_Trader"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Trader"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_masterData_Trader"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_masterData_Trader"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="City" tablename="md_masterData_Trader"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="FuChooseTrader(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_Trader">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="TraderId" style="" tablename="md_masterData_Trader">@Html.DisplayFor(modelItem => item.TraderId)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Trader">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td columnname="Street" style="" tablename="md_masterData_Trader">@Html.DisplayFor(modelItem => item.Md_masterData_Address.Street)</td>
                        <td columnname="ZipCode" style="" tablename="md_masterData_Trader">@Html.DisplayFor(modelItem => item.Md_masterData_Address.ZipCode)</td>
                        <td columnname="City" style="" tablename="md_masterData_Trader">@Html.DisplayFor(modelItem => item.Md_masterData_Address.City)</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
        <br />
    </div>
</div>
<script>
    function FuChooseTrader(e) {
        $("#TraderName").val($(e).closest("tr").find("td[columnname='Name']").text().trim());
        $("#TraderNumber").val($(e).closest("tr").find("td[columnname='TraderId']").text().trim());
        $("#TraderId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());

        $("#Modal").modal("hide");
    }
</script>
