﻿@model List<PCMS.Areas.MasterData.Models.md_PriceMarkUp>
@using PagedList.Mvc
<div class="tableContent" tablename="md_PriceMarkUp">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Sonderleistungen Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_PriceMarkUp">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].EDVCode)</th>
                    <th editable="true" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</th>
                    <th editable="true" colname="Value" style="">@Html.DisplayNameFor(model => model[0].Amount)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseSpezi(@ViewBag.Id, this)">
                        <td columnname="Id" style="" tablename="md_PriceMarkUp">@Html.DisplayFor(modelItem => item.EDVCode)</td>
                        <td columnname="Description" style="" tablename="md_PriceMarkUp">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td columnname="Value" style="" tablename="md_PriceMarkUp">@Html.DisplayFor(modelItem => item.Amount)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function chooseSpezi(id, e) {
        if (id == 1) {
            $("#SpecialNumber1").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#SpecialDescription1").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
            $("#SpecialValue1").val($(e).closest("tr").find("td[columnname='Value']").text().trim());
        }
        if (id == 2) {
            $("#SpecialNumber2").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#SpecialDescription2").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
            $("#SpecialValue2").val($(e).closest("tr").find("td[columnname='Value']").text().trim());
        }
        if (id == 3) {
            $("#SpecialNumber3").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#SpecialDescription3").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
            $("#SpecialValue3").val($(e).closest("tr").find("td[columnname='Value']").text().trim());
        }
        if (id == 4) {
            $("#SpecialNumber4").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#SpecialDescription4").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
            $("#SpecialValue4").val($(e).closest("tr").find("td[columnname='Value']").text().trim());
        }
        if (id == 5) {
            $("#SpecialNumber5").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#SpecialDescription5").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
            $("#SpecialValue5").val($(e).closest("tr").find("td[columnname='Value']").text().trim());
        }

        $("#Modal").modal("hide");
    }
</script>

