﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_ConstructionSite>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_ConstructionSite">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Kunden auswählen";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseConstructionSite","md_order_Order", new { area = "Order" } )" class="table table-hover table-condensed" tablename="md_masterData_ConstructionSite">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="ConstructionSiteId" style="">@Html.DisplayNameFor(model => model[0].ConstructionSiteId)</th>
                    <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                    <th editable="true" colname="Street" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.Street)</th>
                    <th editable="true" colname="ZipCode" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.ZipCode)</th>
                    <th editable="true" colname="City" style="">@Html.DisplayNameFor(model => model[0].Md_masterData_Address.City)</th>
                </tr>
                <tr>
                    <th style="display:none" class="head-filter" columnname="Id" tablename="md_masterData_ConstructionSite"></th>
                    <th style="" class="head-filter" columnname="ConstructionSiteId" tablename="md_masterData_ConstructionSite"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModalConstr(this, @ViewBag.CustomerId)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_ConstructionSite"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModalConstr(this)" type="text" value="@ViewBag.Name" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Street" tablename="md_masterData_ConstructionSite"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModalConstr(this)" type="text" value="@ViewBag.Street" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="ZipCode" tablename="md_masterData_ConstructionSite"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModalConstr(this)" type="text" value="@ViewBag.ZipCode" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="City" tablename="md_masterData_ConstructionSite"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModalConstr(this)" type="text" value="@ViewBag.City" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseConstr(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_ConstructionSite">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="ConstructionSiteId" style="" tablename="md_masterData_ConstructionSite">@Html.DisplayFor(modelItem => item.ConstructionSiteId)</td>
                        <td columnname="Name" style="" tablename="md_masterData_ConstructionSite">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td columnname="Street" style="" tablename="md_masterData_ConstructionSite">@Html.DisplayFor(modelItem => item.Md_masterData_Address.Street)</td>
                        <td columnname="ZipCode" style="" tablename="md_masterData_ConstructionSite">@Html.DisplayFor(modelItem => item.Md_masterData_Address.ZipCode)</td>
                        <td columnname="City" style="" tablename="md_masterData_ConstructionSite">@Html.DisplayFor(modelItem => item.Md_masterData_Address.City)</td>
                        <td columnname="Distance" style="display:none" tablename="OrderViewModel">@Html.DisplayFor(modelItem => item.DistanceTime)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
<script>
    function chooseConstr(e) {
        $("#ConstructionSiteNumber").val($(e).closest("tr").find("td[columnname='ConstructionSiteId']").text().trim());
        $("#ConstructionSiteDescription").val($(e).closest("tr").find("td[columnname='Name']").text().trim());
        $("#DistanceTime").val($(e).closest("tr").find("td[columnname='Distance']").text().trim());
        $("#Modal").modal("hide");
        $("#ConstructionModal").modal("hide");
    }

    function headFilterKeyDownModalConstr(ev, id) {
        if (this.event.keyCode != 13) {
            return;
        }
        filterModalConstr();
    }
    function filterModalConstr(element, para, repUrl) {
        var object = {};
        var tableName = "";
        var filters = [];
        
        $(".modal-dialog .head-filter").each(function (i, e) {
            var sFilter = {};
            sFilter["colName"] = $(e).attr("columnname");
            if ($(e).find("input").val())
                sFilter["colVal"] = $(e).find("input").val();
            if ($(e).find("select").val())
                sFilter["colVal"] = $(e).find("select").val();
            tableName = $(e).attr("tablename");
            if (sFilter["colVal"])
                filters.push(sFilter);
        });
        var page = $(".tableContent[tablename='" + tableName + "'] .pagination .active a").attr("pn");
        var size = $(".tableContent[tablename='" + tableName + "'] .pagesize").val();
        var _url = window.location.href;
        if (para === "report") {
            //_url = '/Admin/Facilities/Report';
            _url = repUrl;
            object["report"] = true;
        }
        if ($(".modal-dialog table").attr("url"))
            _url = $(".modal-dialog table").attr("url");
        object["page"] = page;
        object["pageSize"] = size;
        object["pagFulFilter"] = filters;
        object["orderCol"] = $(".tableContent[tablename='" + tableName + "'] .sort").attr("colname");
        object["orderDir"] = $(".tableContent[tablename='" + tableName + "'] .sort").attr("order");

        //object["pg"] = object;
        var pg = {};
        pg["pg"] = object;
        pg["id"] = $("#CustomerId").val();
        $.ajax({
            //url: "/home/roles",
            url: _url,
            type: "POST",
            data: JSON.stringify(pg),
            dataType: "text",
            contentType: 'application/json',

            success: function (data) {
                //$(tableName).parent("table").find("tbody").replaceWith(data);
                $(".tableContent[tablename='" + tableName + "']").replaceWith(data);
                init();
                if (object["orderCol"]) {
                    $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").addClass("sort");
                    if (object["orderDir"] === "desc") {
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").attr("order", "desc");
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").append(' <i class="fa fa-sort-desc"></i>');
                    }
                    else {
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").attr("order", "asc");
                        $(".modal-dialog .tableContent[tablename='" + tableName + "'] th[colname='" + object["orderCol"] + "']").append(' <i class="fa fa-sort-asc"></i>');
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
                alert(textStatus);
                alert(jqXHR);
            }
        });
    }
</script>