﻿@model List<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc
<div class="tableContent" tablename="OrderViewModel">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Sorte Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="OrderViewModel">
                <thead>
                    <tr class="caption">
                        <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                        <th editable="true" colname="ArticleNumber" style="">@Html.DisplayNameFor(model => model[0].ArticleNumber)</th>
                        <th editable="true" colname="MaterialNumber" style="">@Html.DisplayNameFor(model => model[0].MaterialNumber)</th>
                        <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.Id" onclick="chooseMat(this)">
                        <td columnname="Id" style="" tablename="OrderViewModel">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="ArticleNumber" style="" tablename="OrderViewModel">@Html.DisplayFor(modelItem => item.ArticleNumber)</td>
                        <td columnname="MaterialNumber" style="" tablename="OrderViewModel">@Html.DisplayFor(modelItem => item.MaterialNumber)</td>
                        <td columnname="Name" style="" tablename="OrderViewModel">@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                    }
                </tbody>
            </table>
    </div>

</div>
