﻿@model PCMS.Areas.Order.Models.md_order_ContingentOrder

@{
    ViewBag.Title = "Kontingentauftrag anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*if(DateTime.Now.DayOfWeek == DayOfWeek.Monday)
        {

        }
        if(DateTime.Now.DayOfWeek == DayOfWeek.Tuesday)
        {

        }*@

    <div style="display:none"><input name="DeliveryNoteTypeId" id="DeliveryNoteTypeId" value="@ViewBag.DeliveryTypeId" /></div>
    <div style="display:none"><input name="AdmixCount" id="AdmixCount" /></div>
    <div style="display:none"><input name="BinderCount" id="BinderCount" /></div>
    <div style="display:none"><input name="WaterCount" id="WaterCount" /></div>
    <div style="display:none"><input name="AggregatesCount" id="AggregatesCount" /></div>
    <div style="display:none"><input name="AdditivesCount" id="AdditivesCount" /></div>
    <div style="display:none"><input name="MaterialCount" id="MaterialCount" /></div>

    @Html.HiddenFor(model => model.MaterialId)
    @Html.HiddenFor(model => model.RecipeId)

    @Html.HiddenFor(model => model.MinLot)
    @Html.HiddenFor(model => model.MaxLot)

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    if (ViewBag.CompanyType == 1)
    {
        <div class="row">
            <div class="col-md-12" style="background-color:lightgrey"><h3>Kontingentauftrag</h3></div>
            <div class="col-md-12"><hr /></div>
        </div>
    }
    else
    {

    }
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.ContingentNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.ContingentNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContingentNumber)
            </div>
        </div>


        @if (ViewBag.CompanyType == 1)
        {
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("ProductionQuantity", "Produktionsmenge", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
        }
        else
        {
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("OrderQuantity", "Bestellte Menge [m³]", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
        }
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.OrderedQuantity, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.OrderedDefault, style = "background-color:lightyellow" } })
                @Html.ValidationMessageFor(model => model.OrderedQuantity)
            </div>
        </div>


        @if (ViewBag.CompanyType == 1)
        {
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("RestQuantity", "Restmenge", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
        }
        else
        {
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("DeliveredQuantity", "Gelieferte Menge [m³]", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
        }
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.DeliveredQuantity, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.OrderedDefault } })
                @Html.ValidationMessageFor(model => model.DeliveredQuantity)
            </div>
        </div>
        @if (ViewBag.CompanyType == 1)
        {

        }
        else
        {
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                    @Html.ValidationMessageFor(model => model.RegistrationDate)
                </div>
            </div>
            if (ViewBag.CompanyType != 1)
            {
                <div class="col-md-1">
                    <div class="editor-label">
                        @Html.Label("locationId", "FM-Zugabe", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.LocationId, new SelectList(ViewBag.Location, "Value", "Text"), htmlAttributes: new { @class = "form-control", @onchange = "ddlOnChange()", @required = "required" })
                        @*@Html.DropDownListFor(model => model.LocationId, ViewBag.Location as SelectList, htmlAttributes: new { @class = "form-control", @onchange = "ddlOnChange()", @required = "required" })*@
                        @Html.ValidationMessageFor(model => model.LocationId)
                        @Html.HiddenFor(model => model.LocationDescription)
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-12"><hr /></div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        @*<div class="row">
                <div class="col-md-1">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.RegistrationDate)
                    </div>
                </div>
            </div>
            <br />*@
        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="Kunden auswählen" style="width:240px;" onclick="openCustomer('@Url.Action("ChooseCustomer", "md_order_Order", new { area = "Order" })')" />
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="Kunden anlegen" style="width:240px;" onclick="openModalBig('@Url.Action("CreateCustomer","md_order_Order", new { area = "Order" } )', title='Kunden auswählen')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.CustomerNumber, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div style="display:none"><input name="CustomerId" id="CustomerId" /></div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerNumber)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>
        </div>

        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="Baustelle auswählen" style="width:240px;" onclick="SearchConstructionSite()" />
            </div>
            @*<div class="col-md-2">
                    <input type="button" class="btn btn-default" value="Baustelle auswählen" style="width:240px;" onclick="openModal('@Url.Action("ChooseConstructionSite", "md_order_Order", new { area = "Order" })', title = 'Baustelle auswählen')" />
                </div>*@
            <div class="col-md-2">
                @*<input type="button" class="btn btn-default" value="Baustelle anlegen" style="width:240px;" onclick="openModalBig('@Url.Action("CreateConstructionSite","md_order_Order", new { area = "Order" } )', title = 'Baustelle anlegen')" />*@
                <input type="button" class="btn btn-default" value="Baustelle anlegen" style="width:240px;" onclick="CreateConstructionSite()" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ConstructionSiteNumber)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.ConstructionSiteNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConstructionSiteNumber)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ConstructionSiteDescription)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.ConstructionSiteDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConstructionSiteDescription)
                </div>
            </div>
        </div>

        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="Händler auswählen" style="width:240px;" onclick="openModal('@Url.Action("ChooseTrader","md_order_Order", new { area = "Order" } )', title = 'Händer auswählen')" />
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="Händler anlegen" style="width:240px;" onclick="openModalBig('@Url.Action("CreateTrader","md_order_Order", new { area = "Order" } )', title = 'Händer anlegen')" />
            </div>
        </div>
        <br />
                <div class="row">
                    <div class="col-md-1">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TraderNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.HiddenFor(model => model.TraderId)
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TraderNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TraderNumber)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TraderName, htmlAttributes: new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TraderName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TraderName)
                        </div>
                    </div>
                </div>

                <div class="col-md-12"><hr /></div>
    }
    <div class="row">
        <div class="col-md-2">
            <input type="button" class="btn btn-default" value="Rezept auswählen" style="width:240px;" onclick="openModal('@Url.Action("ChooseNewRecipe", "md_order_Order", new { area = "Order" })', title = 'Rezept auswählen')" />
        </div>
    </div>
    <br />
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RecipeNumber)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.RecipeNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.RecipeNumber)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RecipeDescription)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.RecipeDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.RecipeDescription)
                </div>
            </div>
        </div>

        <div class="col-md-12"><hr /></div>

    if (ViewBag.CompanyType == 1)
    {
        <br />
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaterialNumber, "Fabrikatnummer")
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaterialNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaterialNumber)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaterialDescription, "Fabrikat")
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaterialDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaterialDescription)
                </div>
            </div>
        </div>


        @Html.HiddenFor(model => model.MaterialNumber)
        @Html.HiddenFor(model => model.MaterialDescription)
    }
    else
    {
        @*<div class="row">
                <div class="col-md-2">
                    <input type="button" class="btn btn-default" value="Sorte auswählen" style="width:240px;" onclick="openMaterial('@Url.Action("ChooseMaterial", "md_order_Order", new { area = "Order" })')" />
                </div>
            </div>
            <br />*@
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaterialNumber)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaterialNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaterialNumber)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("Betonsorte")
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaterialDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaterialDescription)
                </div>
            </div>
            @*<div class="col-md-1">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NormDescription)
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NormDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NormDescription)
                    </div>
                </div>*@

        </div>

        <div class="col-md-12"><hr /></div>

        <div class="row">

            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("Konsistenz Sollwert")
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.ConsistencyValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConsistencyValue)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.VehicleAmount)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.VehicleAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleAmount)
                </div>
            </div>
        </div>

        <div class="col-md-12"><hr /></div>
        <div class="row">
            @*<div class="col-md-1">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BackAmount, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BackAmount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BackAmount)
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BackAmountDN, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BackAmountDN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BackAmountDN)
                    </div>
                </div>*@
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("DeliveryCycleAmount", "Lieferzyklus Menge [m³]", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.DeliveryCycleAmount, new { htmlAttributes = new { @class = "form-control", @required = "required", style = "background-color:lightyellow" } })
                    @Html.ValidationMessageFor(model => model.DeliveryCycleAmount)
                </div>
            </div>

            @*Änderungen vom 24.02.2016 von Hakan Matzir Start*@

            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("RoundTripTime", "Umlaufzeit", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.Editor("RoundTripTime", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("OrderEnd", "Auftragende", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.Editor("OrderEnd", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            @*Änderungen vom 24.02.2016 von Hakan Matzir Ende*@
        </div>
        <div class="col-md-12"><hr /></div>
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DeliveryCycleTime, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.DeliveryCycleTime, new { htmlAttributes = new { @class = "form-control", type = "time", @required = "required", style = "background-color:lightyellow" } })
                    @Html.ValidationMessageFor(model => model.DeliveryCycleTime)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.LoadingTime, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.LoadingTime, new { htmlAttributes = new { @class = "form-control" }, @type = "time" })
                    @Html.ValidationMessageFor(model => model.LoadingTime)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DistanceTime, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.DistanceTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                    @Html.ValidationMessageFor(model => model.DistanceTime)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ConstructionSiteTime, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.ConstructionSiteTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                    @Html.ValidationMessageFor(model => model.ConstructionSiteTime)
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="Lieferschein Typ auswählen" style="width:240px;" onclick="openDeliveryNoteType('@Url.Action("ChooseDeliveryNoteType", "md_order_Order", new { area = "Order" })')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DeliveryNoteType.Description, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.DeliveryNoteType.Description, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DeliveryType } })
                    @Html.ValidationMessageFor(model => model.DeliveryNoteType.Description)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.Label("Mischerbefüllung [%]")
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.BatchSize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BatchSize)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MixTime, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.MixTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MixTime)
                </div>
            </div>

        </div>
        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-default" value="VA-Zeit auswählen" style="width:240px;" onclick="openModal('@Url.Action("ChooseRetardation", "md_order_Order", new { area = "Order" })' , titel = 'Verzerögerungs-Zeit auswählen')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Workability, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.Workability, new { htmlAttributes = new { @class = "form-control", @onblur = "test(5);" } })
                    @Html.ValidationMessageFor(model => model.Workability)
                </div>
            </div>
        </div>
    }

    if (ViewBag.CompanyType == 1)
    {
        @*<div class="col-md-12"><hr /></div>
            <div class="row">
                <div class="col-md-12" style="background-color:lightgrey"><h3>Rezeptdetails</h3></div>
            </div>
            <div class="col-md-12"><br /></div>*@


    }
    else
    {
        <div class="col-md-12"><hr /></div>
        <div class="row">
            <div class="col-md-12" style="background-color:lightgrey"><h3>Einstellungen</h3></div>
        </div>
        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-xs-1">
                <h3>Zement</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                1.
            </div>
            @Html.Hidden("BinderId0", null)
            @Html.Hidden("BinderSort0", null)
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("BinderNumber0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("BinderDescription0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("BinderValue0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("BinderAdmit0", null, new { @class = "form-control", @Value = "0" })
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseBinder", "md_order_Order", new { area = "Order" })')" />
            </div>
        </div>
        <br />

        <div class="col-md-12" id="Config2"><hr /></div>

        <div class="row">
            <div class="col-xs-1">
                <h3>Zusatzmittel</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                1.
            </div>
            @Html.Hidden("AdmixId0", null)
            @Html.Hidden("AdmixSort0", null)
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdmixNumber0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdmixDescription0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdmixValue0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdmixAdmit0", null, new { @class = "form-control", @Value = "0" })
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseAdmix", "md_order_Order", new { area = "Order" })')" />
            </div>
        </div>
        <br />

        <div class="col-md-12" id="Config3"><hr /></div>

        <div class="row">
            <div class="col-xs-1">
                <h3>Wasser</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                1.
            </div>
            @Html.Hidden("WaterId0", null)
            @Html.Hidden("WaterSort", null)
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("WaterNumber0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("WaterDescription0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("WaterValue0", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("WaterAdmit0", null, new { @class = "form-control", @Value = "0" })
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseWater", "md_order_Order", new { area = "Order" })')" />
            </div>
        </div>
        <br />

        <div class="row" id="Config4">
            <div class="col-md-12"><hr /></div>
        </div>

        <div class="row">
            <div class="col-xs-1">
                <h3>Zuschlagstoffe</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                1.
            </div>
            @Html.Hidden("AggregatesId0", null)
            @Html.Hidden("AggregatesSort0", null)
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AggregatesNumber0", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AggregatesDescription0", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AggregatesValue0", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <br />

        <div class="row" id="Config5">
            <div class="col-md-12"><hr /></div>
        </div>

        <div class="row">
            <div class="col-xs-1">
                <h3>Additive</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                1.
            </div>
            @Html.Hidden("AdditivesId0", null)
            @Html.Hidden("AdditivesSort0", null)
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdditivesNumber0", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdditivesDescription0", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.TextBox("AdditivesValue0", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <br />
        <div class="row" id="Config6">
            <div class="col-md-12" style="background-color:lightgrey"><h3>Sonderleistungen</h3></div>
        </div>
        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-xs-1">
                1.
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialNumber1, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.SpNo, @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SpecialNumber1)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialDescription1, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.SpDescription } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription1)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialValue1, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.SpValue } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription1)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseSpecials", "md_order_Order", new { area = "Order", id = 1 })', titel = 'Preiszuschlag auswählen')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                2.
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialNumber2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SpecialNumber2)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialDescription2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription2)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialValue2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription2)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseSpecials", "md_order_Order", new { area = "Order", id = 2 })', titel = 'Preiszuschlag auswählen')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                3.
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialNumber3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SpecialNumber3)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialDescription3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription3)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialValue3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription3)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseSpecials", "md_order_Order", new { area = "Order", id = 3 })', titel = 'Preiszuschlag auswählen')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                4.
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialNumber4, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SpecialNumber4)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialDescription4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription4)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialValue4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription4)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseSpecials", "md_order_Order", new { area = "Order", id = 4 })', titel = 'Preiszuschlag auswählen')" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                5.
            </div>
            <div class="col-md-1">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialNumber5, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SpecialNumber5)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialDescription5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialDescription5)
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.SpecialValue5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialValue5)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-default" value="Hinzufügen" onclick="openModal('@Url.Action("ChooseSpecials", "md_order_Order", new { area = "Order", id = 5 })', titel = 'Preiszuschlag auswählen')" />
            </div>
        </div>

        <div class="col-md-12"><hr /></div>

    }

    <div class="row" id="Config7">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Bemerkungen</h3></div>
    </div>
        <div class="col-md-12"><hr /></div>

        <div class="row">
            <div class="col-xs-2">
                <div class="editor-field">
                    @Html.LabelFor(model => model.DNComment)
                </div>
            </div>
            <div class="col-md-9">
                <div class="editor-field">
                    @Html.EditorFor(model => model.DNComment, new { htmlAttributes = new { @class = "form-control", @style = "width:765px; max-width:765px;" } })
                    @Html.ValidationMessageFor(model => model.DNComment)
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2">
                <div class="editor-field">
                    @Html.LabelFor(model => model.Comment1)
                </div>
            </div>
            <div class="col-md-9">
                <div class="editor-field">
                    @Html.EditorFor(model => model.Comment1, new { htmlAttributes = new { @class = "form-control", @style = "width:765px; max-width:765px;" } })
                    @Html.ValidationMessageFor(model => model.Comment1)
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2">
                <div class="editor-field">
                    @Html.LabelFor(model => model.Comment2)
                </div>
            </div>
            <div class="col-md-9">
                <div class="editor-field">
                    @Html.EditorFor(model => model.Comment2, new { htmlAttributes = new { @class = "form-control", @style = "width:765px; max-width:765px;" } })
                    @Html.ValidationMessageFor(model => model.Comment2)
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2">
                <div class="editor-field">
                    @Html.LabelFor(model => model.Comment3)
                </div>
            </div>
            <div class="col-md-9">
                <div class="editor-field">
                    @Html.EditorFor(model => model.Comment3, new { htmlAttributes = new { @class = "form-control", @style = "width:765px; max-width:765px;" } })
                    @Html.ValidationMessageFor(model => model.Comment3)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")
}
<script type="text/javascript">

            var counterBinder = 1;
            var numberBinder = 0;
            var counterAdmix = 1;
            var numberAdmix = 0;
            var numberWater = 0;
            var counterWater = 1;
            var numberWaterLC = 0;
            var counterWaterLC = 1;
            var counterAdditives = 1;
            var numberAdditives = 0;
            var numberAggregates = 0;
            var counterAggregates = 1;
            var counter = 0;
            var error = false;

            function AddEditorFieldsAdditives() {
                var link = "'/Order/md_order_Order/ChooseAddivites/'"
                var header = counterAdditives + 1;
                var newTd = ''
                + '<div class="row" Id="rowsAdditives' + counterAdditives + '">'
                + '<div class="col-xs-1" Id="headerAdditives' + counterAdditives + '">' + header + '.</div>'
                + '<input type="hidden" name="AdditivesId' + counterAdditives + '" id="AdditivesId' + counterAdditives + '"/>'
                + '<div class="col-md-1" Id="div1Additives' + counterAdditives + '"><div class="label-field" Id="fieldAdditives1' + counterAdditives + '"><input type="text" class="form-control" name="AdditivesId' + counterAdditives + '" id="AdditivesId' + counterAdditives + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="div2Additives' + counterAdditives + '"><div class="label-field" Id="fieldAdditives2' + counterAdditives + '"><input type="text" class="form-control" name="AdditivesDescription' + counterAdditives + '" id="AdditivesDescription' + counterAdditives + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="div3Additives' + counterAdditives + '"><div class="label-field" Id="fieldAdditives3' + counterAdditives + '"><input type="text" class="form-control" name="AdditivesValue' + counterAdditives + '" id="AdditivesValue' + counterAdditives + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="div4Additives' + counterAdditives + '" style="display:none"><div class="label-field" Id="fieldAdditives4' + counterAdditives + '"><input type="text" name="AdditivesSort' + counterAdditives + '" id="AdditivesSort' + counterAdditives + '"/></div></div>'
                + '</div><br/>';
                counterAdditives++;
                $(newTd).insertBefore("#Config6");
                CheckNegative();
            }

            function AddEditorFieldsAggregates() {
                var link = "'/Order/md_order_Order/ChooseAggregates/'"
                var header = counterAggregates + 1;
                var newTd = ''
                + '<div class="row" Id="rowsAggregates' + counterAggregates + '">'
                + '<div class="col-xs-1" Id="headerAggregates' + counterAggregates + '">' + header + '.</div>'
                + '<input type="hidden" name="AggregatesId' + counterAggregates + '" id="AggregatesId' + counterAggregates + '"/>'
                + '<div class="col-md-1" Id="divAggregates1' + counterAggregates + '"><div class="label-field" Id="fieldAggregates1' + counterAggregates + '"><input type="text" class="form-control" name="AggregatesNumber' + counterAggregates + '" id="AggregatesNumber' + counterAggregates + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divAggregates2' + counterAggregates + '"><div class="label-field" Id="fieldAggregates2' + counterAggregates + '"><input type="text" class="form-control" name="AggregatesDescription' + counterAggregates + '" id="AggregatesDescription' + counterAggregates + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divAggregates3' + counterAggregates + '"><div class="label-field" Id="fieldAggregates3' + counterAggregates + '"><input type="text" class="form-control" name="AggregatesValue' + counterAggregates + '" id="AggregatesValue' + counterAggregates + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divAggregates4' + counterAggregates + '" style="display:none"><div class="label-field" Id="fieldAggregates4' + counterAggregates + '"><input type="text" name="AggregatesSort' + counterAggregates + '" id="AggregatesSort' + counterAggregates + '"/></div></div>'
                + '</div><br Id="breakAggregates' + counterAggregates + '"/>';
                counterAggregates++;
                $(newTd).insertBefore("#Config5");
                CheckNegative();
            }

            function AddEditorFieldsBinder() {
                var link = "'/Order/md_order_Order/ChooseBinder/'"
                var header = counterBinder + 1;
                var newTd = ''
                + '<div class="row" Id="rowsBinder' + counterBinder + '">'
                + '<div class="col-xs-1" Id="headerBinder' + counterBinder + '">' + header + '.</div>'
                + '<input type="hidden" name="BinderId' + counterBinder + '" id="BinderId' + counterBinder + '"/>'
                + '<div class="col-md-1" Id="divBinder1' + counterBinder + '"><div class="label-field" Id="fieldBinder1' + counterBinder + '"><input type="text" class="form-control" name="BinderNumber' + counterBinder + '" id="BinderNumber' + counterBinder + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divBinder2' + counterBinder + '"><div class="label-field" Id="fieldBinder2' + counterBinder + '"><input type="text" class="form-control" name="BinderDescription' + counterBinder + '" id="BinderDescription' + counterBinder + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divBinder3' + counterBinder + '"><div class="label-field" Id="fieldBinder3' + counterBinder + '"><input type="text" class="form-control" name="BinderValue' + counterBinder + '" id="BinderValue' + counterBinder + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divBinder4' + counterBinder + '" style="display:none"><div class="label-field" Id="fieldBinder4' + counterBinder + '"><input type="text" name="BinderSort' + counterBinder + '" id="BinderSort' + counterBinder + '"/></div></div>'
                 + '<div class="col-md-1" Id="divBinder5' + counterBinder + '"><div class="label-field" Id="fieldBinder5' + counterBinder + '"><input type="text" class="form-control" name="BinderAdmit' + counterBinder + '" id="BinderAdmit' + counterBinder + '" value="0"/></div></div>'
                + '<div class="col-md-1" Id="divBinder6' + counterBinder + '"><input type="button" Id="ButtonBinder' + counterBinder + '" class="btn btn-default" value="Hinzufügen" onclick="openModal(' + link + ');" /></div></div><br Id="breakBinder' + counterBinder + '"/>';
                counterBinder++;
                $(newTd).insertBefore("#Config2");
                CheckNegative();
            }

            function AddEditorFieldsAdmix() {
                var link = "'/Order/md_order_Order/ChooseAdmix/'"
                var header = counterAdmix + 1;
                var newTd = ''
                + '<div class="row" Id="rowsAdmix' + counterAdmix + '">'
                + '<div class="col-xs-1" Id="headerAdmix' + counterAdmix + '">' + header + '.</div>'
                + '<input type="hidden" name="AdmixId' + counterAdmix + '" id="AdmixId' + counterAdmix + '"/>'
                + '<div class="col-md-1" Id="divAdmix1' + counterAdmix + '"><div class="label-field"><input type="text" class="form-control" name="AdmixNumber' + counterAdmix + '" id="AdmixNumber' + counterAdmix + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divAdmix2' + counterAdmix + '"><div class="label-field"><input type="text" class="form-control" name="AdmixDescription' + counterAdmix + '" id="AdmixDescription' + counterAdmix + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divAdmix3' + counterAdmix + '"><div class="label-field"><input type="text" class="form-control" name="AdmixValue' + counterAdmix + '" id="AdmixValue' + counterAdmix + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" style="display:none" Id="divAdmix4' + counterAdmix + '"><div class="label-field"><input type="text" name="AdmixSort' + counterAdmix + '" id="AdmixSort' + counterAdmix + '"/></div></div>'
                + '<div class="col-md-1" Id="divAdmix5' + counterAdmix + '"><div class="label-field"><input type="text" class="form-control" name="AdmixAdmit' + counterAdmix + '" id="AdmixAdmit' + counterAdmix + '" value="0"/></div></div>'
                + '<div class="col-md-1" Id="divAdmix6' + counterAdmix + '"><input type="button" Id="ButtonAdmix' + counterAdmix + '" class="btn btn-default" value="Hinzufügen" onclick="openModal(' + link + ');" /></div></div><br Id="breakAdmix' + counterAdmix + '"/>';
                counterAdmix++;
                $(newTd).insertBefore("#Config3");
                CheckNegative();
            }

            function AddEditorFieldsWater() {
                var link = "'/Order/md_order_Order/ChooseWater/'"
                var header = counterWater + 1;
                var newTd = ''
                + '<div class="row" Id="rowWater' + counterWater + '">'
                + '<div class="col-xs-1" Id="headerWater' + counterWater + '">' + header + '.</div>'
                + '<input type="hidden" name="WaterId' + counterWater + '" id="WaterId' + counterWater + '"/>'
                + '<div class="col-md-1" Id="divWater1' + counterWater + '"><div class="label-field"><input type="text" class="form-control" name="WaterNumber' + counterWater + '" id="WaterNumber' + counterWater + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divWater2' + counterWater + '"><div class="label-field"><input type="text" class="form-control" name="WaterDescription' + counterWater + '" id="WaterDescription' + counterWater + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divWater3' + counterWater + '"><div class="label-field"><input type="text" class="form-control" name="WaterValue' + counterWater + '" id="WaterValue' + counterWater + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divWater4' + counterWater + '"style="display:none"><div class="label-field"><input type="text" name="WaterSort' + counterWater + '" id="WaterSort' + counterWater + '"/></div></div>'
                + '<div class="col-md-1" Id="divWater5' + counterWater + '"><div class="label-field"><input type="text" class="form-control" name="WaterAdmit' + counterWater + '" id="WaterAdmit' + counterWater + '" value="0"/></div></div>'
                + '<div class="col-md-1" Id="divWater6' + counterWater + '"><input type="button" Id="ButtonWater' + counterWater + '" class="btn btn-default" value="Hinzufügen" onclick="openModal(' + link + ');" /></div></div><br Id="breakWater' + counterWater + '"/>';
                counterWater++;
                $(newTd).insertBefore("#Config4");
                CheckNegative();
            }

            function AddFieldsSpecial() {
                var header = counter + 1;
                var newTd = ''
                + '<div class="row" style="display:none" Id="rows' + counter + '">'
                + '<div class="col-xs-1" style="display:none" Id="header' + counter + '">' + header + '.</div>'
                + '<input type="hidden" name="MaterialId' + counter + '" id="MaterialId' + counter + '"/>'
                + '<div class="col-md-1" Id="divs01' + counter + '"><div class="label-field" Id="field01' + counter + '"><input type="hidden" class="form-control" name="MaterialNumber' + counter + '" id="MaterialNumber' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-2" Id="divs02' + counter + '"><div class="label-field" Id="field02' + counter + '"><input type="hidden" class="form-control" name="MaterialDescription' + counter + '" id="MaterialDescription' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs03' + counter + '"><div class="label-field" Id="field03' + counter + '"><input type="hidden" class="form-control" name="MaterialValue' + counter + '" id="MaterialValue' + counter + '" readonly="true"/></div></div>'

                + '<div class="col-md-1" Id="divs05' + counter + '"><div class="label-field "Id="field05' + counter + '"><input type="hidden" class="form-control" name="ChargeSetpoint' + counter + '" id="ChargeSetpoint' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs06' + counter + '"><div class="label-field "Id="field06' + counter + '"><input type="hidden" class="form-control" name="OrderSetpoint' + counter + '" id="OrderSetpoint' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs07' + counter + '"><div class="label-field "Id="field07' + counter + '"><input type="hidden" class="form-control" name="LocationNumber' + counter + '" id="LocationNumber' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-3" Id="divs09' + counter + '"><div class="label-field "Id="field09' + counter + '"><input type="hidden" class="form-control" name="LocationUnlock' + counter + '" id="LocationUnlock' + counter + '" readonly="true"/></div></div>'

                + '</div>'
                + '<div class="col-md-1" Id="divs04' + counter + '"><div class="label-field "Id="field04' + counter + '"><input type="hidden" class="form-control" name="MaterialType' + counter + '" id="MaterialType' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs08' + counter + '"><div class="label-field "Id="field08' + counter + '"><input type="hidden" class="form-control" name="MaterialGroup' + counter + '" id="MaterialGroup' + counter + '" readonly="true"/></div></div>'


                + '<br/ Id="break' + counter + '" style="display:none"></div>'
                counter++;
                $(newTd).insertBefore("#Config7");
            }

            function AddFields() {
                var header = counter + 1;
                var newTd = ''
                + '<div class="row"Id="rows' + counter + '">'
                + '<div class="col-xs-1" Id="header' + counter + '">' + header + '.</div>'
                + '<input type="hidden" name="MaterialId' + counter + '" id="MaterialId' + counter + '"/>'
                + '<div class="col-md-1" Id="divs01' + counter + '"><div class="label-field" Id="field01' + counter + '"><input type="text" class="form-control" name="MaterialNumber' + counter + '" id="MaterialNumber' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-2" Id="divs02' + counter + '"><div class="label-field" Id="field02' + counter + '"><input type="text" class="form-control" name="MaterialDescription' + counter + '" id="MaterialDescription' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs03' + counter + '"><div class="label-field" Id="field03' + counter + '"><input type="text" class="form-control" name="MaterialValue' + counter + '" id="MaterialValue' + counter + '" readonly="true"/></div></div>'

                + '<div class="col-md-1" Id="divs05' + counter + '"><div class="label-field "Id="field05' + counter + '"><input type="text" class="form-control" name="ChargeSetpoint' + counter + '" id="ChargeSetpoint' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs06' + counter + '"><div class="label-field "Id="field06' + counter + '"><input type="text" class="form-control" name="OrderSetpoint' + counter + '" id="OrderSetpoint' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs07' + counter + '"><div class="label-field "Id="field07' + counter + '"><input type="text" class="form-control" name="LocationNumber' + counter + '" id="LocationNumber' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-3" Id="divs09' + counter + '"><div class="label-field "Id="field09' + counter + '"><input type="hidden" class="form-control" name="LocationUnlock' + counter + '" id="LocationUnlock' + counter + '" readonly="true"/></div></div>'

                + '</div>'
                + '<div class="col-md-1" Id="divs04' + counter + '"><div class="label-field "Id="field04' + counter + '"><input type="hidden" class="form-control" name="MaterialType' + counter + '" id="MaterialType' + counter + '" readonly="true"/></div></div>'
                + '<div class="col-md-1" Id="divs08' + counter + '"><div class="label-field "Id="field08' + counter + '"><input type="hidden" class="form-control" name="MaterialGroup' + counter + '" id="MaterialGroup' + counter + '" readonly="true"/></div></div>'


                + '<br/ Id="break' + counter + '"></div>'
                counter++;
                $(newTd).insertBefore("#Config7");
            }

            function AddHeader() {
                var newTd = ''
                + '<div class="row" Id="RowHeader">'
                + '<div class="col-md-1" Id="rh1">Zeilennummer</div>'
                + '<div class="col-md-1" Id="rh2">Materialnummer</div>'
                + '<div class="col-md-2" Id="rh3">Bezeichnung</div>'
                + '<div class="col-md-1" Id="rh4">Rezept Sollwert</div>'
                + '<div class="col-md-1" Id="rh5">Chargen Sollwert</div>'
                + '<div class="col-md-1" Id="rh6">Auftrags Sollwert</div>'
                + '<div class="col-md-1" Id="rh7">Lagerort</div>'
                + '</div></br Id="break01">'
                $(newTd).insertBefore("#Config7");
            }

            function chooseAdditives(e) {
                $("#AdditivesId" + numberAdditives).val($(e).closest("tr").find("td[columnname='Id']").text().trim());
                $("#AdditivesNumber" + numberAdditives).val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
                $("#AdditivesDescription" + numberAdditives).val($(e).closest("tr").find("td[columnname='Name']").text().trim());
                $("#AdditivesCount").val(numberAdditives);
                numberAdditives++;
                AddEditorFieldsAdditives();
                CheckNegative();
                $("#Modal").modal("hide");
            }

            function chooseAggregates(e) {
                $("#AggregatesId" + numberAggregates).val($(e).closest("tr").find("td[columnname='Id']").text().trim());
                $("#AggregatesNumber" + numberAggregates).val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
                $("#AggregatesDescription" + numberAggregates).val($(e).closest("tr").find("td[columnname='Name']").text().trim());
                $("#AggregatesCount").val(numberAggregates);
                numberAggregates++;
                AddEditorFieldsAggregates();
                $("#Modal").modal("hide");
            }

            function chooseBinder(e) {
                if ($("#BinderCount").val() == "") {
                    $("#BinderCount").val("0");
                }
                var cBinder = $("#BinderCount").val();
                $("#BinderId" + cBinder).val($(e).closest("tr").find("td[columnname='Id']").text().trim());
                $("#BinderNumber" + cBinder).val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
                $("#BinderDescription" + cBinder).val($(e).closest("tr").find("td[columnname='Name']").text().trim());
                $("#BinderValue" + cBinder).val("0");
                cBinder++;
                $("#BinderCount").val(cBinder);
                numberBinder++;
                AddEditorFieldsBinder();
                $("#Modal").modal("hide");
            }

            function chooseAdmix(e) {
                if ($("#AdmixCount").val() == "") {
                    $("#AdmixCount").val("0");
                }
                var cAdmix = $("#AdmixCount").val();
                $("#AdmixId" + cAdmix).val($(e).closest("tr").find("td[columnname='Id']").text().trim());
                $("#AdmixNumber" + cAdmix).val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
                $("#AdmixDescription" + cAdmix).val($(e).closest("tr").find("td[columnname='Name']").text().trim());
                $("#AdmixValue" + cAdmix).val("0");
                cAdmix++;
                $("#AdmixCount").val(cAdmix);
                numberAdmix++;
                AddEditorFieldsAdmix();
                $("#Modal").modal("hide");
            }

            function chooseWater(e) {
                if ($("#WaterCount").val() == "") {
                    $("#WaterCount").val("0");
                }
                var cWater = $("#WaterCount").val();
                $("#WaterId" + cWater).val($(e).closest("tr").find("td[columnname='Id']").text().trim());
                $("#WaterNumber" + cWater).val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
                $("#WaterDescription" + cWater).val($(e).closest("tr").find("td[columnname='Name']").text().trim());
                cWater++;
                $("#WaterCount").val(cWater);
                numberWater++;
                AddEditorFieldsWater();
                $("#Modal").modal("hide");
            }

            function DeleteFields() {

                var delCounter = 0;
                var ActualCounter = $("#MaterialCount").val() + 1;
                if (ActualCounter != 0) {

                    for (delCounter; delCounter < ActualCounter; delCounter++) {
                        $("#RowHeader").remove();
                        $("#rh1").remove();
                        $("#rh2").remove();
                        $("#rh3").remove();
                        $("#rh4").remove();
                        $("#rh5").remove();
                        $("#rh6").remove();
                        $("#rh7").remove();
                        $("#break01").remove();
                        $("#Hiddenfields" + delCounter).remove();
                        $("#rows" + delCounter).remove();
                        $("#header" + delCounter).remove();
                        $("#field01" + delCounter).remove();
                        $("#field02" + delCounter).remove();
                        $("#field03" + delCounter).remove();
                        $("#field04" + delCounter).remove();
                        $("#field05" + delCounter).remove();
                        $("#field06" + delCounter).remove();
                        $("#field07" + delCounter).remove();
                        $("#field08" + delCounter).remove();
                        $("#field09" + delCounter).remove();
                        $("#divs01" + delCounter).remove();
                        $("#divs02" + delCounter).remove();
                        $("#divs03" + delCounter).remove();
                        $("#divs04" + delCounter).remove();
                        $("#divs05" + delCounter).remove();
                        $("#divs06" + delCounter).remove();
                        $("#divs07" + delCounter).remove();
                        $("#divs08" + delCounter).remove();
                        $("#divs09" + delCounter).remove();
                        $("#break" + delCounter).remove();
                    }
                    $("#MaterialCount").val("0");
                }
            }

            function DeleteAdmixFields() {
                var delCounter = 1;
                var Count = 0;
                var ActualCounter = $("#AdmixCount").val();
                if (ActualCounter != 0) {

                    for (Count; Count < ActualCounter; Count++) {
                        $("#rowsAdmix" + delCounter).remove();
                        $("#headerAdmix" + delCounter).remove();
                        $("#divAdmix1" + delCounter).remove();
                        $("#divAdmix2" + delCounter).remove();
                        $("#divAdmix3" + delCounter).remove();
                        $("#divAdmix4" + delCounter).remove();
                        $("#divAdmix5" + delCounter).remove();
                        $("#fieldAdmix1" + delCounter).remove();
                        $("#fieldAdmix2" + delCounter).remove();
                        $("#fieldAdmix3" + delCounter).remove();
                        $("#fieldAdmix4" + delCounter).remove();
                        $("#fieldAdmix5" + delCounter).remove();
                        $("#AdmixValue" + delCounter).remove();
                        $("#AdmixDescription" + delCounter).remove();
                        $("#AdmixId" + delCounter).remove();
                        $("#AdmixNumber" + delCounter).remove();
                        $("#ButtonAdmix" + delCounter).remove();
                        $("#breakAdmix" + delCounter).remove();
                        delCounter++;
                    }
                    $("#AdmixCount").val("0");
                    $("#AdmixDescription0").val("");
                    $("#AdmixId0").val("");
                    $("#AdmixValue").val("");
                    $("#AdmixNumber").val("");
                    counterAdmix = 1;
                }
            }

            function DeleteAdditivesFields() {
                var delCounter = 1;
                var Count = 0;
                var ActualCounter = $("#AdditivesCount").val();
                if (ActualCounter != 0) {

                    for (Count; Count < ActualCounter; Count++) {
                        $("#rowsAdditives" + delCounter).remove();
                        $("#headerAdditives" + delCounter).remove();
                        $("#divAdditives1" + delCounter).remove();
                        $("#divAdditives2" + delCounter).remove();
                        $("#divAdditives3" + delCounter).remove();
                        $("#divAdditives4" + delCounter).remove();
                        $("#divAdditives5" + delCounter).remove();
                        $("#fieldAdditives1" + delCounter).remove();
                        $("#fieldAdditives2" + delCounter).remove();
                        $("#fieldAdditives3" + delCounter).remove();
                        $("#fieldAdditives4" + delCounter).remove();
                        $("#fieldAdditives5" + delCounter).remove();
                        $("#AdditivesValue" + delCounter).remove();
                        $("#AdditivesDescription" + delCounter).remove();
                        $("#AdditivesId" + delCounter).remove();
                        $("#AdditivesNumber" + delCounter).remove();
                        $("#ButtonAdditives" + delCounter).remove();
                        $("#breakAdditives" + delCounter).remove();
                        delCounter++;
                    }
                    $("#AdditivesCount").val("0");
                    $("#AdditivesDescription0").val("");
                    $("#AdditivesId0").val("");
                    $("#AdditivesValue").val("");
                    $("#AdditivesNumber").val("");
                    counterAdditives = 1;
                }
            }

            function DeleteAggregatesFields() {
                var delCounter = 1;
                var Count = 0;
                var ActualCounter = $("#AggregatesCount").val();
                if (ActualCounter != 0) {

                    for (Count; Count < ActualCounter; Count++) {
                        $("#rowsAggregates" + delCounter).remove();
                        $("#headerAggregates" + delCounter).remove();
                        $("#divAggregates1" + delCounter).remove();
                        $("#divAggregates2" + delCounter).remove();
                        $("#divAggregates3" + delCounter).remove();
                        $("#divAggregates4" + delCounter).remove();
                        $("#divAggregates5" + delCounter).remove();
                        $("#fieldAggregates1" + delCounter).remove();
                        $("#fieldAggregates2" + delCounter).remove();
                        $("#fieldAggregates3" + delCounter).remove();
                        $("#fieldAggregates4" + delCounter).remove();
                        $("#fieldAggregates5" + delCounter).remove();
                        $("#AggregatesValue" + delCounter).remove();
                        $("#AggregatesDescription" + delCounter).remove();
                        $("#AggregatesId" + delCounter).remove();
                        $("#AggregatesNumber" + delCounter).remove();
                        $("#breakAggregates" + delCounter).remove();
                        delCounter++;
                    }
                    $("#AggregatesCount").val("0");
                    $("#AggregatesDescription0").val("");
                    $("#AggregatesId0").val("");
                    $("#AggregatesValue").val("");
                    $("#AggregatesNumber").val("");
                    counterAggregates = 1;
                }
            }

            function DeleteWaterFields() {
                var delCounter = 1;
                var Count = 0;
                var ActualCounter = $("#WaterCount").val();
                if (ActualCounter != 0) {

                    for (Count; Count < ActualCounter; Count++) {
                        $("#rowsWater" + delCounter).remove();
                        $("#headerWater" + delCounter).remove();
                        $("#divWater1" + delCounter).remove();
                        $("#divWater2" + delCounter).remove();
                        $("#divWater3" + delCounter).remove();
                        $("#divWater4" + delCounter).remove();
                        $("#divWater5" + delCounter).remove();
                        $("#fieldWater1" + delCounter).remove();
                        $("#fieldWater2" + delCounter).remove();
                        $("#fieldWater3" + delCounter).remove();
                        $("#fieldWater4" + delCounter).remove();
                        $("#fieldWater5" + delCounter).remove();
                        $("#WaterValue" + delCounter).remove();
                        $("#WaterDescription" + delCounter).remove();
                        $("#WaterId" + delCounter).remove();
                        $("#WaterNumber" + delCounter).remove();
                        $("#ButtonWater" + delCounter).remove();
                        $("#breakWater" + delCounter).remove();
                        delCounter++;
                    }
                    $("#WaterCount").val("0");
                    $("#WaterDescription0").val("");
                    $("#WaterId0").val("");
                    $("#WaterValue").val("");
                    $("#WaterNumber").val("");
                    counterWater = 1;
                }
            }

            function DeleteBinderFields() {
                var delCounter = 1;
                var bindCount = 0;
                var ActualCounter = $("#BinderCount").val();
                if (ActualCounter != 0) {

                    for (bindCount; bindCount < ActualCounter; bindCount++) {
                        $("#rowsBinder" + delCounter).remove();
                        $("#headerBinder" + delCounter).remove();
                        $("#divBinder1" + delCounter).remove();
                        $("#divBinder2" + delCounter).remove();
                        $("#divBinder3" + delCounter).remove();
                        $("#divBinder4" + delCounter).remove();
                        $("#divBinder5" + delCounter).remove();
                        $("#fieldBinder1" + delCounter).remove();
                        $("#fieldBinder2" + delCounter).remove();
                        $("#fieldBinder3" + delCounter).remove();
                        $("#fieldBinder4" + delCounter).remove();
                        $("#fieldBinder5" + delCounter).remove();
                        $("#BinderValue" + delCounter).remove();
                        $("#BinderDescription" + delCounter).remove();
                        $("#BinderId" + delCounter).remove();
                        $("#BinderNumber" + delCounter).remove();
                        $("#ButtonBinder" + delCounter).remove();
                        $("#breakBinder" + delCounter).remove();
                        delCounter++;
                    }
                    $("#BinderCount").val("0");
                    $("#BinderValue0").val("0");
                    $("#BinderDescription0").val("0");
                    $("#BinderId0").val("0");
                    $("#BinderNumber0").val("0");
                    counterBinder = 1;
                }
            }

            function SelectSubstancesM(id) {
                var CheckRole = '@(User.IsInRole("mischanlage") ? "true" : "false")';
                if (CheckRole == "true") {
                    DeleteFields();
                    // löschen der vorhandenen felder
                    $.post("/Order/md_order_Order/SelectComponentsAll", { id: id }, function (data) {
                        //AddHeader();

                        for (var i = 0; i < data.id.length; i++) {
                            AddFieldsSpecial();
                            $("#MaterialId" + i).val(data.id[i]).text();
                            $("#MaterialNumber" + i).val(data.number[i]).text();
                            $("#MaterialDescription" + i).val(data.description[i]).text();
                            $("#MaterialValue" + i).val(data.value[i]).text();
                            $("#MaterialType" + i).val(data.type[i]).text();
                            $("#MaterialGroup" + i).val(data.group[i]).text();
                            $("#MaterialCount").val(i);
                        }
                        counter = 0;
                    });
                }
                else {
                    DeleteFields();
                    // löschen der vorhandenen felder
                    $.post("/Order/md_order_Order/SelectComponentsAll", { id: id }, function (data) {
                        AddHeader();

                        for (var i = 0; i < data.id.length; i++) {
                            AddFields();
                            $("#MaterialId" + i).val(data.id[i]).text();
                            $("#MaterialNumber" + i).val(data.number[i]).text();
                            $("#MaterialDescription" + i).val(data.description[i]).text();
                            $("#MaterialValue" + i).val(data.value[i]).text();
                            $("#MaterialType" + i).val(data.type[i]).text();
                            $("#MaterialGroup" + i).val(data.group[i]).text();
                            $("#MaterialCount").val(i);
                        }
                        counter = 0;
                    });
                }

            }

            function SelectSubstances(id) {
                $.post("/Order/md_order_Order/SelectComponents", { id: id }, function (data) {

                    var binderCounter = 0;
                    DeleteBinderFields();
                    for (binderCounter; binderCounter < data.binderNo.length; binderCounter++) {
                        AddEditorFieldsBinder()
                        $("#BinderId" + binderCounter).val(data.binderId[binderCounter]).text();
                        $("#BinderNumber" + binderCounter).val(data.binderNo[binderCounter]).text();
                        $("#BinderDescription" + binderCounter).val(data.binderDes[binderCounter]).text();
                        $("#BinderValue" + binderCounter).val(data.binderValue[binderCounter]).text();
                        $("#BinderSort" + binderCounter).val(data.binderSort[binderCounter]).text();
                        $("#BinderCount").val(binderCounter + 1);
                    }

                    var admixCounter = 0;
                    DeleteAdmixFields()
                    for (admixCounter; admixCounter < data.admixNo.length; admixCounter++) {
                        AddEditorFieldsAdmix()
                        $("#AdmixId" + admixCounter).val(data.admixId[admixCounter]).text();
                        $("#AdmixNumber" + admixCounter).val(data.admixNo[admixCounter]).text();
                        $("#AdmixDescription" + admixCounter).val(data.admixDes[admixCounter]).text();
                        $("#AdmixValue" + admixCounter).val(data.admixValue[admixCounter]).text();
                        $("#AdmixSort" + admixCounter).val(data.admixSort[admixCounter]).text();
                        $("#AdmixCount").val(admixCounter + 1);
                    }

                    var WaterCounter = 0;
                    DeleteWaterFields()
                    for (WaterCounter; WaterCounter < data.waterNo.length; WaterCounter++) {
                        AddEditorFieldsWater()
                        $("#WaterId" + WaterCounter).val(data.waterId[WaterCounter]).text();
                        $("#WaterNumber" + WaterCounter).val(data.waterNo[WaterCounter]).text();
                        $("#WaterDescription" + WaterCounter).val(data.waterDes[WaterCounter]).text();
                        $("#WaterValue" + WaterCounter).val(data.waterValue[WaterCounter]).text();
                        $("#WaterSort" + WaterCounter).val(data.waterSort[WaterCounter]).text();
                        $("#WaterCount").val(WaterCounter + 1);
                    }

                    var aggrCounter = 0;
                    DeleteAggregatesFields()
                    for (aggrCounter; aggrCounter < data.aggreNo.length; aggrCounter++) {
                        AddEditorFieldsAggregates()
                        $("#AggregatesId" + aggrCounter).val(data.aggreId[aggrCounter]).text();
                        $("#AggregatesNumber" + aggrCounter).val(data.aggreNo[aggrCounter]).text();
                        $("#AggregatesDescription" + aggrCounter).val(data.aggreDes[aggrCounter]).text();
                        $("#AggregatesValue" + aggrCounter).val(data.aggreValue[aggrCounter]).text();
                        $("#AggregatesSort" + aggrCounter).val(data.aggreSort[aggrCounter]).text();
                        $("#AggregatesCount").val(aggrCounter + 1);
                    }

                    var addiCounter = 0;
                    DeleteAdditivesFields()
                    for (addiCounter; addiCounter < data.addiNo.length; addiCounter++) {
                        AddEditorFieldsAdditives()
                        $("#AdditivesId" + addiCounter).val(data.addiId[addiCounter]).text();
                        $("#AdditivesNumber" + addiCounter).val(data.addiNo[addiCounter]).text();
                        $("#AdditivesDescription" + addiCounter).val(data.addiDes[addiCounter]).text();
                        $("#AdditivesValue" + addiCounter).val(data.addiVal[addiCounter]).text();
                        $("#AdditivesSort" + addiCounter).val(data.addiSort[addiCounter]).text();
                        $("#AdditivesCount").val(addiCounter + 1);
                    }
                    if ($("#AggregatesCount").val() == "") {
                        $("#AggregatesCount").val("0");
                    }
                    if ($("#WaterCount").val() == "") {
                        $("#WaterCount").val("0");
                    }
                    if ($("#AdmixCount").val() == "") {
                        $("#AdmixCount").val("0");
                    }
                    if ($("#AdditivesCount").val() == "") {
                        $("#AdditivesCount").val("0");
                    }
                    if ($("#BinderCount").val() == "") {
                        $("#BinderCount").val("0");
                    }
                    CheckNegative();
                });
            }

            function CalculateLoadingTime() {
                var DelTime = $("#ConstructionSiteTime").val().split(':');
                var DeliveryTime = DelTime[0] * 3600 + DelTime[1] * 60;
                var DisTime = $("#DistanceTime").val().split(':');
                var DistanceTime = DisTime[0] * 3600 + DisTime[1] * 60;

                var LoadingTime = DeliveryTime - DistanceTime;
                var hour = Math.floor(LoadingTime / 3600);
                var minute = Math.floor((LoadingTime % 3600) / 60);
                var productionTime = parseFloat($("#DeliveryCycleAmount").val());

                if (productionTime > minute)
                {
                    minute = 60 + minute;
                    hour = hour - 1;
                    minute = minute - productionTime;
                }
                else
                {
                    minute = minute - productionTime;
                }

                if (hour < 10) {
                    hour = "0" + hour;
                }
                if (minute < 10) {
                    minute = "0" + minute;
                }
                var time = hour + ":" + minute;
                $("#LoadingTime").val(time);

                // Änderungen 24.02.2016

                var ProductionTime = parseFloat($("#DeliveryCycleAmount").val()) * 60;
                var CyTime = $("#DeliveryCycleTime").val().split(':');
                var CycleTime = CyTime[0] * 3600 + CyTime[1] * 60;
                var RoundTime = CycleTime + DistanceTime * 2;

                var RoundHour = Math.floor(RoundTime / 3600);
                var RoundMinute = Math.floor((RoundTime % 3600) / 60) + parseFloat($("#DeliveryCycleAmount").val());

                if (RoundHour < 10) {
                    RoundHour = "0" + RoundHour;
                }
                if (RoundMinute < 10) {
                    RoundMinute = "0" + RoundMinute;
                }
                var RoundTripTime = RoundHour + ":" + RoundMinute;
                var RoundTmp = RoundTime + (60 * parseFloat($("#DeliveryCycleAmount").val()));

                var VehicleCount = Math.ceil(RoundTmp / CycleTime);

                $("#RoundTripTime").val(RoundTripTime);

                var OrderedQuantity = parseFloat($("#OrderedQuantity").val().replace(',','.'));
                var CycleQuantity = parseFloat($("#DeliveryCycleAmount").val().replace(',', '.'));

                if ((OrderedQuantity / CycleQuantity) > VehicleCount)
                {
                    $("#VehicleAmount").val(VehicleCount);
                }
                else
                {
                    $("#VehicleAmount").val(Math.ceil(OrderedQuantity / CycleQuantity));
                }

                var CycleCount = OrderedQuantity / CycleQuantity;
                var absProductionTime = CycleCount * ProductionTime;
                var absCycleTime = CycleTime * CycleCount + absProductionTime;

                var OrderEnd = absCycleTime + DeliveryTime;
                var OEHour = Math.floor(OrderEnd / 3600);
                var OEMin = Math.floor((OrderEnd % 3600) / 60);

                if (OEHour < 10) {
                    OEHour = "0" + OEHour;
                }
                if (OEMin < 10) {
                    OEMin = "0" + OEMin;
                }

                $("#OrderEnd").val(OEHour + ":" + OEMin);
            }

            function Calculate() {
                $.post("/Order/md_order_Order/Calculations", { MaxLot: $('#MaxLot').val(), OrdQuan: $('#OrderedQuantity').val(), DelQuan: $('#DeliveredQuantity').val() }, function (data) {
                    $("#LotCount").val(data.LotCount);
                    $("#LotWeight").val(data.LotWeight);
                    $("#LotProcent").val(data.LotProc);

                    CalculateSetPoint(data.LotWeight, data.LotCount, $('#RecipeId').val());
                });
            }

            function CalculateSetPoint(LotWeight, LotCount, id) {
                $.post("/Order/md_order_Order/SetpointCalculation", { LotWeight: LotWeight, LotCount: LotCount, id: id }, function (data) {
                    var CalcCounter = 0;
                    for (CalcCounter; CalcCounter < data.newSetpoint.length; CalcCounter++) {
                        $('#ChargeSetpoint' + CalcCounter).val(data.newSetpoint[CalcCounter]);
                        $('#OrderSetpoint' + CalcCounter).val(data.newOrderSP[CalcCounter]);
                        $('#LocationNumber' + CalcCounter).val(data.locNo[CalcCounter]);

                        if ($('#MaterialType' + CalcCounter).val() == "3") {
                            if ($('#LocationNumber' + CalcCounter).val() == "") {
                                $('#LocationNumber' + CalcCounter).val("0");
                            }
                            var tmpType = parseFloat($('#LocationNumber' + CalcCounter).val());
                            var tmpLoc = tmpType + 1000;
                            $('#LocationNumber' + CalcCounter).val(tmpLoc);
                        }
                        else {
                            if (data.locUnlock[CalcCounter] == false) {
                                if ($('#LocationNumber' + CalcCounter).val() == "") {
                                    $('#LocationUnlock' + CalcCounter).attr('type', 'text').css('color', 'red');
                                    $('#LocationUnlock' + CalcCounter).val('Lagerort ist nicht Vorhanden');
                                    error = true;
                                }
                                else {
                                    $('#LocationNumber' + CalcCounter).css('color', 'red');
                                    $('#LocationUnlock' + CalcCounter).attr('type', 'text').css('color', 'red');
                                    $('#LocationUnlock' + CalcCounter).val('Lagerort ist gesperrt');
                                    error = true;
                                }
                            }
                        }
                    }
                });
            }

            $('#DeliveryCycleAmount').blur(function () {
                CalculateLoadingTime();
            });

            $('#ConstructionSiteTime').blur(function () {
                CalculateLoadingTime();
            });

            $('#OrderedQuantity').blur(function () {
                Calculate();
                CalculateLoadingTime();
            });

            $('#DeliveredQuantity').blur(function () {
                Calculate();
            });

            function ddlOnChange() {
                $("#LocationDescription").val($("#LocationId option:selected").text());
            }

            $('form').submit(function () {
                if (error == true) {
                    $('#Error').show();
                    return false;
                }
                //MS 2017_07_07 Abfangen von Doppelclick start
                $("button[type='submit']").text("Bitte warten");
                $("button[type='submit']").prop("disabled", true);
                //MS 2017_07_07 Abfangen von Doppelclick end
            });

            $(document).ready(function () {

                $(document).tooltip({
                    track: true
                });
                ddlOnChange();
                var date = new Date();

                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();

                var hour = date.getHours();
                var minute = date.getMinutes();
                var second = date.getSeconds();

                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                if (second < 10) second = "0" + second;
                if (minute < 10) minute = "0" + minute;
                if (hour < 10) hour = "0" + hour;

                var today = year + "-" + month + "-" + day + "T" + hour + ":" + minute;
                $("#RegistrationDate").attr("value", today);

                if (parseInt(@ViewBag.CFCJquery) == 1) {
                    SelectSubstancesM($('#RecipeId').val());
                }

                CheckNegative();
            });

    function SearchConstructionSite()
    {
        var url = "@Url.Action("ChooseConstructionSite", "md_order_Order", new { area = "Order", id = "xxx" })";
        url = url.replace("xxx", $("#CustomerId").val());
        openModal(url, title = 'Baustelle auswählen');
    }

    function CreateConstructionSite()
    {
        var url = "@Url.Action("CreateConstructionSite", "md_order_Order", new { area = "Order", id = "xxx" })";
        url = url.replace("xxx", $("#CustomerId").val());
        openModalBig(url, title = 'Baustelle anlegen');
    }

    function CheckNegative() {
        //Nur Positive Zahlen erlauben

        $("#divID input[readonly!='readonly']").off("keydown");
        $("#divID input[readonly!='readonly']").on("keydown", function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }
            return !(event.altKey || event.ctrlKey || event.shiftKey)
                    && (
                        event.keyCode >= 48 && event.keyCode <= 57 // Ziffern
                        || event.keyCode >= 96 && event.keyCode <= 105 // Ziffern Nummernblock
                        || event.keyCode == 190 // punkt
                        || event.keyCode == 188 // komma
                        || event.keyCode == 110 // Nummernblock komma
                        || event.keyCode == 8   // backspace
                        || event.keyCode == 189 // bindestrich
                        || event.keyCode == 109 // Nummernblock minus
                    );
        });
    }

</script>