﻿@model PagedList.IPagedList<PCMS.Areas.LIMS.Models.md_masterData_Material>
@using PagedList.Mvc
@{ 
    ViewBag.Title = "Zuschlagstoffe Übersicht";
    Layout = null;
}

<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


           
       
    <div style="overflow-x: auto;">

            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditAggregates", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="Id" style="">
                            @Html.DisplayNameFor(model => model[0].Id)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="LastName" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="FirstName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                        <th editable="true" onclick="sort(this)" colname="Street" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="Id" tablename="md_masterData_Material">
                        </th>
                        <th style="" class="head-filter" columnname="LastName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" />
                        </th>
                        <th style="" class="head-filter" columnname="FirstName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" />
                        </th>
                        <th style="" class="head-filter" columnname="Street" tablename="md_masterData_Material">
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-valueM" columnname="Id" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="column-valueM" columnname="Lastname" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-valueM" columnname="Firstname" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                            <td class="column-valueM" columnname="Street" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td>
                                <button onclick="getMaterialById(this)">hinzufügen</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        

        
        




        <!-- ############################################################################################################ -->
        <!-- ############################################################################################################ -->
        <!-- ################################################            ################################################ -->
        <!-- ################################################ Seitenzahl ################################################ -->
        <!-- ################################################            ################################################ -->
        <!-- ############################################################################################################ -->
        <!-- ############################################################################################################ -->
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <div>

            @*@Html.PagedListPager(Model, page => Url.Action("#",*@
            @*new { page, sortmasterData = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@


            <div class="pagination-container">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li>
                            <a href="#" aria-label="Previous" pg="1">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @if (Model.PageCount > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#">@i <span class="sr-only"></span></a></li>
                        }
                    }

                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li>
                            <a href="#" aria-label="Next">
                                @Model.PageCount
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div>
                <select onchange="filter()" class="pagesize form-control" style="width:75px">
                    @{
                        List<int> pageSize = new List<int>() { 5, 10, 50, 100 };
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
</div>
