﻿body {
    //padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.logo{
        float: left;
    width: 250px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:link, a:visited,
a:active, a:hover {
    color: #333;
}

a:hover {
    background-color: #c7d1d6;
}

tr.selected-row {
    background-color: #86adff;
    border-color: #4f62ff;
}
/* Definitionen für Navigation in Tabellen */
.TableNaviFrame {
    /*background-color: deepskyblue;*/
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.TableNaviSite {
    float: left;
    margin-left: 3%;
    margin-top: 3px;
}

    .TableNaviSite ul {
        margin: 0;
    }

.TableNaviCount {
    /*width:75px;
    float:right;
    
    margin-right: 10%;
    margin-top: 3px;*/
}

.TableNaviCount {
    width: 75px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.TableNaviStats {
    float: right;
    margin-left: 10%;
    margin-top: 0px;
    margin-right: 3%;
}

DirkClass {
    bli: blubb;
    bli: bla;
    bli: as;
}

CommentClass {
    max-width: 600px;
}

/*paging*/
.TableNaviFrame{
     margin-bottom: 20px;
     margin-top: 5px;
}