﻿@model PagedList.IPagedList<PCMS.Areas.Admin.Models.aspNetUsers>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Benutzerliste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="AspNetUsers">
    
    
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="AspNetUsers" editUrl="@Url.Action("Edit", "AspNetUsers", new { area = "admin" })" deleteUrl="@Url.Action("Delete", "AspNetUsers", new { area = "admin" })" detailsUrl="@Url.Action("Details", "AspNetUsers", new { area = "admin" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Email" style="">
                        @Html.DisplayNameFor(model => model[0].Email)
                    </th>
                    
                    <th editable="false" onclick="sort(this)" colName="UserName" style="">
                        @Html.DisplayNameFor(model => model[0].UserName)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Selectedfacility" style="">
                        @Html.DisplayNameFor(model => model[0].Selectedfacility)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="AspNetUsers">
                    </th>*@
                    <th style="" class="head-filter" columnName="Email" tableName="AspNetUsers">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Email" />
                    </th>                    
                    <th style="" class="head-filter" columnName="UserName" tableName="AspNetUsers">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.UserName" />
                    </th>
                    <th style="" class="head-filter" columnName="Selectedfacility" tableName="AspNetUsers">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="AspNetUsers">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Email" style="" tableName="AspNetUsers">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>                       
                        <td class="column-value" isKey="false" columnName="UserName" style="" tableName="AspNetUsers">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="column-value" isKey="false" columnName="Selectedfacility" style="" tableName="AspNetUsers">
                            @*@Html.DisplayFor(modelItem => item.Selectedfacility)*@
                            @Html.DisplayFor(modelItem => item.Facility.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @*//--------------------------------------------------------------Start Pagging
        *@<div class="TableNaviFrame">
            <div class="TableNaviStats">
                Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @Model.PageCount<br>
                Eintrag @Model.FirstItemOnPage bis @Model.LastItemOnPage von @Model.TotalItemCount
            </div>
            <div class="pagination-container TableNaviSite">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li><a pn="1" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    }
                    @if (Model.PageCount > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                        }
                    }
                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li><a pn="@Model.PageCount" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    }
                </ul>
            </div>
            <div class="TableNaviCount">
                <select onchange="filter()" class="pagesize form-control" style="">
                    @{
                        List<int> pageSize = new List<int>() { 5, 10, 50, 100 };
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*--------------------------------------------------------------End Pagging
        *@
    </div>
</div>