﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Händler bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.trader.Id)
    @Html.HiddenFor(model => model.trader.ContactId)
    @Html.HiddenFor(model => model.trader.AddressId)
    @Html.HiddenFor(model => model.contact.Id)
    @Html.HiddenFor(model => model.address.Id)

    <table border="0">
        <tr>
            <!--<td>@Html.ActionLink("zurück zur Liste", "../Index")</td>-->
            <td><input type="button" onclick="location.href = '../Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
            <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.trader.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.trader.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trader.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.trader.TraderId, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.trader.TraderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trader.TraderId, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.trader.TraderIdEDV, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.trader.TraderIdEDV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trader.TraderIdEDV, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.Street, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.ZipCode, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.address.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.address.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address.City, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td class="control-label col-md-2"><h4>Ansprechpartner:</h4></td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.contact.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.LastName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.FirstName, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.contact.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Tel, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.contact.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.contact.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact.Mobile, "", new { @class = "text-danger" })
            </td>
        </tr>
        <!--Submit Schaltfläche und Zurück Link-->
        <tr>
            <td colspan="6"><hr /></td>
        </tr>
        <tr>
            <td><input type="button" onclick="location.href = '../Index'" value="Zurück zur Liste" class="btn btn-default" /></td>
            <td colspan="6" align="right"><input type="submit" value="Speichern" class="btn btn-default" /></td>
        </tr>
    </table>
}

