﻿@model PCMS.Areas.Recipe.Models.md_recipe_Recipe


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.HotWater, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.HotWater, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HotWater, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => (model.ActualValueTolerance), htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ActualValueTolerance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActualValueTolerance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SetPointDeviation, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.SetPointDeviation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SetPointDeviation)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MixerFilling, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @*@Html.EditorFor(model => model.MixerFilling, new { htmlAttributes = new { @class = "form-control"   } })*@
                <input value="@((Model != null ? Model.MixerFilling :  100).ToString())" class="form-control text-box single-line" data-val="true" data-val-number="Das Feld &quot;Mischerbefüllung&quot; muss eine Zahl sein." id="MixerFilling" name="MixerFilling" type="number">
                @Html.ValidationMessageFor(model => model.MixerFilling)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WasteWaterFactor, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WasteWaterFactor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WasteWaterFactor)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmptyingPartlyOpen1, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.EmptyingPartlyOpen1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmptyingPartlyOpen1)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmptyingPartlyOpen2, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.EmptyingPartlyOpen2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmptyingPartlyOpen2)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConsistencySetPoint, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ConsistencySetPoint, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConsistencySetPoint)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.FillMonitoringCement, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FillMonitoringCement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FillMonitoringCement)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FillRating, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FillRating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FillRating)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CementEmptyingDelay, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.CementEmptyingDelay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CementEmptyingDelay)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WaterEmptyingDelay, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.WaterEmptyingDelay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WaterEmptyingDelay)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdditiveEmptyingDelay, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.AdditiveEmptyingDelay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditiveEmptyingDelay)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FoamAdditionTime, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FoamAdditionTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FoamAdditionTime)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmptyingOpen, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.EmptyingOpen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmptyingOpen)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxWCValue, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MaxWCValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxWCValue)
            </div>
        </div>
    </div>

    </div>
