﻿@model PCMS.Areas.Recipe.Models.md_recipe_Recipe

<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Diagramm<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>

    <div style="" class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Lims_gradingCurv_GradingCurv.SieveRangeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("GradingCurvSieveRangeId", (SelectList) ViewData["GradingCurvSieveRangeId"], "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "loadSieveRange()" })*@
                @Html.DropDownList("GradingCurvSieveRangeId",null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "loadSieveRange()" })
                @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.SieveRangeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lims_gradingCurv_GradingCurv.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="" style="overflow-x: auto;">

            <table class="table sumWeight singleWeight">
                <thead>
                    <tr class="siveSizeRow">
                        <th>
                            Siebe
                        </th>
                        <th>
                            0,063
                        </th>
                        <th>
                            0,125
                        </th>
                        <th>
                            0,25
                        </th>
                        <th>
                            0,5
                        </th>
                        <th>
                            1
                        </th>
                        <th>
                            1,4
                        </th>
                        <th>
                            2
                        </th>
                        <th>
                            2,8
                        </th>
                        <th>
                            4
                        </th>
                        <th>
                            5,6
                        </th>
                        <th>
                            8
                        </th>
                        <th>
                            11,2
                        </th>
                        <th>
                            16
                        </th>
                        <th>
                            22,4
                        </th>
                        <th>
                            31,5
                        </th>
                        <th>
                            45
                        </th>
                        <th>
                            63
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr row="0">
                        <td>
                            Summe
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S0_063, new { htmlAttributes = new { @class = "form-control", @colname = "C0_063", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S0_063, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S0_125, new { htmlAttributes = new { @class = "form-control", @colname = "C0_125", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S0_125, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S0_25, new { htmlAttributes = new { @class = "form-control", @colname = "C0_25", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S0_25, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S0_5, new { htmlAttributes = new { @class = "form-control", @colname = "C0_5", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S0_5, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S1, new { htmlAttributes = new { @class = "form-control", @colname = "C1", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S1, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S1_4, new { htmlAttributes = new { @class = "form-control", @colname = "C1_4", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S1_4, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S2, new { htmlAttributes = new { @class = "form-control", @colname = "C2", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S2, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S2_8, new { htmlAttributes = new { @class = "form-control", @colname = "C2_8", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S2_8, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S4, new { htmlAttributes = new { @class = "form-control", @colname = "C4", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S4, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S5_6, new { htmlAttributes = new { @class = "form-control", @colname = "C5_6", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S5_6, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S8, new { htmlAttributes = new { @class = "form-control", @colname = "C8", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S8, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S11_2, new { htmlAttributes = new { @class = "form-control", @colname = "C11_2", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S11_2, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S16, new { htmlAttributes = new { @class = "form-control", @colname = "C16", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S16, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S22_4, new { htmlAttributes = new { @class = "form-control", @colname = "C22_4", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S22_4, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S31_5, new { htmlAttributes = new { @class = "form-control", @colname = "C31_5", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S31_5, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S45, new { htmlAttributes = new { @class = "form-control", @colname = "C45", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S45, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.S63, new { htmlAttributes = new { @class = "form-control", @colname = "C63", @style = "width:60px" } })
                            @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.S63, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lims_gradingCurv_GradingCurv.KValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Lims_gradingCurv_GradingCurv.KValue, new { htmlAttributes = new { @class = "form-control", @colname = "C63", @style = "width:60px" } })
                @Html.ValidationMessageFor(model => model.Lims_gradingCurv_GradingCurv.KValue, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="chartDiv">
            <canvas id="GradingRuleChart" width="800" height="350"></canvas>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).on("ready", function () {
        calcGradingCurv();
    })
</script>