﻿@model PagedList.IPagedList<PCMS.Areas.Recipe.Models.md_recipe_Recipe>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Mischrezepte";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_recipe_Recipe">

    <a class="btn btn-default" href="@Url.Action("Create","md_recipe_Recipe", new { area = "recipe" })"><i class="fa fa-plus"></i> Neues Rezept</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_recipe_Recipe", new { area = "recipe" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">      
        <table class="table table-hover table-condensed" tablename="md_recipe_Recipe" editUrl="@Url.Action("Edit", "md_recipe_Recipe", new { area = "recipe" })" deleteUrl="@Url.Action("Delete", "md_recipe_Recipe", new { area = "recipe" })" detailsUrl="@Url.Action("Details", "md_recipe_Recipe", new { area = "recipe" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="NumberEDV" style="">
                        @Html.DisplayNameFor(model => model[0].NumberEDV)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="GradingCurvId" style="">
                        @Html.DisplayNameFor(model => model[0].GradingCurvId)
                    </th>
                    @*<th editable="false" onclick="sort(this)" colName="MaterialId" style="">
                        @Html.DisplayNameFor(model => model[0].MaterialId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="RecipeTypeId" style="">
                        @Html.DisplayNameFor(model => model[0].RecipeTypeId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="AirContent" style="">
                        @Html.DisplayNameFor(model => model[0].AirContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ConsistencySetPoint" style="">
                        @Html.DisplayNameFor(model => model[0].ConsistencySetPoint)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MaxWCValue" style="">
                        @Html.DisplayNameFor(model => model[0].MaxWCValue)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="HotWater" style="">
                        @Html.DisplayNameFor(model => model[0].HotWater)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ActualValueTolerance" style="">
                        @Html.DisplayNameFor(model => model[0].ActualValueTolerance)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SetPointDeviation" style="">
                        @Html.DisplayNameFor(model => model[0].SetPointDeviation)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MixerFilling" style="">
                        @Html.DisplayNameFor(model => model[0].MixerFilling)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WasteWaterFactor" style="">
                        @Html.DisplayNameFor(model => model[0].WasteWaterFactor)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="BatchProgram" style="">
                        @Html.DisplayNameFor(model => model[0].BatchProgram)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FillMonitoringCement" style="">
                        @Html.DisplayNameFor(model => model[0].FillMonitoringCement)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FillRating" style="">
                        @Html.DisplayNameFor(model => model[0].FillRating)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="CementEmptyingDelay" style="">
                        @Html.DisplayNameFor(model => model[0].CementEmptyingDelay)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WaterEmptyingDelay" style="">
                        @Html.DisplayNameFor(model => model[0].WaterEmptyingDelay)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="AdditiveEmptyingDelay" style="">
                        @Html.DisplayNameFor(model => model[0].AdditiveEmptyingDelay)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="FoamAdditionTime" style="">
                        @Html.DisplayNameFor(model => model[0].FoamAdditionTime)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MixingTime" style="">
                        @Html.DisplayNameFor(model => model[0].MixingTime)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="EmptyingPartlyOpen1" style="">
                        @Html.DisplayNameFor(model => model[0].EmptyingPartlyOpen1)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="EmptyingPartlyOpen2" style="">
                        @Html.DisplayNameFor(model => model[0].EmptyingPartlyOpen2)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="EmptyingOpen" style="">
                        @Html.DisplayNameFor(model => model[0].EmptyingOpen)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SuitabilityGroupId" style="">
                        @Html.DisplayNameFor(model => model[0].SuitabilityGroupId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ConcreteFamilyId" style="">
                        @Html.DisplayNameFor(model => model[0].ConcreteFamilyId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ExposureGroupId" style="">
                        @Html.DisplayNameFor(model => model[0].ExposureGroupId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MaterialGroupId" style="">
                        @Html.DisplayNameFor(model => model[0].MaterialGroupId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MasterUnit" style="">
                        @Html.DisplayNameFor(model => model[0].MasterUnit)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="AirVoidContent" style="">
                        @Html.DisplayNameFor(model => model[0].AirVoidContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WaterContent" style="">
                        @Html.DisplayNameFor(model => model[0].WaterContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ContentOfCement" style="">
                        @Html.DisplayNameFor(model => model[0].ContentOfCement)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Additive" style="">
                        @Html.DisplayNameFor(model => model[0].Additive)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SolidMaterialrest" style="">
                        @Html.DisplayNameFor(model => model[0].SolidMaterialrest)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Aggregate" style="">
                        @Html.DisplayNameFor(model => model[0].Aggregate)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="AggregateFixed" style="">
                        @Html.DisplayNameFor(model => model[0].AggregateFixed)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SurfaceDamp" style="">
                        @Html.DisplayNameFor(model => model[0].SurfaceDamp)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="AdditionWater" style="">
                        @Html.DisplayNameFor(model => model[0].AdditionWater)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WetConcreteDensity" style="">
                        @Html.DisplayNameFor(model => model[0].WetConcreteDensity)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MealGrain" style="">
                        @Html.DisplayNameFor(model => model[0].MealGrain)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MealFineGrain" style="">
                        @Html.DisplayNameFor(model => model[0].MealFineGrain)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="MortarContent" style="">
                        @Html.DisplayNameFor(model => model[0].MortarContent)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="ClementPaste" style="">
                        @Html.DisplayNameFor(model => model[0].ClementPaste)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WZValue" style="">
                        @Html.DisplayNameFor(model => model[0].WZValue)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="WZValueEq" style="">
                        @Html.DisplayNameFor(model => model[0].WZValueEq)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="Price" style="">
                        @Html.DisplayNameFor(model => model[0].Price)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="md_recipe_Recipe">
                    </th>*@
                    <th style="" class="head-filter" columnName="Description" tableName="md_recipe_Recipe">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" value="@ViewBag.Description" />
                    </th>
                    <th style="" class="head-filter" columnName="Number" tableName="md_recipe_Recipe">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" value="@ViewBag.Number" />
                    </th>
                    @*<th style="" class="head-filter" columnName="NumberEDV" tableName="md_recipe_Recipe">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" value="" />
                    </th>*@
                    <th style="" class="head-filter" columnName="GradingCurvId" tableName="md_recipe_Recipe">
                        @Html.DropDownList("GradingCurvId", null, "---Bitte wählen---", htmlAttributes: new { @class = "form-control", @onchange = "headFilterChange(this)"})
                    </th>
                    @*<th style="" class="head-filter" columnName="MaterialId" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="RecipeTypeId" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="AirContent" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="ConsistencySetPoint" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MaxWCValue" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="HotWater" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="ActualValueTolerance" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="SetPointDeviation" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MixerFilling" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="WasteWaterFactor" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="BatchProgram" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="FillMonitoringCement" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="FillRating" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="CementEmptyingDelay" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="WaterEmptyingDelay" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="AdditiveEmptyingDelay" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="FoamAdditionTime" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MixingTime" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="EmptyingPartlyOpen1" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="EmptyingPartlyOpen2" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="EmptyingOpen" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="SuitabilityGroupId" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="ConcreteFamilyId" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="ExposureGroupId" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MaterialGroupId" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MasterUnit" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="AirVoidContent" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="WaterContent" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="ContentOfCement" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="Additive" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="SolidMaterialrest" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="Aggregate" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="AggregateFixed" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="SurfaceDamp" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="AdditionWater" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="WetConcreteDensity" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MealGrain" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MealFineGrain" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="MortarContent" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="ClementPaste" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="WZValue" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="WZValueEq" tableName="md_recipe_Recipe">
                    </th>*@
                    <th style="" class="head-filter" columnName="Price" tableName="md_recipe_Recipe">
                        @*<input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" value="" />*@
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Description" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="Number" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        @*<td class="column-value" isKey="false" columnName="NumberEDV" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.NumberEDV)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="GradingCurvId" style="" tableName="md_recipe_Recipe">
                            @*@Html.DisplayFor(modelItem => item.Lims_gradingCurv_GradingCurv.Description)*@
                            @(item.Lims_gradingCurv_GradingCurv !=null? item.Lims_gradingCurv_GradingCurv.SieveLineNumber + " ["+  item.Lims_gradingCurv_GradingCurv.Description +"]" : "")
                        </td>
                        @*<td class="column-value" isKey="false" columnName="MaterialId" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MaterialId)
                        </td>
                        <td class="column-value" isKey="false" columnName="RecipeTypeId" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.RecipeTypeId)
                        </td>
                        <td class="column-value" isKey="false" columnName="AirContent" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.AirContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="ConsistencySetPoint" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.ConsistencySetPoint)
                        </td>
                        <td class="column-value" isKey="false" columnName="MaxWCValue" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MaxWCValue)
                        </td>
                        <td class="column-value" isKey="false" columnName="HotWater" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.HotWater)
                        </td>
                        <td class="column-value" isKey="false" columnName="ActualValueTolerance" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.ActualValueTolerance)
                        </td>
                        <td class="column-value" isKey="false" columnName="SetPointDeviation" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.SetPointDeviation)
                        </td>
                        <td class="column-value" isKey="false" columnName="MixerFilling" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MixerFilling)
                        </td>
                        <td class="column-value" isKey="false" columnName="WasteWaterFactor" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.WasteWaterFactor)
                        </td>
                        <td class="column-value" isKey="false" columnName="BatchProgram" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.BatchProgram)
                        </td>
                        <td class="column-value" isKey="false" columnName="FillMonitoringCement" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.FillMonitoringCement)
                        </td>
                        <td class="column-value" isKey="false" columnName="FillRating" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.FillRating)
                        </td>
                        <td class="column-value" isKey="false" columnName="CementEmptyingDelay" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.CementEmptyingDelay)
                        </td>
                        <td class="column-value" isKey="false" columnName="WaterEmptyingDelay" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.WaterEmptyingDelay)
                        </td>
                        <td class="column-value" isKey="false" columnName="AdditiveEmptyingDelay" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.AdditiveEmptyingDelay)
                        </td>
                        <td class="column-value" isKey="false" columnName="FoamAdditionTime" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.FoamAdditionTime)
                        </td>
                        <td class="column-value" isKey="false" columnName="MixingTime" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MixingTime)
                        </td>
                        <td class="column-value" isKey="false" columnName="EmptyingPartlyOpen1" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.EmptyingPartlyOpen1)
                        </td>
                        <td class="column-value" isKey="false" columnName="EmptyingPartlyOpen2" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.EmptyingPartlyOpen2)
                        </td>
                        <td class="column-value" isKey="false" columnName="EmptyingOpen" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.EmptyingOpen)
                        </td>
                        <td class="column-value" isKey="false" columnName="SuitabilityGroupId" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.SuitabilityGroupId)
                        </td>
                        <td class="column-value" isKey="false" columnName="ConcreteFamilyId" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.ConcreteFamilyId)
                        </td>
                        <td class="column-value" isKey="false" columnName="ExposureGroupId" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.ExposureGroupId)
                        </td>
                        <td class="column-value" isKey="false" columnName="MaterialGroupId" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MaterialGroupId)
                        </td>
                        <td class="column-value" isKey="false" columnName="MasterUnit" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MasterUnit)
                        </td>
                        <td class="column-value" isKey="false" columnName="AirVoidContent" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.AirVoidContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="WaterContent" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.WaterContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="ContentOfCement" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.ContentOfCement)
                        </td>
                        <td class="column-value" isKey="false" columnName="Additive" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Additive)
                        </td>
                        <td class="column-value" isKey="false" columnName="SolidMaterialrest" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.SolidMaterialrest)
                        </td>
                        <td class="column-value" isKey="false" columnName="Aggregate" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Aggregate)
                        </td>
                        <td class="column-value" isKey="false" columnName="AggregateFixed" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.AggregateFixed)
                        </td>
                        <td class="column-value" isKey="false" columnName="SurfaceDamp" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.SurfaceDamp)
                        </td>
                        <td class="column-value" isKey="false" columnName="AdditionWater" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.AdditionWater)
                        </td>
                        <td class="column-value" isKey="false" columnName="WetConcreteDensity" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.WetConcreteDensity)
                        </td>
                        <td class="column-value" isKey="false" columnName="MealGrain" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MealGrain)
                        </td>
                        <td class="column-value" isKey="false" columnName="MealFineGrain" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MealFineGrain)
                        </td>
                        <td class="column-value" isKey="false" columnName="MortarContent" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.MortarContent)
                        </td>
                        <td class="column-value" isKey="false" columnName="ClementPaste" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.ClementPaste)
                        </td>
                        <td class="column-value" isKey="false" columnName="WZValue" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.WZValue)
                        </td>
                        <td class="column-value" isKey="false" columnName="WZValueEq" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.WZValueEq)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="Price" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-default" href="@Url.Action("Create","md_recipe_Recipe", new { area = "recipe" })"><i class="fa fa-plus"></i> Neues Rezept</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_recipe_Recipe", new { area = "recipe" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
