﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Kunden auswählen";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("ChooseMaterial","RetardationTime", new { area = "MasterData" } )" class="table table-hover table-condensed" tablename="md_masterData_Material">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="display:none">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="ArticleNumber" style="">@Html.DisplayNameFor(model => model[0].ArticleNumber)</th>
                    <th editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</th>
                </tr>
                <tr>
                    <th style="display:none" class="head-filter" columnname="Id" tablename="md_masterData_Material"></th>
                    <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material"><input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(this)" type="text" placeholder="Suchen" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseMaterial(this)">
                        <td columnname="Id" style="display:none" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="ArticleNumber" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.ArticleNumber)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Material">@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
<script>
    function chooseMaterial(e) {
        $("#MaterialId").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#md_material_Material_Name").val($(e).closest("tr").find("td[columnname='Name']").text().trim());
        $("#md_material_Material_ArticleNumber").val($(e).closest("tr").find("td[columnname='ArticleNumber']").text().trim());
        $("#md_material_Material_Id").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#Modal").modal("hide");
    }
</script>

