﻿@model List<PCMS.Areas.MasterData.Models.md_material_RetardationTime>
@using PagedList.Mvc
@{
    ViewBag.Title = "Verarbeitbarkeitszeiten Übersicht";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
    if(Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@{ 
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "20 - 30°C",
        Value = "1",
    });
    listItems.Add(new SelectListItem
    {
        Text = "10 - 20 °C",
        Value = "2"
    });
    listItems.Add(new SelectListItem
    {
        Text = "bis 10°C",
        Value = "3"
    });
}
@*<div class="row">
    <div class="col-md-2">@Html.DropDownListFor(model => model, listItems, null, new { @onchange = "SeasonSearch()", @class = "form-control" })</div>
</div>*@
<div class="row">
    <div class="col-md-2">@Html.DropDownList("Season", listItems, "--Bitte auswählen--", new { @onchange = "SeasonSearch()", @class = "form-control" })</div>
    <div class="col-md-2"><input type="button" class="btn btn-default" value="Übernehmen" style="width:240px;" onclick="ChangeSeason()" /></div>
</div>

<br />
<div style="overflow-x: auto;">
    <table class="table table-hover table-condensed" tablename="RetardationTime" editUrl="@Url.Action("Edit", "RetardationTime", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "RetardationTime", new { area = "masterData" })">
        <thead>
            <tr class="caption">
                <th editable="false" colname="RetardTime" style="">@Html.DisplayNameFor(model => model[0].RetardTime)</th>
                <th editable="true" colname="Value" style="">@Html.DisplayNameFor(model => model[0].Value)</th>
                <th editable="true" colname="MaterialName" style="">@Html.DisplayNameFor(model => model[0].md_material_Material.Name)</th>

            </tr>
        </thead>

        <tbody id="retardBody">
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td class="column-value" columnname="DriverId" style="" tablename="RetardationTime">@Html.DisplayFor(modelItem => item.RetardTime)</td>
                    <td class="column-value" columnname="Lastname" style="" tablename="RetardationTime">@Html.DisplayFor(modelItem => item.Value)</td>
                    <td class="column-value" columnname="Firstname" style="" tablename="RetardationTime">@Html.DisplayFor(modelItem => item.md_material_Material.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function SeasonSearch() {
        $.post("/MasterData/RetardationTime/SelectSeason", { season: $('#Season option:selected').val() }, function (data) {
            $("#retardBody").html(data);
        });
    }

    function ChangeSeason() {
        $.post("/MasterData/RetardationTime/ChangeSeason", { season: $('#Season option:selected').val() }, function (data) {
            alert("gespeichert");
        });
    }
</script>
       



