﻿@model List<PCMS.Areas.MasterData.Models.md_masterData_CustomerRating>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_CustomRating">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Bonitäts Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }

    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_CustomRating">
            <thead>
                <tr class="caption">
                    <th editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</th>
                    <th editable="true" colname="Description" style="">@Html.DisplayNameFor(model => model[0].Description)</th>
                    <th editable="true" colname="Comment" style="">@Html.DisplayNameFor(model => model[0].Comment)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseRa(this)">
                        <td columnname="Id" style="" tablename="md_masterData_CustomRating">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Description" style="" tablename="md_masterData_CustomRating">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td columnname="Comment" style="" tablename="md_masterData_CustomRating">@Html.DisplayFor(modelItem => item.Comment)<td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
        function chooseRa(e) {
            $("#custRating_Description").val($(e).closest("tr").find("td[columnname='Description']").text().trim());
            $("#rId input").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
            $("#ModalChild").modal("hide");
        }
</script>
