﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Baustelle löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   @Html.HiddenFor(model=>model.constructionSite.Id)

    <div>Möchten sie den Kunden "@Html.DisplayTextFor(model => model.constructionSite.Name)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}