﻿@model IEnumerable<PCMS.Models.Menu>

@{
    //ViewBag.Title = "MenuPartial";
    Layout = null;
    //Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    @*<input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>*@
                    <select class="form-control" id="selectedFacility" onChange="facilityChange()">
                        @Html.Raw(ViewBag.Facility)
                    </select>
                </div>
                <!-- /input-group -->
            </li>

            @Html.Raw(ViewBag.menu)

        </ul>
    </div>
    <script type="text/javascript">
        function facilityChange() {
            if($("#selectedFacility").val() === -1)
                return;


            $.ajax({
                url : '@Url.Action("facilityChange", "Menu")',
                type : 'POST',
                data : {
                    'fid' : $("#selectedFacility").val()
                },
                dataType:'json',
                success : function(data) {              
                    window.location.reload();
                },
                error : function(request,error)
                {
                    alert("Es ist ein Fehler aufgetreten");
                }
            });
        }

    </script>
</div>


